/* line 3, ../sass/modules/_biomaterials.scss */
.color-label {
  display: inline-block;
  height: 15px;
  width: 45px;
  padding: 2px 4px;
  background-color: #fff;
  margin-bottom: -4px;
  border: 1px solid #bbbbbb;
}

/* line 13, ../sass/modules/_biomaterials.scss */
.tubes.Grid {
  width: auto;
  margin: 0;
}

/* line 19, ../sass/modules/_biomaterials.scss */
.horizontal li {
  display: inline-block;
  font-size: 1.3em;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
/* line 26, ../sass/modules/_biomaterials.scss */
.horizontal li.active {
  background: #0099ff;
  cursor: default;
}
/* line 30, ../sass/modules/_biomaterials.scss */
.horizontal li.active a {
  color: #fff;
  text-decoration: none;
}

/* line 38, ../sass/modules/_biomaterials.scss */
td.status-code-0.urgent {
  background-color: red;
  color: #fff;
}
/* line 41, ../sass/modules/_biomaterials.scss */
td.status-code-0.urgent .status-name, td.status-code-0.urgent .Warning {
  color: #fff;
}

/* line 47, ../sass/modules/_biomaterials.scss */
tr:hover td.status-code-0.urgent {
  background-color: red;
}

/* line 51, ../sass/modules/_biomaterials.scss */
td.status-code-2, td.status-code-2 .Warning {
  color: #bbb;
}

/* line 56, ../sass/modules/_biomaterials.scss */
.status-code-0 .status-name {
  color: red;
}

/* line 62, ../sass/modules/_biomaterials.scss */
.status-code-1 .status-name {
  color: #000000;
}

/* line 68, ../sass/modules/_biomaterials.scss */
.status-code-2 .status-name {
  color: green;
}

/* line 73, ../sass/modules/_biomaterials.scss */
.biomaterials-head-filter {
  margin-bottom: 15px;
  padding: 1em 1em 2em;
  border-bottom: 1px solid #d4d4d4;
}

/* line 79, ../sass/modules/_biomaterials.scss */
.biomaterials-datatime {
  width: 475px;
  float: left;
}
/* line 82, ../sass/modules/_biomaterials.scss */
.biomaterials-datatime .DayScroller {
  float: none;
}

/* line 87, ../sass/modules/_biomaterials.scss */
.biomaterials-department {
  width: 355px;
  float: left;
}

/* line 94, ../sass/modules/_biomaterials.scss */
.biomaterials-print {
  float: right;
  margin-top: 19px;
}

/* line 101, ../sass/modules/_biomaterials.scss */
.biomaterials-table-filter {
  margin-bottom: 25px;
}

/* line 105, ../sass/modules/_biomaterials.scss */
.biomaterials-action-type {
  float: left;
  width: 300px;
  padding-right: 25px;
}

/* line 111, ../sass/modules/_biomaterials.scss */
.biomaterials-status {
  float: left;
  width: 450px;
}

/* line 116, ../sass/modules/_biomaterials.scss */
.biomaterials-send-to-lab {
  float: right;
  margin-top: 18px;
}
