/* line 3, ../sass/print.scss */
body * {
  padding: 0;
  margin: 0;
  text-indent: normal;
  list-style: none;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif; }

/* line 12, ../sass/print.scss */
h1 {
  font-size: 14pt;
  text-align: center;
  font-weight: normal;
  margin: 10pt 0 12pt; }

/* line 18, ../sass/print.scss */
h2 {
  text-align: center;
  margin-bottom: 12pt;
  font-weight: normal; }

/* line 23, ../sass/print.scss */
.EditLine {
  border-bottom: 0.5pt solid black;
  font-style: italic; }
  /* line 29, ../sass/print.scss */
  .EditLine.Empty {
    display: block;
    width: 80pt; }

/* line 34, ../sass/print.scss */
p {
  margin-bottom: 3pt; }

/* line 37, ../sass/print.scss */
.PrintTitle {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12pt; }
  /* line 42, ../sass/print.scss */
  .PrintTitle table {
    border: none; }
    /* line 45, ../sass/print.scss */
    .PrintTitle table td {
      vertical-align: top;
      border: none; }
      /* line 50, ../sass/print.scss */
      .PrintTitle table td table {
        float: right;
        margin: 0 0 20pt; }

/* line 59, ../sass/print.scss */
.Logo {
  text-align: left; }
  /* line 62, ../sass/print.scss */
  .Logo img {
    margin-top: 10pt;
    margin-left: 10%; }

/* line 67, ../sass/print.scss */
.FormCode {
  text-align: right; }

/* line 70, ../sass/print.scss */
.FormCode p {
  margin-bottom: 16pt; }

/* line 73, ../sass/print.scss */
.Form {
  margin: 20pt 0 0;
  margin-bottom: 12pt; }

/* line 77, ../sass/print.scss */
.Form li {
  margin-bottom: 3pt; }

/* line 80, ../sass/print.scss */
.Legend {
  font-size: 7pt; }

/* line 83, ../sass/print.scss */
table {
  border: 0.5pt solid black;
  border-collapse: collapse; }
  /* line 89, ../sass/print.scss */
  table.Styled th, table.Styled td {
    font-weight: normal;
    border: 0.5pt solid black;
    padding: 5pt; }

/* line 96, ../sass/print.scss */
.DateCol {
  width: 10%; }

/* line 100, ../sass/print.scss */
.Button.Print {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5pt 10pt;
  opacity: 0.5; }
  /* line 108, ../sass/print.scss */
  .Button.Print:hover {
    opacity: 1; }

/* line 113, ../sass/print.scss */
body {
  font-size: 9pt; }

@page {}
/* line 119, ../sass/print.scss */
#wrapper {
  width: 100%;
  font-size: 9pt; }
