@import "base";

.Styled.Button {
	@include background(linear-gradient(#f7f7f7 0%, #d3d3d3 100%));
	@include border-radius(6px);
    @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 0.1em 0);
	margin:0;
	border-top:2px solid #B3B3B3;
	border-right:2px solid #bbbbbb;
	border-bottom:2px solid #B3B3B3;
	border-left:2px solid #bbbbbb;
	cursor:pointer;
	padding:0.4em 1.5em;

	min-width:100px;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	line-height:1.28em;
	text-align: center;

	&:hover {

		border-top:2px solid #128EDC;
		border-right:2px solid #128EDC;
		border-bottom:2px solid #128EDC;
		border-left:2px solid #128EDC;

	/*border:2px solid #128EDC;*/
	}

	&:active {
		@include box-shadow(none);
		color: rgba(0, 0, 0, .5);
	}
	&.AddButton {
		padding-left: 0.5em;
		.Icon {
			vertical-align: middle;
			margin-top: -0.1em;
			margin-left:0.5em;
		}
	}


	&[disabled] {
		@include opacity(0.5);
		cursor: default;
		border:2px solid #B3B3B3;
	}
	&.Submit {
		cursor: pointer;
	}
	&.Hidden {
		display: none;
	}
	&.Disabled {
		@include opacity(0.5);
		cursor: default;
		border:2px solid #B3B3B3;
	}


	&.Green {
		@include background(linear-gradient(#52c43d 0%, #30a31a 41%, #30a31a 62%, #52c43d 100%));
		border: 2px solid #31A31B;
		color:#fff;

		&:hover {
			@extend .Styled.Button:hover;
		}
		&:active {
			@include box-shadow(none);
			color: rgba(0, 0, 0, .5);
		}
	}
	&.BlueBorder {
		@extend .Styled.Button:hover;
		border-top:2px solid #128EDC;
		border-right:2px solid #128EDC;
		border-bottom:2px solid #128EDC;
		border-left:2px solid #128EDC;
		position: relative;
		//top:-2px;
	}
	&.Pushed {
		@include background(linear-gradient(#b7b7b7 0%, #efefef 82%, #f6f6f6 100%));
		border-top: 2px solid #a0a0a0;
		border-right: 2px solid #d6d6d6;
		border-left: 2px solid #d6d6d6;
		border-bottom: 2px solid #e0e0e0;
	}
	&.Dropdown {
		border-radius: 0;
		margin-left: 0;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-topleft: 4px;
	}
	&.DropdownToggle {
		border-radius: 0;
		margin-left: 0;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-topright: 4px;
	}
    .Icon {
    	margin-left: -0.8em;
    }
	@include filter-gradient-fix;
}

a.Button {
	color: black;
	&:active {
		i {
			opacity: 0.5;
		}
	}
}

.doc-save-options {
	// display: none;
	position: absolute;
	padding: .5em;
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	background-color: white;
	color: #3F3F40;
	font-size: 1.2em;
	cursor: pointer;
}