<div class="span12">
	<div class="pull-left">
		<button type="button" class="back-to-document-list review-nav" data-icon-primary="icon-list">Вернуться к списку</button>
		<%if (showStepper) {%>
			<button type="button" class="prev-document review-nav" data-icon-primary="icon-chevron-left" data-notext="true" style="margin-left: 1em;">Предыдущий документ</button>
			<button type="button" class="next-document review-nav" data-icon-secondary="icon-chevron-right" data-notext="true">Следующий документ</button>
		<%}%>
		<button type="button" class="assign-to-me review-nav" style="margin-left: 1em;">Назначить на меня</button>
	</div>
	<div class="pull-right">
		<%if (selectedDocuments.length == 1) {%>
            <span class="document-print-button-single"></span>
		<%} else {%>
			<span class="document-print-button"></span>
			<span class="document-print-button-separated"></span>
		<%}%>
	</div>
</div>
