<div class="span12">
	<div class="pull-left">
		<button type="button" class="back-to-document-list review-nav" data-icon-primary="icon-list">Вернуться к списку</button>
		<%if (selectedDocuments.length == 1) {%>
			<button type="button" class="prev-document review-nav" data-icon-primary="icon-chevron-left" data-notext="true" style="margin-left: 1em;">Предыдущий документ</button>
			<button type="button" class="next-document review-nav" data-icon-secondary="icon-chevron-right" data-notext="true">Следующий документ</button>
		<%}%>
	</div>
	<div class="pull-right">
		<%if (selectedDocuments.length == 1) {%>
			<button type="button" class="print-documents single-page review-nav" data-icon-primary="icon-print">Печать</button>
		<%} else {%>
		<!--<div class="buttonset">
			<button data-icon-primary="icon-print">Печать</button>
			<button class="show-print-options" data-icon-primary="icon-caret-down" data-notext="true">Варианты</button>
		</div>
		<ul class="print-options" style="position: absolute;">
			<li>
				<a href="#" class="Print" data-print-template="consent_to_the_examination" data-print-data="patient">Согласие на обследование ВИЧ</a>
			</li>
			<li>
				<a href="#" class="Print" data-print-template="consent_to_treatment_representative" data-print-data="patient">Согласие на обследование и лечение (представитель)</a>
			</li>
			<li>
				<a href="#" class="Print" data-print-template="consent_to_treatment" data-print-data="patient">Согласие пациента на обследование и лечение пациент</a>
			</li>
			<li>
				<a href="#" class="Print" data-print-template="consent_to_the_processing" data-print-data="patient">Согласие субъекта на обработку персональных данных пациент</a>
			</li>
			<li>
				<a href="#" class="Print" data-print-template="consent_to_the_processing_representative" data-print-data="patient">Согласие субъекта на обработку персональных данных (представитель)</a>
			</li>
		</ul>-->
			<button type="button" class="print-documents single-page review-nav" data-icon-primary="icon-print">Печатать вместе</button>
			<button type="button" class="print-documents multiple-pages review-nav" data-icon-primary="icon-print">Печатать раздельно</button>
		<%}%>
	</div>
</div>