<% if (!$.isEmptyObject(infections)) { %>
<div>
	<h4 style="text-decoration:underline;"><strong>Данные об инфекционных осложнениях:</strong></h4>
	<% for(var i in infections) { %>
		<% if(infections[i].BeginDate) {%>
	    	<div style="font-size:19px; line-height:35px;">
	    		<span><strong>Тип инфекции/диагноз: </strong><%= infections[i].Name %></span>
	    		<span style="margin-left:10px;"><strong>Дата начала: </strong><%= moment(infections[i].BeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
	    		<% if(infections[i].EndDate) {%>
	    			<span style="margin-left:10px;"><strong>Дата окончания: </strong><%= moment(infections[i].EndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
	    		<% } %>
	    		<span style="margin-left:10px;"><strong>Этиология: </strong><%= infections[i].Etiology %></span>
	    	</div>
	    <% } else  {%>
	    	<div style="font-size:19px; line-height:35px;">
	    		<strong><%= infections[i].Name %>: </strong><%=infections[i].Value%>
	    	</div>
	    <% } %>
    <% } %>
</div>
<% } %>
<% if(therapies.length) {%>
<div style="margin-top:20px;">
	<h4 style="text-decoration:underline;"><strong>Противоинфекционная терапия:</strong></h4>
	<% for(var i in therapies) { %>
		<div style="font-size:19px; line-height:35px;">
			<span><strong>Тип терапии: </strong><%= therapies[i].infectTherapyType %></span>
			<span style="margin-left:10px;"><strong>Наименование препарата: </strong><%= therapies[i].infectDrugName %></span>
			<span style="margin-left:10px;"><strong>Дата назначения: </strong><%= moment(therapies[i].infectDrugBeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
			<% if(therapies[i].infectDrugEndDate) {%>
				<span style="margin-left:10px;"><strong>Дата отмены: </strong><%= moment(therapies[i].infectDrugEndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
			<% } %>
		</div>
	<% } %>
</div>
<% } %>
