<% if (!$.isEmptyObject(infections)) { %>
<div>
	<h4 style="text-decoration:underline;"><strong>Данные об инфекционных осложнениях:</strong></h4>
	<% for(var i in infections) { %>
		<% if(infections[i].BeginDate) {%>
	    	<div style="font-size:19px; line-height:35px;">
	    		<span><strong>Тип инфекции/диагноз: </strong><%= infections[i].Name %></span>
	    		<span style="margin-left:10px;"><strong>Дата начала: </strong><%= moment(infections[i].BeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
	    		<% if(infections[i].EndDate) {%>
	    			<span style="margin-left:10px;"><strong>Дата окончания: </strong><%= moment(infections[i].EndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
	    		<% } %>
	    		<span style="margin-left:10px;"><strong>Этиология: </strong><%= infections[i].Etiology %></span>
	    	</div>
	    <% } else  {%>
	    	<div style="font-size:19px; line-height:35px;">
	    		<strong><%= infections[i].Name %>: </strong><%=infections[i].Value%>
	    	</div>
	    <% } %>
    <% } %>
</div>
<% } %>
<% if(therapies.infectEmpiric.length || therapies.infectProphylaxis.length || therapies.infectTelic.length) {%>
<div style="margin-top:20px;">
	<h4 style="text-decoration:underline;"><strong>Противоинфекционная терапия:</strong></h4>
	<% if(therapies.infectProphylaxis.length) {%>
		<div style="font-size:18px; line-height:35px; margin-top:16px; ">
			<h5 style="margin-left:10px;font-size:20px; margin-bottom: 6px;"><strong>Профилактика</strong></h5>
			<% for(var p in therapies.infectProphylaxis) { %>
			<div>
				<span style="margin-left:10px;"><strong>Наименование препарата: </strong><%= therapies.infectProphylaxis[p].infectProphylaxisName %></span>
				<span style="margin-left:10px;"><strong>Дата назначения: </strong><%= moment(therapies.infectProphylaxis[p].infectProphylaxisBeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% if(therapies.infectProphylaxis[p].infectProphylaxisEndDate) {%>
				<span style="margin-left:10px;"><strong>Дата отмены: </strong><%= moment(therapies.infectProphylaxis[p].infectProphylaxisEndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% } %>
			</div>
			<% } %>
		</div>
	<% } %>
	<% if(therapies.infectEmpiric.length) {%>
		<div style="font-size:18px; line-height:35px; margin-top:16px; ">
			<h5 style="margin-left:10px;font-size:20px; margin-bottom: 6px;"><strong>Эмпирическая</strong></h5>
			<% for(var p in therapies.infectEmpiric) { %>
			<div>
				<span style="margin-left:10px;"><strong>Наименование препарата: </strong><%= therapies.infectEmpiric[p].infectEmpiricName %></span>
				<span style="margin-left:10px;"><strong>Дата назначения: </strong><%= moment(therapies.infectEmpiric[p].infectEmpiricBeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% if(therapies.infectEmpiric[p].infectEmpiricEndDate) {%>
					<span style="margin-left:10px;"><strong>Дата отмены: </strong><%= moment(therapies.infectEmpiric[p].infectEmpiricEndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% } %>
			</div>
			<% } %>
		</div>
	<% } %>
	<% if(therapies.infectTelic.length) {%>
		<div style="font-size:18px; line-height:35px; margin-top:16px; ">
			<h5 style="margin-left:10px;font-size:20px; margin-bottom: 6px;"><strong>Целенаправленная</strong></h5>
			<% for(var p in therapies.infectTelic) { %>
			<div>
				<span style="margin-left:10px;"><strong>Наименование препарата: </strong><%= therapies.infectTelic[p].infectTelicName %></span>
				<span style="margin-left:10px;"><strong>Дата назначения: </strong><%= moment(therapies.infectTelic[p].infectTelicBeginDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% if(therapies.infectTelic[p].infectTelicEndDate) {%>
					<span style="margin-left:10px;"><strong>Дата отмены: </strong><%= moment(therapies.infectTelic[p].infectTelicEndDate, 'YYYY-MM-DD HH:mm:ss').format('DD.MM.YYYY') %></span>
				<% } %>
			</div>
			<% } %>
		</div>
	<% } %>
</div>
<% } %>
