<%if (document.loaded) {%>
	<div class="Inspection Clearfix">
		<div class="SingleHeader" style="position: relative;">
			<h2 style="float: none;padding-right: 2em;"><%= document.name %></h2>
			<div class="SingleInfo" style="float: none">
				<%if (document.endDate) {%>
					<span class="Date">Дата закрытия: <%= document.endDate %></span> |
				<%}%>
				<span class="Doctor">
						<%= document.doctorName + (document.doctorSpecs ? (', ' + document.doctorSpecs) : '')%>
				</span>
			</div>
			<%if (document.showIcons) {%>
				<%if (!document.endDate) {%>
					<a href="#" class="edit-document" data-document-id="<%=document.id%>" style="text-decoration: none;" title="Редактировать">
						<i class="icon-pencil" style="position: absolute;top: 0;right: 1.8em;"></i>
					</a>
				<%} else {%>
					<a style="text-decoration: none;" title="Документ закрыт">
						<i class="icon-lock" style="position: absolute;top: 0;right: 1.8em;"></i>
					</a>
				<%}%>

                <%if (!document.isOldType) {%>
				<a href="#" class="duplicate-document" data-template-id="<%=document.typeId%>" style="text-decoration: none;" title="Дублировать">
					<i class="icon-copy" style="position: absolute;top: 0;right: 0;"></i>
				</a>
				<%}%>

			<%}%>
		</div>
		<ul class="sheet-rows"></ul>
		<div class="sheet-rows-infect"></div>
	</div>
<%} else {%>
	<div class="SingleHeader Clearfix">
		<h3>Загрузка...</h3>
	</div>
<%}%>
