<%if (attr.type === 'TABLE') {%>
    <% console.log(attr)%>
    <strong><%= attr.name %>:</strong>
    <table class="table-widget">
        <thead>
            <tr>
                <% _.each(attr.value.scope, function(columnName){%>
                    <th><%= columnName %></th>
                <%})%>
            </tr>
        </thead>
        <tbody>
            <% _.each(attr.value.values, function(tr){%>
                <tr>
                    <% _.each(tr.values, function(td){%>
                        <%if (td.value.indexOf('.png') > -1 || td.value.indexOf('.jpg') > -1 || td.value.indexOf('.gif') > -1 || td.value.indexOf('.bmp') > -1) {%>
                            <td><a href="<%= td.value%>"><%= td.value%></a></td>
                        <%} else {%>
                            <td><%= td.value%></td>
                        <%}%>
                    <%})%>
                </tr>
            <%})%>
        </tbody>
    </table>
<%} else {%>
    <strong><%= attr.name %>:</strong> <%= attr.value %> <%= attr.unit %>
<%}%>
