<%if (attr.type === 'TABLE') {%>
    <strong><%= attr.name %>:</strong>
    <table class="table-widget">
        <thead>
            <tr>
                <% _.each(attr.value.scope, function(columnName){%>
                    <th><%= columnName %></th>
                <%})%>
            </tr>
        </thead>
        <tbody>
            <% _.each(attr.value.values, function(tr){%>
                <tr>
                    <% _.each(tr, function(td){%>
                        <td><%= td%></td>
                    <%})%>
                </tr>
            <%})%>
        </tbody>
    </table>
<%} else {%>
    <strong><%= attr.name %>:</strong> <%= attr.value %> <%= attr.unit %>
<%}%>
