# editorconfig.org
# плагин для Sublime https://github.com/sindresorhus/editorconfig-sublime
# плагин для IDEA http://onzots.com/editorconfig-jetbrains.html

root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

