<% if(data.item){ %>
	<table class="my-grid">
		<tr>
			<td>Препарат</td>
			<td></td>
			<td>Активные вещества</td>
			<td></td>
			<td>Годен до</td>
			<!-- <td>Склад</td> -->
		</tr>
        
        <tr <% if(data.where){%>  class="<%= data.where%>"<%}%>>
            <td>
                <!-- <%= data.item.rlsNomenId %> -->	

                <%= data.item.tradeLocalName%>
                <% if(data.item.isExpirationDateComesToEnd){%>*<%}%>
            </td>
            <td>
                <%= data.item.tradeName %>
            </td>
            <td>
                <%= data.item.actMattersName %>
            </td>
            <td>
                <%= data.item.actMattersLocalName %>
            </td>


            <td>
                <%= data.item.bestBefore%>
            </td>
            <!-- <td> -->
            <!--     <%= data.item.storageName%> -->
            <!-- </td> -->
        </tr>

        
	</table>
<% } %>
