<% if(data.items.length){ %>
    <table class="my-grid sklad">
        <tr>
            <td style="width:18%;">Торговое название</td>
            <td style="width:18%;">Латинское название</td>
            <td style="width:12%;">Активные вещества</td>
            <td style="width:8%;">Дозировка/Ед.изм</td>
            <td style="width:8%;">Форма выпуска</td>
            <td style="width:8%;">Годен до</td>
            <td style="width: 16%;">Наличие</td>
        </tr>
        <% _.each(data.items, function(item) { %>
            <tr <% if(item.balanceOfGoodData.where){%>  class="<%= item.balanceOfGoodData.where%>"<%}%>>
                <td>
                    <!-- <%= item.rlsNomenId %> -->

                    <%= item.tradeLocalName%>
                    <% if(item.isExpirationDateComesToEnd){%>*<%}%>
                </td>
                <td>
                    <%= item.tradeName %>
                </td>
                <td>
                    <%= item.actMattersName %>
                </td>
                <td>
                    <%= item.dosageValue %> <%= item.dosageUnitCode %>
                </td>
                <td>
                    <%= item.form + ', ' + item.filling %>
                </td>
                <td >
                    <span <% if(item.isExpirationDateComesToEnd){%>style="color:red;"<%}%>>
                        <%= moment(item.balanceOfGoodData.bestBefore).format('DD.MM.YYYY') %>
                    </span>
                </td>
                <% if(item.balanceOfGoodData.where){%>
                <td>
                    <% if(item.balanceOfGoodData.where === 'inCurrentDepartment'){%>
                    На складе отделения
                    <%}%>
                    <% if(item.balanceOfGoodData.where === 'inOtherDepartments'){%>
                    На складах других отделений
                    <%}%>
                    <% if(item.balanceOfGoodData.where === 'inHospital'){%>
                    На складе ЛПУ
                    <%}%>
                </td>
                <%}%>
            </tr>
        <% }); %>
    </table>
<% } %>
