<div class="clearfix" style="margin-bottom:.75em;">
	<button data-create-prescription>Создать</button>
    <ul style="float: right;">
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #f57177;"></span>        Выполняется
        </li>
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #07ace3;"></span> 
        Назначено
        </li>
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #b2a7c9;"></span> 
        Не исполнено
        </li>
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #94cf51;"></span> 
        Испонено
        </li>
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #999;"></span> 
        Отменено
        </li>
        <li>
        <span style="display:inline-block;width:3em;height: 1em;background-color: #FFEA4F;"></span> 
        Стоп
        </li>
    </ul>


</div>
