<div class="row-fluid"><div class="span12 errors" style="color: red;"></div></div>
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            <div class="span12">
                <label>
                    Лекарственные  препараты
                </label>
                <table id="drugs" class="my-grid"> 
                    <tr>
                        <th style="width: 70%;">Наименование</th> 
                        <th style="width: 15%;">Доза</th>
                        <th style="width: 15%;">Ед.из</th>
                        <th style="width: 10%;"></th>
                    </tr>
                    <tr data-each-drug="prescription.drugs">
                        <td>
                            <div data-text="drug.name"/>
                            </td> 
                            <td>
                                <input type="text" data-value="drug.dose"> 
                            </td>
                            <td>
                                <select id="units" name="units" data-value="drug.unit" >
                                    <option data-each-unit="drug.units"  data-value="unit:id" data-text="unit:code"></option>
                                </select>
                            </td>
                            <td>
                                <span data-on-click="drug:delete" class="icon-remove"></span>
                            </td>
                        </tr>
                    </table>
                    <button class="add-drug" style="float:right;">Добавить препарат</button>
                </div>
            </div>

            <div class="row-fluid" style="margin-bottom:1em;">
                <div class="span12">
                    <label for="moa">
                        Способ введения
                    </label><br />
                    <select id="moa" name="moa" style="width:250px;margin-bottom:1em;" data-value="prescription.moaId">
                        <option value="">...</option>
                        <%_.each(data.administration, function(opt){%>
                        <option value="<%=opt.id%>" > <%=opt.name%></option>
                        <%})%>
                    </select>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label for="voa">
                        Скорость введения
                    </label>
                    <input name="voa" id="voa" type="text" style="width: auto;" data-value="prescription.voa">мл/ч
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label for="note">
                        Примечание
                        <textarea  rows="8" cols="45"  name="note" id="note" data-value="prescription.note"></textarea>
                    </label>
                </div>
            </div>


        </div>
        <div class="span5">
            <label>Исполнение</label>

            <table id="intervals" class="my-grid"> 
                <tr><th>Начало</th>
                    <th>Окончание</th>
                    <th>Примечание</th>
                    <th>&nbsp;</th>
                </tr>
                <tbody>
                <tr data-each-interval="prescription.assigmentIntervals">
                    <td>
                        <input data-id="interval.cid | add -from" class="datetime_entry" type="text" data-value="interval.beginDateTime | datetime"> 
                    </td><td>
                        <input  data-id="interval.cid | add -to" class="datetime_entry" type="text" data-value="interval.endDateTime | datetime">
                    </td>
                    <td>
                        <input type="text" data-value="interval.note">
                    </td>


                    <td>
                        <span data-show="interval:isNew" data-on-click="interval:delete" class="icon-remove"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button data-on-click="prescription:addInterval" style="float:right;">Добавить время приёма</button>
        </div>
    </div>

    <pre id="debug"></pre>
