<script id="biomaterials-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th>
				<a class="Actions SortCol" data-field="checkbox">Номер</a>
			</th>

			<th>
				<a class="Actions SortCol" data-field="fullName">ФИО</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="sex">Пол</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="birthDate">День рожд.</a>
			</th>
			<th>
				Тип действия
			</th>
			<th>
				Пробирка
			</th>
			<th>
				Статус
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="biomaterials-grid-row" type="text/x-jquery-tmpl">
	<td>
		1
	</td>

	<td>
		2
	</td>
	<td>
		3
	</td>
	<td>
		4
	</td>

	<td>
		5
	</td>
	<td>
		6
	</td>
	<td>
		7
	</td>
</script>

<script id="biomaterials-grid-row-error" type="text/x-jquery-tmpl">
	<td colspan="7">
		Ничего не найдено
	</td>
</script>

<script id="biomaterials-grid-row-default" type="text/x-jquery-tmpl">
	<h3>Введите необходимые данные в поля фильтров</h3>
</script>
