<script id="biomaterials-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th>
				<input type="checkbox" name="all">
			</th>

			<th>
				<a class="Actions SortCol" data-field="fullName">ФИО</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="sex">Пол</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="birthDate">День рожд.</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="actionType">Тип действия</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="testTube">Пробирка</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="status">Статус</a>

			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="biomaterials-grid-row" type="text/x-jquery-tmpl">
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
		{{if status.code!=2}}
		<input type="checkbox" name="bio">
		{{/if}}
	</td>

	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
		${fullName}
	</td>
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
	${sex}
	</td>
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
		{{formatDate birthDate}}

	</td>
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}} ">
	<b>${actionType.name}</b>  <span class="Warning">срочно</span>
	</td>
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
		${testTube.name} <span class="color-label" style="background-color:${testTube.color};"></span>
	</td>
	<td class="status-code-${status.code}{{if actionType.isUrgent}} urgent{{/if}}">
		<span class="status-name">${status.name}</span>
	</td>
</script>

<script id="biomaterials-grid-row-error" type="text/x-jquery-tmpl">
	<td colspan="7">
		Ничего не найдено
	</td>
</script>

<script id="biomaterials-grid-row-default" type="text/x-jquery-tmpl">
	<h3>Введите необходимые данные в поля фильтров</h3>
</script>
