

<!------------------------------------------------>
<!------------------------------------------------>
<!------------------------------------------------>


<!------------------------------------------------>
<!------------------------------------------------>
<!------------------------------------------------>

<script id="consult-diagnostic-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<!--<tr class="EditTh">-->
		<tr>
			<th>
				<a class="Actions SortCol" data-field="diagnosticDate"><span>Дата и время выполнения</span></a>

				<div class="Filter Hidden">
					<div class="DatePeriod SingleDate">
						<div class="FromTo">
							<input type="text" class="SelectDate" placeholder="дд.мм.гггг" name="diagnosticDate">
						</div>
						<i class="DateIcon Icon"></i>
					</div>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="diagnosticName"><span>Вид консультации</span></a>

				<div class="Filter Hidden">
					<input type="text" name="diagnosticName" placeholder="Консультация"/>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="urgent"><span>Cito</span></a>

				<div class="Filter Hidden">
					<select class="Styled" name="urgent">
						<option selected>...</option>
						<option value="true">Да</option>
						<option value="false">Нет</option>
					</select>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="assignPerson"><span>Направивший врач</span></a>

				<div class="Filter Hidden">
					<input type="text" name="assignPerson" placeholder="ФИО"/>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="execPerson"><span>Выполнивший врач</span></a>

				<div class="Filter Hidden">
					<input type="text" name="execPerson" placeholder="ФИО"/>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="status"><span>Статус</span></a>

				<div class="Filter Hidden">
					<select class="Styled" name="status">
						<option selected>...</option>
						<option value="0">Начато</option>
						<option value="1">Ожидание</option>
						<option value="2">Закончено</option>
						<option value="3">Отменено</option>
						<option value="4">Без&nbsp;результата</option>
					</select>
				</div>
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="consult-diagnostic-grid-row" type="text/x-jquery-tmpl">
	<td>
		{{if diagnosticDate}}
		{{formatDate diagnosticDate}}
		{{else}}
		-
		{{/if}}
	</td>
	<td>
		${diagnosticName.name}
	</td>
	<td>
		{{if urgent}}
		<i class="Icon AttentionIcon"></i>
		{{/if}}
	</td>
	<td>
		${assignPerson.name.raw}
	</td>
	<td>
		${execPerson.name.raw}
	</td>
	<td
	{{if status.id === 0}} class="DoneCell"{{/if}}{{if status.id === 3}} class="CancelledCell"{{/if}}>
	{{if status.name}}
	${status.name}
	{{else}}
	-
	{{/if}}
	</td>
</script>

<script id="consult-diagnostic-grid-default" type="text/x-jquery-tmpl">
	<h3>Записей нет</h3>
</script>
