<script id="examination-grid-department" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<!--<tr class="EditTh">-->
		<tr>
			<th>
				<a class="Actions SortCol" data-field="date"><span>Дата и время осмотра</span></a>
				<div class="Filter Hidden">
					<div class="DatePeriod SingleDate">
						<div class="FromTo">
							<input type="text" class="SelectDate" placeholder="дд.мм.гггг" name="date">
						</div>
						<i class="DateIcon Icon"></i>
					</div>
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="examinationName"><span>Название</span></a>
				<div class="Filter Hidden">
					<input type="text" name="examinationName" placeholder="Название" />
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="doctor"><span>Врач</span></a>
				<div class="Filter Hidden">
					<input type="text" name="doctor" placeholder="ФИО" />
				</div>
			</th>
			<th>
				<a class="Actions SortCol" data-field="specs"><span>Специальность</span></a>
				<div class="Filter Hidden">
					<input type="text" name="specs" placeholder="Специальность" />
				</div>
			</th>
			<th>
				&nbsp;
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="examination-grid-row-department" type="text/x-jquery-tmpl">
	<td class="ExamIdHolder" data-exam-id="${id}">
		{{formatDate assessmentDate}}
	</td>
	<td>
		${assessmentName.name}
	</td>
	<td>
		{{if doctor.name.first || doctor.name.last || doctor.name.middle}}
			{{if doctor.name.last}}
				{{decorate(doctor.name.last, requestData.filter.fullName)}}
			{{/if}}
			{{if doctor.name.first}}
				{{decorate(doctor.name.first, requestData.filter.fullName)}}
			{{/if}}
			{{if doctor.name.middle}}
				{{decorate(doctor.name.middle, requestData.filter.fullName)}}
			{{/if}}
		{{else}}
			{{if doctor.name.raw}}
				{{decorate(doctor.name.raw, requestData.filter.fullName)}}
			{{else}}
				-
			{{/if}}
		{{/if}}
	</td>
	<td>
		{{if doctor.specs.name}}
			${doctor.specs.name}
		{{else}}
			-
		{{/if}}
	</td>
	<td class="ButtonCell">
		<i class="icon-pencil EditExam"></i>
		<!--<button class="Styled Button EditExam"><span>Редактировать</span></button>-->
	</td>
</script>

<script id="examination-grid-department-default" type="text/x-jquery-tmpl">
	<h3>Записей нет</h3>
</script>