<script id="patients-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
			<tr>
				<th>
					<a class="Actions SortCol" data-field="patientCode">Номер</a>
				</th>

				<th>
					<a class="Actions SortCol" data-field="lastName">Фамилия</a>
				</th>
				<th>
					<a class="Actions SortCol" data-field="firstName">Имя</a>
				</th>
				<th>
					<a class="Actions SortCol" data-field="middleName">Отчество</a>
				</th>
				<th>
					<a class="Actions SortCol" data-field="sex">Пол</a>
				</th>
				<th>
					<a class="Actions SortCol" data-field="birthDate">День рожд.</a>
				</th>
				<th>
					Документ
				</th>
				<th>
					Прочее
				</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="patients-grid-row" type="text/x-jquery-tmpl">
	<td>
		<a href="/patients/${id}/"></a>
		{{if patientCode}}
			{{decorate(patientCode, requestData.filter.patientCode)}}
		{{else}}
			-
		{{/if}}
	</td>
	{{if name.first || name.last || name.middle}}
		<td>
			{{if name.last}}
				{{decorate(name.last, requestData.filter.fullName)}}
			{{else}}
				-
			{{/if}}
		</td>
		<td>
			{{if name.first}}
				{{decorate(name.first, requestData.filter.fullName)}}
			{{else}}
				-
			{{/if}}
		</td>
		<td>
			{{if name.middle}}
				{{decorate(name.middle, requestData.filter.fullName)}}
			{{else}}
				-
			{{/if}}
		</td>
	{{else}}
		<td colspan="3">
			{{if name.raw}}
				{{decorate(name.raw, requestData.filter.fullName)}}
			{{else}}
				-
			{{/if}}
		</td>
	{{/if}}
	<td>
		{{if sex=="male"}}
			М
		{{else sex=="female"}}
			Ж
		{{else}}
			-
		{{/if}}
	</td>
	<td>
		{{if birthDate}}
			{{formatDate birthDate}}
		{{else}}
			-
		{{/if}}
	</td>
	<!--<td class="idcards">-->
		<!--{{each(i, idCard) idCards}}
			${idCard.docType.name}: ${idCard.series}-${idCard.number}
		{{/each}}
		{{if snils}}
			СНИЛС: ${snils}
		{{/if}}-->
		<!--<span class="shorten-text">${idCardsShortString}</span>
		<div class="full-text Hidden">
			<ul>
				{{each(i, idCard) idCards}}
				<li><dfn>${idCard.docType.name}:</dfn> ${idCard.series}-${idCard.number}</li>
				{{/each}}
				{{if snils}}
				<li><dfn>СНИЛС:</dfn> ${snils}</li>
				{{/if}}
			</ul>
		</div>-->
	<td class="HasToolTip" data-tooltip-content="#tooltip_${id}">
		<span class="shorten-text">${idCardsShortString}</span>
		<div id="tooltip_${id}" class="ToolTip TopTail">
			<ul>
			   {{each(i, idCard) idCards}}
			   <li><dfn>${idCard.docType.name}:</dfn> ${idCard.series}-${idCard.number}</li>
			   {{/each}}
			   {{if snils}}
			   <li><dfn>СНИЛС:</dfn> ${snils}</li>
			   {{/if}}
			</ul>
		</div>
	</td>
	<td>
		{{if phones.length}}
			{{each(i, phone) phones}}
				{{phone phone.number}}
			{{/each}}
		{{else}}

			{{each(i, relation) relations}}

				{{if relation.phones.length}}
					{{each(i, phone) relation.phones}}
						{{phone phone.number}}
					{{/each}}
				{{/if}}
			{{/each}}
		{{/if}}

	</td>
</script>

<script id="patients-grid-row-error" type="text/x-jquery-tmpl">
	<td colspan="8">
		Ничего не найдено
	</td>
</script>

<script id="patients-grid-row-default" type="text/x-jquery-tmpl">
	<h3>Введите необходимые данные в поля фильтров</h3>
</script>