<header class="Clearfix">
	<h2 class="PopupHeader">Попап биоматериалалалла</h2>

	<div class="PopupActions">
		<button class="Styled Button Disabled BlueBorder"><span>Сохранить</span></button>
		<a href="#" class="ShowHidePopup">Отмена</a>
	</div>
</header>
<section class="PopUpLine">

	<table class="Grid">
		<thead>
		<tr>
			<th><input type="checkbox" name="all" id="select-all"></th>
			<th>Лабораторное исследование</th>

		</tr>
		</thead>
		<tbody>
		<tr>
			<td><input type="checkbox" class="id" name="id" value="${id}"></td>
			<td>Автоматический анализ крови (СВС- лейкоциты, гемоглобин, гематокрит, эритроциты, тромбоциты)</td>

		</tr>

		<tr>
			<td><input type="checkbox" class="id" name="id" value="${id}"></td>
			<td>Автоматический анализ крови (СВС- лейкоциты, гемоглобин, гематокрит, эритроциты, тромбоциты)</td>

		</tr>

		<tr>
			<td><input type="checkbox" class="id" name="id" value="${id}"></td>
			<td>Определение групповой принадлежности по системе АВО, определение фенотипа Резус фактора</td>

		</tr>
		</tbody>
	</table>
</section>
