<% if(!data.allDocs){%>
<h3>Нет документов:</h3>
    <ul>
        <% if(data.vmp && !data.vmpTicket){ %>
            <li>Талон-направление на ВМП.</li>
        <% } %>

        <% if(!data.epicrisis){ %>
            <li>Эпикриз.</li>
        <% } %>

        <% if(!data.discharge){ %>
            <li>Выписка.</li>
        <% } %>

        <% if(data.oncology){%>
            <% if(!_.isUndefined(data.notice_090y) && !data.notice_090y){%>
                <li>Извещение о больном с впервые в жизни установленным диагнозом злокачественного новообразования.</li>
            <% } %>

            <% if(!_.isUndefined(data.notice_027y_2) && !data.notice_027y_2){%>
                <li>Протокол на случай выявления у больного запущенной формы злокачественного новообразования.</li>
            <% } %>

            <% if(!_.isUndefined(data.notice_027y_1) && !data.notice_027y_1){%>
                <li>Выписка из медицинской карты стационарного больного злокачественным новообразованием.</li>
            <% } %>

        <% } %>

    </ul>
<%}else{%>


<div class="SetComment">
    <label>Дата и время закрытия ИБ</label>
    <div style="display: block;margin-bottom:2em;">
        <div class="date" style="width: 10em;">
            <input type="text" placeholder="дд.мм.гггг" class="SelectDate date-input appeal-close-date" autocomplete="off" value="">
            <i class="icon-calendar date-icon" style="right: .4em;"></i>
        </div>
        <div class="time" style="width: 6em;">
            <input type="text" placeholder="чч:мм" class="SelectDate time-input appeal-close-time" autocomplete="off" value="">
            <i class="icon-time time-icon" style="right: .4em;"></i>
        </div>

    </div>
    <div style="margin-bottom:2em;">
        <label>Результат госпитализации</label></br>
        <select id="results" name="results" style="width:50%;">
        <option>...</option>

        </select>
    </div>

    <% if(data.openDocs){ %>

    <% } %>

            <div style="display: block;margin-bottom:1em;">
            <label><input type="checkbox" name="close-docs" checked="checked" class="close-docs"> Закрывать документы</label>
        </div>

</div>
<% } %>
