<!--<header class="Clearfix">
	<h2 class="PopupHeader">Создание направления</h2>
	<div class="PopupActions">
		<button class="Styled Button BlueBorder"><span>Создать</span></button>
		<a href="#" class="ShowHidePopup">Отмена</a>
	</div>
</header>-->
<section>
	<!--<div class="ReferralHeader">
		<ul class="InlineNav">
			<li class="Active">
				<a href="#">К врачу</a>
			</li>
			<li>
				<a href="#">На диагностику</a>
			</li>
		</ul>
	</div>-->
	<div class="EditForm">
		<ul>
			<li>
				<div class="LineBlock">
					<div class="SemiCol">
						<span class="Label">Специальность врача</span>
						<select class="Specs select2">
							<option value="">...</option>
						</select>
					</div>
					<div class="SemiCol">
						<span class="Label">Врач</span>
						<select class="Persons select2">
							<option value="">...</option>
						</select>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="RefferalWidget">
		<div class="DatepickerHolder">
			<div id="dp"></div>
		</div>
		<div class="RefferalForm">
			<div class="SelectTime Clearfix">
				<div class="Col">
					<ul>
						<li>
							<label>
								<input type="radio" value="radio" id="radio1" name="radio" class="itemSelectTime">
								9:00 - 9:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio2" name="radio" class="itemSelectTime">
								9:30 - 10:00
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio3" name="radio" class="itemSelectTime">
								10:00 - 10:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio4" name="radio" class="itemSelectTime">
								10:30 - 11:00
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio5" name="radio" class="itemSelectTime">
								11:00 - 11:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio6" name="radio" class="itemSelectTime">
								11:30 - 12:00
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio7" name="radio" class="itemSelectTime">
								Без записи
							</label>
						</li>
					</ul>
				</div>
				<div class="Col">
					<ul>
						<li>
							<label>
								<input type="radio" value="radio" id="radio8" name="radio" class="itemSelectTime">
								13:00 - 13:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio9" name="radio" class="itemSelectTime">
								13:30 - 14:00
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio10" name="radio" class="itemSelectTime">
								14:00 - 14:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio11" name="radio" class="itemSelectTime">
								15:00 - 15:30
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio12" name="radio" class="itemSelectTime">
								15:30 - 16:00
							</label>
						</li>
						<li>
							<label>
								<input type="radio" value="radio" id="radio13" name="radio" class="itemSelectTime">
								16:00 - 16:30
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="Urgently">
				<label class="Warning">
					<input type="checkbox" id="checkbox" name="checkbox">
					Срочно
				</label>
			</div>
			<div class="FreeDoctors Hidden">
				<h4>
					В это время свободны
				</h4>
				<ul class="InlineNav">
					<li>
						<a href="#" data-id="171">Иванов Петр</a>
					</li>
					<li>
						<a href="#" data-id="178">Альбина Пертрова</a>
					</li>
					<li>
						<a href="#" data-id="2">Николай Забалуев</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>