<section class="PopUpLine">
<div class="DiagnosisVidget">
<div class="DatepickerHolder">
	<div class="Label">Дата и время исследования</div>
	<div id="dp" style="margin-bottom:2em;"></div>
<!-- 	<div class="Warning"> -->
		<!-- В 10:30 данный вид диагностики не проводится -->
<!-- 	</div> -->
	<div class="timepicker" style="position: relative;width: 6em;">
		<input type="text"
			class=""
			id="tp"
			placeholder="чч:мм">
		<i class="icon-time" style="position: absolute; right:0.5em; top: 0.5em"></i>
	</div>

<!-- 	<div class="SelectTime Clearfix">
		<div class="Col">
			<ul>
				<li>
					<label>
						<input type="radio" value="radio" id="radio" name="radio">
						9:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio1" name="radio">
						9:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio2" name="radio">
						10:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio3" name="radio">
						10:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio4" name="radio">
						11:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio5" name="radio">
						11:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio6" name="radio">
						12:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio7" name="radio">
						12:30
					</label>
				</li>
			</ul>
		</div>
		<div class="Col">
			<ul>
				<li>
					<label>
						<input type="radio" value="radio" id="radio8" name="radio">
						13:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio9" name="radio">
						13:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio10" name="radio">
						14:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio11" name="radio">
						14:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio12" name="radio">
						15:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio13" name="radio">
						15:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio14" name="radio">
						16:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio15" name="radio">
						16:30
					</label>
				</li>
			</ul>
		</div>
	</div> -->
</div>
<div class="VidgetLine">
<!-- 	<div class="VidgetCol col1">
		<ul class="EventList instrumental-types"></ul>
	</div>
	<div class="VidgetCol ArrowCol">
		<i>►</i>
	</div> -->
	<div class="VidgetCol col2">
		<ul class="SelectAnalysis  instrumental-groups"></ul>
	</div>
	<div class="VidgetCol ArrowCol">
		<i>►</i>
	</div>
	<div class="VidgetCol col3">
		<ul class="SelectAnalysis instrumental-researchs"></ul>
	</div>
</div>
</div>

<div class="bottom-form"></div>
</section>
