<section class="PopUpLine">
<div class="DiagnosisVidget">
<div class="DatepickerHolder">
	<div id="dp">
	</div>
	<div class="Warning">
		В 10:30 данный вид диагностики не проводится
	</div>
	<div class="SelectTime Clearfix">
		<div class="Col">
			<ul>
				<li>
					<label>
						<input type="radio" value="radio" id="radio" name="radio">
						9:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio1" name="radio">
						9:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio2" name="radio">
						10:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio3" name="radio">
						10:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio4" name="radio">
						11:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio5" name="radio">
						11:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio6" name="radio">
						12:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio7" name="radio">
						12:30
					</label>
				</li>
			</ul>
		</div>
		<div class="Col">
			<ul>
				<li>
					<label>
						<input type="radio" value="radio" id="radio8" name="radio">
						13:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio9" name="radio">
						13:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio10" name="radio">
						14:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio11" name="radio">
						14:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio12" name="radio">
						15:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio13" name="radio">
						15:30
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio14" name="radio">
						16:00
					</label>
				</li>
				<li>
					<label>
						<input type="radio" value="radio" id="radio15" name="radio">
						16:30
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="VidgetLine">
	<div class="VidgetCol LeftCol">
		<ul class="EventList"></ul>
	</div>
	<div class="VidgetCol ArrowCol">
		<i>►</i>
	</div>
	<div class="VidgetCol RightCol">
		<ul class="SelectAnalysis"></ul>
	</div>
</div>
</div>

<div class="bottom-form"></div>
</section>
