<header class="Clearfix">
	<h2 class="PopupHeader">Создание направления</h2>
	<div class="PopupActions">
		<button class="Styled Button BlueBorder"><span>Создать</span></button>
		<a href="#" class="ShowHidePopup">Отмена</a>
	</div>
</header>
<section class="PopUpLine">
<div class="RefDiagVidget">
<div class="VidgetLine">
<div class="VidgetCol LeftCol">
	<ul class="EventList">
		<li>
			<label>
				2.01 Анализы КДЛ
				<span class="EventRoom">Лаборатория 1</span>
			</label>
		</li>
		<li>
			<label>
				2.02 Бактериологические анализы
				<span class="EventRoom">Лаборатория 1</span>
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
				<span class="EventRoom">Лаборатория 1</span>
			</label>
			<ul>
				<li>
					<label>
						2.04 Ультрозвуковая и функциональная
						<span class="EventRoom">Лаборатория 1</span>
						<span class="EventRoom">Лаборатория 1</span>
						<span class="EventRoom">Лаборатория 1</span>
					</label>
				</li>
				<li>
					<label>
						2.04 Ультрозвуковая и функциональная
					</label>
				</li>
				<li>
					<label>
						2.05 Ренгенологические исследования
					</label>
				</li>
			</ul>
		</li>
		<li>
			<label>
				2.01 Анализы КДЛ
			</label>
		</li>
		<li>
			<label>
				2.02 Бактериологичечкие анализы
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
		<li>
			<label>
				2.04 Ультрозвуковая и функциональная
			</label>
		</li>
		<li>
			<label>
				2.05 Ренгенологические исследования
			</label>
		</li>
		<li>
			<label>
				2.01 Анализы КДЛ (25)
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
	</ul>
</div>
<div class="VidgetCol ArrowCol">
	<i>►</i>
</div>
<div class="VidgetCol LeftCol">
	<ul class="EventList">
		<li>
			<label>
				2.01 Анализы КДЛ
			</label>
		</li>
		<li>
			<label>
				2.02 Бактериологические анализы
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
			<ul>
				<li>
					<label>
						2.04 Ультрозвуковая и функциональная
					</label>
				</li>
				<li>
					<label>
						2.04 Ультрозвуковая и функциональная
					</label>
				</li>
				<li>
					<label>
						2.05 Ренгенологические исследования
					</label>
				</li>
			</ul>
		</li>
		<li>
			<label>
				2.01 Анализы КДЛ
			</label>
		</li>
		<li>
			<label>
				2.02 Бактериологичечкие анализы
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
		<li>
			<label>
				2.04 Ультрозвуковая и функциональная
			</label>
		</li>
		<li>
			<label>
				2.05 Ренгенологические исследования
			</label>
		</li>
		<li>
			<label>
				2.01 Анализы КДЛ (25)
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
		<li>
			<label>
				2.03 Иммунологическая лаборатория
			</label>
		</li>
	</ul>
</div>
<div class="VidgetCol ArrowCol">
	<i>►</i>
</div>
<div class="VidgetCol RightCol">
	<ul class="SelectAnalysis">
		<li>
			<label>
				01 Рентген поясничной области
			</label>
		</li>
		<li>
			<label>
				02 Рентген головы
			</label>
		</li>
		<li>
			<label>
				03 Рентген верхних конечностей
			</label>
		</li>
		<li>
			<label>
				04 Рентген органов дыхания
			</label>
			<ul>
				<li>
					<div class="AnalisLine Selected">
						<div class="AnalisName">
							<label>
								<input type="checkbox" name="checkbox12" id="checkbox12" checked=""> 02.1 Правое легкое
							</label>
						</div>
						<div class="AnalisQuant">
							<span><input type="checkbox" name="checkbox12" id="checkbox12"></span>
							<span><input type="text" name="textfield" id="textfield" placeholder=""></span>
						</div>
					</div>
				</li>
				<li>
					<div class="AnalisLine">
						<div class="AnalisName">
							<label>
								<input type="checkbox" name="checkbox" id="checkbox">
								02.2 Левое легкое
							</label>
						</div>
						<div class="AnalisQuant">
											<span>
												<input type="checkbox" name="checkbox" id="checkbox">
											</span> <span>
													<input type="text" name="textfield2" id="textfield2" placeholder="">
													</span>
						</div>
					</div>
				</li>
				<li>
					<div class="AnalisLine Selected">
						<div class="AnalisName">
							<label>
								<input type="checkbox" name="checkbox2" id="checkbox2" checked="">
								02.3 эТрахея
							</label>
						</div>
						<div class="AnalisQuant">
											<span>
											<input type="checkbox" name="checkbox2" id="checkbox2">
											</span> <span>
											<input type="text" name="textfield3" id="textfield3" placeholder="">
											</span>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<label>
				05 Рентген поясничной области
			</label>
		</li>
	</ul>
</div>
</div>
</div>
</section>