<header class="Clearfix">
	<h2 class="PopupHeader">Создание направления</h2>
	<div class="PopupActions">
		<button class="Styled Button BlueBorder"><span>Создать</span></button>
		<a href="#" class="ShowHidePopup">Отмена</a>
	</div>
</header>
<section class="PopUpLine">
<div class="RefDiagVidget">
<div class="VidgetLine">
<div class="VidgetCol LeftCol labs-list-el">

</div>
<div class="VidgetCol ArrowCol">
	<i>►</i>
</div>
<div class="VidgetCol LeftCol lab-test-list-el">

</div>
<div class="VidgetCol ArrowCol">
	<i>►</i>
</div>
<div class="VidgetCol RightCol set-off-test-el">
	<ul class="SelectAnalysis">
sdfgh
	</ul>
</div>
</div>
</div>
</section>
