<header class="Clearfix">
	<h2 class="PopupHeader">Редактирование направления</h2>

	<div class="PopupActions">
		<button class="Styled Button BlueBorder save"><span>Сохранить</span></button>
		<a href="#" class="ShowHidePopup">Отмена</a>
	</div>
</header>
<section class="PopUpLine">
	${id}<br>
${name}
</section>
