<header class="Clearfix">
	<h2 class="PopupHeader">Тезаурус</h2>
	<div class="PopupActions">
		<button class="Styled Button Confirm"><span>Добавить</span></button>
		<a href="" class="ShowHidePopup">Отмена</a>
	</div>
</header>
<section class="PopUpLine">
	<textarea class="selectedTerms RichText Resizable" cols="45" rows="5" style="max-width: 100%;"></textarea>
</section>
<section class="PopUpLine">
	<div class="MKB">
		<div class="TreeHolder" style="height: 300px;">
			<ul class="Tree ThesaurusTermTree"></ul>
		</div>
	</div>
</section>
