<!--<header class="Clearfix">
	<h2 class="PopupHeader">Тезаурус</h2>
	<div class="PopupActions">
		<button class="Styled Button Confirm"><span>Добавить</span></button>
		<a href="" class="ShowHidePopup">Отмена</a>
	</div>
</header>-->
<section class="thesaurus-selected-terms">
	<!--<textarea class="selectedTerms RichText Resizable" cols="45" rows="5" style="max-width: 100%;"></textarea>-->
	<div contenteditable="true" class="selectedTerms RichText Resizable" style="min-height: 8em;"></div>
</section>
<section>
	<div class="MKB">
		<div class="TreeHolder" style="height: 300px;">
			<ul class="Tree ThesaurusTermTree"></ul>
		</div>
	</div>
</section>
