   <ul>
       <% _(items).each(function(item){ %>
        <li class="<% if(item.children && item.children.length){ %>parent <%}%>closed" data-code="<%= item.code %>">
            <span class="icon icon-closed icon-caret-right"></span>
            <span class="icon icon-open icon-caret-down"></span>
            <span class="title"><%= item.title %></span>
          <% if(item.children && item.children.length){ %>
            <%= _.template(template,{items:item.children,template: template}) %>
          <%}%>
        </li>
       <% }) %>
  </ul>
