
<section class="PopUpLine labs-popup" style="padding: 0; margin: 0;">
	<div id="errors" style="color: red; margin-bottom: .5em;"></div>
    <a href"" style="color:#fff;outline:0; display:block;" tabindex="1" >.</a>
	<div class="RefDiagVidget">
	<label><input type="checkbox" checked="checked" class="document-type-filter-orgstruct">Только разрешённые в моём отделении</label>
		<div class="VidgetLine">
			<div class="labs-column column-box  " style="width: 40%;">
			<input type="text" id="tree-search" disabled="disabled" class="Disabled" placeholder="Поиск" style="margin-bottom:0.5em;"/>
			<div class="lab-test-list-el groups labs-column-left"></div>

			</div>
			<div class="VidgetCol ArrowCol"><i>►</i></div>

			<div class="labs-column column-box labs-column-right set-off-test-el group-tests">
				<ul class="SelectAnalysis">

				</ul>
			</div>
		</div>
	</div>

<div class="bottom-form">
	<div class="row-fluid" style="margin-bottom: 1.5em;">

		<div class="span2">
			<span class="Label" style="white-space: nowrap">Дата и время создания</span>

			<div class="date">
				<input
				type="text"
				data-mindate="0"
				name="start-date"
				id="start-date"
				placeholder="дд.мм.гггг"
				class="SelectDate"
				data-relation="#start-time"/>
				<i class="icon-calendar date-icon"></i>
			</div>
		</div>

		<div class="span1 WithoutName">
			<div class="time">
				<input
				type="text"
				class="Styled HourPicker"
				id="start-time"
				data-relation="#start-date"
				placeholder="чч:мм"/>
				<i class="icon-time time-icon"></i>
			</div>
		</div>

		<div class="span3">
			<span class="Label">Вид оплаты</span><br/>
			<select
			name="finance"
			id="finance"
			style="width: 100%;"></select>
		</div>
	</div>

	<div class="row-fluid" style="margin-bottom: 1.5em;">
		<div class="span6">
			<span class="Label">Направивший врач</span>

			<div id="assigner-outer">
				<input
				name="assigner"
				id="assigner"
				type="text"
				style=""
				disabled
				value="<%= assigner.name.last %> <%= assigner.name.first %> <%= assigner.name.middle %>"
				class="Disabled">
				<button class="change-assigner" style=""><i class="icon-user-md"></i></button>
			</div>
		</div>
		<div class="span6">
			<span class="Label">Исполнитель</span>

			<div id="executor-outer">
				<input
				name="executor"
				id="executor"
				type="text"
				style=""
				disabled
				value=""
				class="Disabled">
				<button class="change-executor" style=""><i class="icon-user-md"></i></button>
			</div>
		</div>
	</div>
	<div class="mkb" style="margin-bottom: 1.5em;"></div>
</div>



</section>



