  <td>
    <table>
      <tr>
        <td class="icons <% if(data.tests.length > 0){%>closed<%}%>" style="width:3%;">
          <span class="icon icon-closed icon-caret-right" style="cursor:pointer;"></span>
          <span class="icon icon-open icon-caret-down" style="cursor:pointer;"></span>
          <!-- <input type="checkbox" class="select"> -->
        </td>
        <td  style="width:95%;">
        <input type="checkbox" <% if(data.picked){%>checked="checked"<%}%> class="picked"/>
          <span class="title2" <% if(data.tests.length > 0){%>style="cursor:pointer;"<%}%>><%= data.name %></span>
          <ul class="tests" style="display:none;">
            <%_.each(data.tests, function(test){%>
              <li>
                <label>
                <% console.log('isAssigned',data.model.getProperty(test.title,'isAssigned'))%>
                  <input
                  class="test-select"
                  type="checkbox"
                  <% if(data.model.getProperty(test.title,'isAssigned') === 'true'){%> checked="checked"<%}%>
                  value="<%= test.title%>"/>
                  <%= test.title%>
                </label>
              </li>
            <%});%>
          </ul>
        </td>
        </tr>
    </table>
  </td>
  <td style="width:3em;">
    <label><input type="checkbox" <% if(data.urgent){%>checked="checked"<%}%> class="cito"></label>
  </td>
  <td style="width:8.5em;">
    <div class="date">
      <input type="text"
      value="<%= data.date %>"
      data-mindate="0"
      class="select_date"
      name="start-date-<%= data.cid %>"
      id="start-date-<%= data.cid %>"
      placeholder="дд.мм.гггг">
      <i class="icon-calendar date-icon" style="right:0.3em;"></i>
    </div>
  </td>
  <td style="width:5.5em;">
    <div class="time">
      <input type="text"
      value="<%= data.time %>"
      class="select_time"
      name="start-time-<%= data.cid %>"
      id="start-time-<%= data.cid %>"
      placeholder="чч:мм">
      <i class="icon-time time-icon"  style="right:0.3em;"></i>
    </div>
  </td>
