<script id="lab-diagnostic-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th></th>
			<th style="width:100px;">
				<a class="Actions SortCol" data-field="plannedEndDate"><span>Планируемая дата</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="status"><span>Статус</span></a>
			</th>

			<th>
				<a class="Actions SortCol" data-field="diagnosticName"><span>Вид исследований</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="cito"><span>Cito</span></a>
			</th>
            <th>
                <span>Лаборатория</span> 
            </th>
			<th>
				<a class="Actions SortCol" data-field="assignPerson"><span>Направивший врач</span></a>
			</th>
			<th colspan="3">
				<!--Действия-->
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="lab-diagnostic-grid-row" type="text/x-jquery-tmpl">
	<td><i class=" icon-bar-chart"></i></td>
	<td>
		{{if plannedEndDate}}
			{{formatDateTime plannedEndDate}}
		{{else}}
			-
		{{/if}}
	</td>

	<td
	{{if status}} class="lab-status-${status.id}"{{/if}}>

	{{if status && status.name}}
		${status.name}
	{{else}}
		-
	{{/if}}
	</td>

	<td>
		{{if diagnosticName && diagnosticName.name}}
			${diagnosticName.name}
		{{/if}}
	</td>

	<td>
		{{if cito}}
			<span class="Privilege">Срочно</span>
		{{/if}}
	</td>
    <td>
        ${laboratoryTitle} 
    </td>

	<td>
		{{if assignPerson && assignPerson.name && assignPerson.name.raw}}
			${assignPerson.name.raw}
		{{/if}}
	</td>

	{{if !appealClosed && isEditable }}
		<td><i class="icon-pencil edit-direction"></i></td>
		<td><span class=" icon-remove cancel-direction"></span></td>
	{{else}}
		<td></td>
		<td></td>
	{{/if}}
	<td>
		<!--<i class="icon-print"></i>-->
	</td>
</script>

<script id="lab-diagnostic-grid-default" type="text/x-jquery-tmpl">
	<h3>Записей нет</h3>
</script>
