<div class="ContentHeader Clearfix">
	<div class="PageActions">
		{{if canAddDirection}}
		<button id="assign-lab-diag">Назначить</button>
		{{/if}}
		<!--<div class="CloseHistory">
			<button class="Styled Button Actions ToggleFilters"><i class="Icon Tiny SearchIcon"></i><span>Фильтр</span></button>
		</div>-->
	</div>
</div>

<div id="grid"></div>
<div id="grid-pager"></div>