  <td>
    <table>
      <tr>
        <td class="icons" style="width:5%;">
          <span class="icon icon-closed icon-caret-right"></span>
          <span class="icon icon-open icon-caret-down"></span>
          <input type="checkbox" class="select">
        </td>
        <td  style="width:95%;">
          <span class="title2"><%= data.title %></span>
          <ul class="tests"></ul>
        </td>
        </tr>
    </table>
  </td>
  <td style="width:3em;">
    <input type="checkbox" class="cito">
  </td>
  <td style="width:8.5em;">
    <div class="date">
      <input type="text"
      data-mindate="0"
      class="select_date"
      name="start-date-<%= data.id %>"
      id="start-date-<%= data.id %>"
      placeholder="дд.мм.гггг">
      <i class="icon-calendar date-icon" style="right:0.3em;"></i>
    </div>
  </td>
  <td style="width:5.5em;">
    <div class="time">
      <input type="text"
      value="07:00"
      class="select_time"
      name="start-time-<%= data.id %>"
      id="start-time-<%= data.id %>"
      placeholder="чч:мм">
      <i class="icon-time time-icon"  style="right:0.3em;"></i>
    </div>
  </td>
