<div class="DateTime">
	<div class="DatePeriod SingleDate{{if mandatory}} Mandatory{{/if}}{{if readOnly}} Disabled{{/if}}">
		<div class="FromTo">
			<input type="text" name="textfield" placeholder="дд.мм.гггг" class="SelectDate"{{if readOnly}} disabled="disabled"{{/if}}>
		</div>
		<i class="DateIcon Icon"></i>
	</div>

	<select class="Styled HourPicker ComboBox{{if mandatory}} Mandatory{{/if}}{{if readOnly}} Disabled{{/if}}"{{if readOnly}} disabled="disabled"{{/if}}>
		<option value="1" selected="selected">11:00</option>
		<option value="2">12:00</option>
		<option value="3">13:00</option>
		<option value="4">14:00</option>
		<option value="5">15:00</option>
	</select>
</div>