<div class="DatePeriod SingleDate{{if mandatory}} Mandatory{{/if}}{{if readOnly}} Disabled{{/if}}">
	<div class="FromTo">
		<input type="text" name="textfield" id="textfield"  placeholder="дд.мм.гггг" class="SelectDate"{{if readOnly}} disabled="disabled"{{/if}} />
	</div>
	<i class="DateIcon Icon"></i>
</div>