<div class="LineBlock">
	<div class="QuartCol">
		<span class="Label" style="margin-left: 0;">Диагноз</span>
		<input name="diagnosis[mkb][code]" class="ExamAttr" type="text" value="">
		<span class="FieldInfo">Код по МКБ</span>
	</div>
	<div class="HugeCol WithoutName">
		<input name="diagnosis[mkb][diagnosis]" class="Disabled NotEditable" disabled="disabled" type="text"placeholder="" value=""/>
		<span class="FieldInfo">Описание</span>
	</div>
	<div class="QuartCol" style="padding-top: 1.9em;">
		<button class="MKBLauncher" >МКБ-10</button>
	</div>
</div>