<div class="row-fluid">
	<div class="span1">
		<span class="Label" style="margin-left: 0;">Диагноз</span>
		<input name="diagnosis[mkb][code]" type="text" value="">
		<span class="FieldInfo">Код по МКБ</span>
	</div>
	<div class="span9" style="padding-top: 1.65em;">
		<input name="diagnosis[mkb][diagnosis]" class="Disabled NotEditable" disabled="disabled" type="text"placeholder="" value="" style="margin-top: 0.15em;"/>
		<span class="FieldInfo">Описание</span>
	</div>
	<div class="span2" style="padding-top: 1.65em;">
		<button class="MKBLauncher" >МКБ-10</button>
	</div>
</div>
