<style type="text/css">
	.date-icon, .time-icon{
		right: 0.4em;
	}
</style>




	<div class="row-fluid">
		<div class="span1">
			<a class="decrease" href="#"><i class="icon-chevron-left"></i></a>
		</div>

		<div class="date span3">
			<input type="text" id="from-date" name="beginDate" placeholder="дд.мм.гггг" class="from-date"/>
			<i class="icon-calendar date-icon"></i>
		</div>

		<div class="time span2">
			<input type="text" id="from-time" class="HourPicker from-time" value="" placeholder="чч:мм"/>
			<i class="icon-time time-icon"></i>
		</div>

		<!-- <span class="MDash">—</span> -->
		<div class="date span3">
			<input type="text" id="to-date" name="endDate"
								 placeholder="дд.мм.гггг" class="SelectDate to-date"/>
			<i class="icon-calendar date-icon"></i>
		</div>

		<div class="time span2">
			<input type="text" id="to-time" class="HourPicker to-time" value="" placeholder="чч:мм"/>
			<i class="icon-time time-icon"></i>
		</div>


		<div class="span1">
			<a class="increase" href="#"><i class="icon-chevron-right"></i></a>
		</div>
	</div>


