<div class="biomaterials-datatime">
	<span class="Label">Период дат</span>

	<div class="DayScroller">
		<a class="ScrollDay Actions Decrease" href="#">&lt;</a>

		<div class="DateTime">
			<div class="DatePeriod SingleDate Mandatory">
				<div class="FromTo">
					<input type="text" id="start-date" data-relation="#start-time" name="beginDate"
								 placeholder="дд.мм.гггг" class="SelectDate start-date"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
			<div class="SingleTime">
				<input type="text" id="start-time" class="HourPicker start-time" data-relation="#start-date"
							 value="00:00" placeholder="чч:мм"/>
			</div>
		</div>
		<span class="MDash">—</span>

		<div class="DateTime">
			<div class="DatePeriod SingleDate Mandatory">
				<div class="FromTo">
					<input type="text" id="end-date" data-relation="#end-time" name="endDate"
								 placeholder="дд.мм.гггг" class="SelectDate end-date"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
			<div class="SingleTime">
				<input type="text" id="end-time" class="HourPicker end-time" data-relation="#end-date"
							 value="23:59" placeholder="чч:мм"/>
			</div>
		</div>
		<a class="ScrollDay Actions Increase" href="#">&gt;</a>
	</div>
</div>
