/*
*	FONTS
*/
/* line 6, ../../sass/modules/OLD_editform.scss */
.EditForm h2 {
  margin-bottom: 0.8em;
}
/* line 9, ../../sass/modules/OLD_editform.scss */
.EditForm p {
  font-size: 1.3em;
  line-height: 1.6em;
  word-spacing: normal;
  white-space: normal;
}
/* line 14, ../../sass/modules/OLD_editform.scss */
.EditForm p.ShowHistory {
  line-height: 1em;
  color: #118DDC;
}
/* line 19, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock {
  margin-bottom: 3em;
  word-spacing: -0.3em;
  white-space: nowrap;
  margin-right: -3em;
  padding-righ: 3em;
}
/* line 25, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol {
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
  white-space: normal;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 3em;
}
/* line 33, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol .Grid th {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.9em;
}
/* line 38, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol .Grid td {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.9em;
}
/* line 43, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol h3 {
  margin-bottom: 0;
}
/* line 45, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol h3 a {
  color: #000;
}
/* line 47, ../../sass/modules/OLD_editform.scss */
.EditForm .LineBlock .LineCol h3 a:hover {
  color: #dd1111;
}
/* line 56, ../../sass/modules/OLD_editform.scss */
.EditForm .WideCol {
  padding-right: 4.5em;
}
/* line 58, ../../sass/modules/OLD_editform.scss */
.EditForm .WideCol > * {
  white-space: normal;
  word-spacing: normal;
}
/* line 62, ../../sass/modules/OLD_editform.scss */
.EditForm .WideCol > input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 65, ../../sass/modules/OLD_editform.scss */
.EditForm .WideCol > textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 69, ../../sass/modules/OLD_editform.scss */
.EditForm .LineCol {
  white-space: nowrap;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: -0.3em;
}
/* line 74, ../../sass/modules/OLD_editform.scss */
.EditForm .LineCol > * {
  white-space: normal;
  word-spacing: normal;
}
/* line 78, ../../sass/modules/OLD_editform.scss */
.EditForm .LineCol > input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 81, ../../sass/modules/OLD_editform.scss */
.EditForm .LineCol .LineBlock {
  margin-right: 0;
}
/* line 85, ../../sass/modules/OLD_editform.scss */
.EditForm .HalfCol {
  width: 25%;
  display: inline-block;
  padding-right: 3em;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: -0.3em;
}
/* line 92, ../../sass/modules/OLD_editform.scss */
.EditForm .HalfCol > * {
  white-space: normal;
  word-spacing: normal;
}
/* line 96, ../../sass/modules/OLD_editform.scss */
.EditForm .HalfCol > input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 99, ../../sass/modules/OLD_editform.scss */
.EditForm .HalfCol > .Styled.Button {
  white-space: nowrap;
}
/* line 103, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol {
  display: inline-block;
  width: 12.5%;
  padding-right: 3em;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 109, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol > * {
  white-space: normal;
  word-spacing: normal;
}
/* line 113, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol > .Label {
  white-space: nowrap;
}
/* line 116, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol > label {
  white-space: nowrap;
}
/* line 119, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol > input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 122, ../../sass/modules/OLD_editform.scss */
.EditForm .QuartCol > .Styled.Button {
  white-space: nowrap;
}
/* line 126, ../../sass/modules/OLD_editform.scss */
.EditForm .SemiCol {
  display: inline-block;
  width: 37.5%;
  padding-right: 3em;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 132, ../../sass/modules/OLD_editform.scss */
.EditForm .SemiCol > * {
  white-space: normal;
  word-spacing: normal;
}
/* line 136, ../../sass/modules/OLD_editform.scss */
.EditForm .SemiCol > input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 139, ../../sass/modules/OLD_editform.scss */
.EditForm .SemiCol > .Styled.Button {
  white-space: nowrap;
}

/* line 144, ../../sass/modules/OLD_editform.scss */
.WithoutName {
  padding-top: 2em;
}

/* line 147, ../../sass/modules/OLD_editform.scss */
input.ShortInput {
  width: 7em;
}

/* line 150, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 2em;
  padding-left: 1em;
  margin-bottom: 2em;
}
/* line 155, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li:last-child {
  border-bottom: none;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
/* line 160, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li .LineBlock {
  white-space: nowrap;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 1.5em;
  padding-left: 0;
}
/* line 166, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li .LineBlock .Styled.Button {
  top: 1.5em;
}
/* line 169, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li .LineBlock:last-child {
  padding-bottom: 0;
}
/* line 174, ../../sass/modules/OLD_editform.scss */
.LineBlockHolder > li h4 {
  margin-bottom: 0.8em;
  margin-left: -0.7em;
  font-weight: bold;
}

/* line 181, ../../sass/modules/OLD_editform.scss */
.LineBlock label, .LineBlock .Label {
  margin-left: -0.8em;
  display: block;
}

/* line 185, ../../sass/modules/OLD_editform.scss */
.LineBlock .FieldInfo {
  color: #6D6D71;
}

/* line 189, ../../sass/modules/OLD_editform.scss */
.LineBlock .InlineForm label {
  display: inline-block;
  margin: 0 1em 0 0;
}

/* line 194, ../../sass/modules/OLD_editform.scss */
.FormLink {
  float: right;
  font-size: 1.2em;
  margin-top: -1.8em;
  text-decoration: none;
}

/* line 201, ../../sass/modules/OLD_editform.scss */
.FromTo .DDList {
  display: inline-block;
  width: 46%;
}

/* line 206, ../../sass/modules/OLD_editform.scss */
.MDash {
  width: 3em;
  display: inline-block;
  text-align: center;
  margin-right: -0.3em;
}

/* line 213, ../../sass/modules/OLD_editform.scss */
.FormButtons {
  background: #D2F0FD;
  height: 3em;
  position: relative;
  padding: 1em;
  margin-right: 2.4em;
  margin-left: -1em;
}

/* line 221, ../../sass/modules/OLD_editform.scss */
.FormButtons:after {
  content: "";
  border-color: white white white #d2f0fd;
  border-style: solid;
  border-width: 2.5em 2.5em 2.5em 2.5em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -4.8em;
  display: block;
  background: #fff;
}

/* line 234, ../../sass/modules/OLD_editform.scss */
.FormButtons .Styled.Button {
  top: -1px;
  margin-right: 1em;
}
/* line 237, ../../sass/modules/OLD_editform.scss */
.FormButtons .Styled.Button.BlueBorder {
  top: -3px;
}

/* line 242, ../../sass/modules/OLD_editform.scss */
.FormGridHolder {
  border: 1px solid #6e6f72;
}

/* line 246, ../../sass/modules/OLD_editform.scss */
.FormGrid th {
  font-size: 1.3em;
  vertical-align: middle;
  width: 50%;
  border: 1px solid #d9d9d9;
  padding: 0.1em 0.8em;
  line-height: 2.3em;
  vertical-align: middle;
}
/* line 254, ../../sass/modules/OLD_editform.scss */
.FormGrid th.SubGroup {
  padding-left: 2em;
}
/* line 258, ../../sass/modules/OLD_editform.scss */
.FormGrid td {
  border: 1px solid #d9d9d9;
  vertical-align: middle;
}
/* line 262, ../../sass/modules/OLD_editform.scss */
.FormGrid .DDSelect {
  border: 1px solid transparent;
}
/* line 264, ../../sass/modules/OLD_editform.scss */
.FormGrid .DDSelect > .Content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px 0;
}

/* line 269, ../../sass/modules/OLD_editform.scss */
.AdressForm {
  border: 1px solid #cccccc;
  padding: 1.5em 3.5em;
  border-radius: 0.5em;
}

/* line 274, ../../sass/modules/OLD_editform.scss */
.AdressForm legend {
  padding: 0 0.5em;
  font-size: 1.3em;
  margin-left: -1.1em;
}

/* line 279, ../../sass/modules/OLD_editform.scss */
.AdressForm > ul > li {
  margin-bottom: 1em;
}

/* line 282, ../../sass/modules/OLD_editform.scss */
.AdressForm .Field {
  width: 26%;
  float: none;
  display: table-cell;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* line 289, ../../sass/modules/OLD_editform.scss */
.AdressForm .Field:first-child {
  padding-left: 0;
}

/* line 292, ../../sass/modules/OLD_editform.scss */
.AdressForm .Field:last-child {
  text-align: left;
  padding-right: 0;
}

/* line 296, ../../sass/modules/OLD_editform.scss */
.AddLine {
  padding-top: 2.7em;
}

/* line 299, ../../sass/modules/OLD_editform.scss */
.SearchLine {
  padding-top: 1.8em;
}

/* line 302, ../../sass/modules/OLD_editform.scss */
.SubLine {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-right: 3em;
  padding: 0.4em 0 0.3em 0;
}
/* line 307, ../../sass/modules/OLD_editform.scss */
.SubLine li {
  display: inline;
  font-size: 1.2em;
  padding-right: 1.5em;
}

/* line 315, ../../sass/modules/OLD_editform.scss */
.ChangeHistory {
  color: #6D6D71;
  font-size: 1.2em;
}
/* line 318, ../../sass/modules/OLD_editform.scss */
.ChangeHistory li {
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  border-bottom: 1px solid #d9d9d9;
  word-spacing: -0.3em;
  white-space: nowrap;
}
/* line 324, ../../sass/modules/OLD_editform.scss */
.ChangeHistory li .Field {
  float: none;
  display: inline-block;
  -moz-box-sizing: border-box;
  word-spacing: normal;
}

/* line 332, ../../sass/modules/OLD_editform.scss */
.Warning {
  color: #FF0000;
}

/* line 336, ../../sass/modules/OLD_editform.scss */
.BedListHolder {
  padding-bottom: 1em;
  color: #6C6C71;
  margin-left: -1em;
}

/* line 341, ../../sass/modules/OLD_editform.scss */
.BedListHeader {
  padding-bottom: 0.6em;
  font-size: 1.3em;
}

/* line 345, ../../sass/modules/OLD_editform.scss */
.WardLabel {
  display: inline-block;
  width: 6em;
}

/* line 349, ../../sass/modules/OLD_editform.scss */
.BedLabel {
  display: inline-block;
}

/* line 353, ../../sass/modules/OLD_editform.scss */
.WardBeds {
  display: table-cell;
}

/* line 357, ../../sass/modules/OLD_editform.scss */
.Ward {
  padding-bottom: 0.5em;
}

/* line 360, ../../sass/modules/OLD_editform.scss */
.Wardname {
  display: table-cell;
  width: 7.7em;
  vertical-align: top;
  padding-top: 0.6em;
}
/* line 365, ../../sass/modules/OLD_editform.scss */
.Wardname span {
  display: block;
  font-size: 1.4em;
}

/* line 371, ../../sass/modules/OLD_editform.scss */
.BedList > li {
  display: inline-block;
  width: 7em;
  height: 3.6em;
  background: #DFF4FD;
  border: 1px solid #86cbe0;
  border-radius: 5px;
  margin: 0 0.5em 0.7em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: middle;
}
/* line 382, ../../sass/modules/OLD_editform.scss */
.BedList > li > label {
  display: block;
  height: 100%;
  padding: 0.65em 0 0 0.7em;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4em;
}
/* line 390, ../../sass/modules/OLD_editform.scss */
.BedList > li > label input {
  margin: 0 1em 0 0;
}

/* line 396, ../../sass/modules/OLD_editform.scss */
.BedList > li.ReservedWard {
  background: #FFB2B2;
  border: 1px solid #cc3300;
}

/* line 400, ../../sass/modules/OLD_editform.scss */
.BedList > li.Selected {
  background: #CBEDC5;
  border: 1px solid #35cc9a;
}

/* line 404, ../../sass/modules/OLD_editform.scss */
.AppealCodeContainer {
  position: relative;
}
/* line 406, ../../sass/modules/OLD_editform.scss */
.AppealCodeContainer .Label {
  margin-bottom: 1em;
}
/* line 409, ../../sass/modules/OLD_editform.scss */
.AppealCodeContainer .AppealCodeBox {
  position: absolute;
  right: -50%;
  top: 0;
}
/* line 414, ../../sass/modules/OLD_editform.scss */
.AppealCodeContainer .AppealCode {
  font-size: 1.2em;
  font-weight: bold;
}
