@charset "UTF-8";
/*
*	FONTS
*/
/* line 4, ../../sass/modules/treatment.scss */
.TreatmentBlock {
  padding-top: 0.7em;
  color: #000;
}
/* line 7, ../../sass/modules/treatment.scss */
.TreatmentBlock > h2 {
  margin-bottom: 0.8em;
}
/* line 10, ../../sass/modules/treatment.scss */
.TreatmentBlock h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 14, ../../sass/modules/treatment.scss */
.TreatmentBlock h3 a {
  color: #383838;
}
/* line 18, ../../sass/modules/treatment.scss */
.TreatmentBlock dl {
  font-size: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 1.2em;
}
/* line 22, ../../sass/modules/treatment.scss */
.TreatmentBlock dl:last-child {
  margin-bottom: 0.8em;
}
/* line 26, ../../sass/modules/treatment.scss */
.TreatmentBlock dt {
  margin-bottom: 0.3em;
}
/* line 29, ../../sass/modules/treatment.scss */
.TreatmentBlock dd {
  margin-bottom: 1.2em;
}
/* line 32, ../../sass/modules/treatment.scss */
.TreatmentBlock p {
  font-size: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 1.2em;
}
/* line 37, ../../sass/modules/treatment.scss */
.TreatmentBlock .LineBlock {
  margin-bottom: 3em;
}
/* line 40, ../../sass/modules/treatment.scss */
.TreatmentBlock .LineCol {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin-left: 3%;
}
/* line 45, ../../sass/modules/treatment.scss */
.TreatmentBlock .LineCol:first-child {
  margin-left: 0;
  margin-right: 3%;
}
/* line 50, ../../sass/modules/treatment.scss */
.TreatmentBlock .DiagLink {
  font-size: 1.3em;
  padding-top: 0.5em;
}
/* line 53, ../../sass/modules/treatment.scss */
.TreatmentBlock .DiagLink .AddLink {
  float: left;
}
/* line 56, ../../sass/modules/treatment.scss */
.TreatmentBlock .DiagLink .MoreLink {
  float: right;
}

/* line 62, ../../sass/modules/treatment.scss */
.MainCol {
  float: left;
  width: 65%;
  padding-right: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 70, ../../sass/modules/treatment.scss */
.AsideCol {
  float: right;
  vertical-align: top;
  width: 35%;
  padding-left: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 80, ../../sass/modules/treatment.scss */
.Diagnosis {
  border: 1px solid #FFCC99;
  border-radius: 6px;
  padding: 1em 1.1em;
  background: #FFFFCC;
  /*margin-left:-1em;*/
  margin-bottom: 2em;
}
/* line 87, ../../sass/modules/treatment.scss */
.Diagnosis dd:last-child {
  margin-bottom: 0;
}

/* line 92, ../../sass/modules/treatment.scss */
.TreatmentPeriod {
  font-size: 1.3em;
  color: #6C6C71;
  margin-bottom: 1.2em;
}
/* line 96, ../../sass/modules/treatment.scss */
.TreatmentPeriod li > .Date {
  color: #000;
  line-height: 1.2em;
}

/* line 101, ../../sass/modules/treatment.scss */
.Retrying {
  font-size: 1.3em;
  margin-bottom: 1.2em;
}
/* line 104, ../../sass/modules/treatment.scss */
.Retrying .Actions {
  color: #000;
  border-bottom: none;
  color: #000;
}
/* line 108, ../../sass/modules/treatment.scss */
.Retrying .Actions > span {
  text-decoration: underline;
}
/* line 111, ../../sass/modules/treatment.scss */
.Retrying .Actions::after {
  content: "▼";
  font-size: 0.5em;
  left: 0.2em;
  line-height: 1em;
  position: relative;
  top: -0.2em;
  vertical-align: baseline;
}

/* line 123, ../../sass/modules/treatment.scss */
.NoContent {
  font-size: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 1.2em;
  color: #D4D4D4;
}

/* line 130, ../../sass/modules/treatment.scss */
.FinanceList {
  font-size: 1.3em;
  padding-left: 1.5em;
  margin-bottom: 1.2em;
}
/* line 134, ../../sass/modules/treatment.scss */
.FinanceList > li {
  margin-bottom: 0.2em;
}
