@charset "UTF-8";
/*
*	FONTS
*/
/*
*	FONTS
*/
/* line 3, ../../sass/_buttons.scss */
.Styled.Button {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: -moz-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: -o-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.1em 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.1em 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.1em 0;
  margin: 0;
  border-top: 2px solid #b3b3b3;
  border-right: 2px solid #bbbbbb;
  border-bottom: 2px solid #b3b3b3;
  border-left: 2px solid #bbbbbb;
  cursor: pointer;
  padding: 0.4em 1.5em;
  min-width: 100px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.28em;
  text-align: center;
}
/* line 22, ../../sass/_buttons.scss */
.Styled.Button:hover, .Styled.Button.Green:hover, .Styled.Button.BlueBorder, .VarColor .Styled.Button.BlueBorder {
  border-top: 2px solid #128edc;
  border-right: 2px solid #128edc;
  border-bottom: 2px solid #128edc;
  border-left: 2px solid #128edc;
  /*border:2px solid #128EDC;*/
}
/* line 32, ../../sass/_buttons.scss */
.Styled.Button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
}
/* line 36, ../../sass/_buttons.scss */
.Styled.Button.AddButton {
  padding-left: 0.5em;
}
/* line 38, ../../sass/_buttons.scss */
.Styled.Button.AddButton .Icon {
  vertical-align: middle;
  margin-top: -0.1em;
  margin-left: 0.5em;
}
/* line 46, ../../sass/_buttons.scss */
.Styled.Button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  border: 2px solid #b3b3b3;
}
/* line 51, ../../sass/_buttons.scss */
.Styled.Button.Submit {
  cursor: pointer;
}
/* line 54, ../../sass/_buttons.scss */
.Styled.Button.Hidden {
  display: none;
}
/* line 57, ../../sass/_buttons.scss */
.Styled.Button.Disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  border: 2px solid #b3b3b3;
}
/* line 64, ../../sass/_buttons.scss */
.Styled.Button.Green {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyYzQzZCIvPjxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjMzBhMzFhIi8+PHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiMzMGEzMWEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MmM0M2QiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52c43d), color-stop(41%, #30a31a), color-stop(62%, #30a31a), color-stop(100%, #52c43d));
  background: -webkit-linear-gradient(#52c43d 0%, #30a31a 41%, #30a31a 62%, #52c43d 100%);
  background: -moz-linear-gradient(#52c43d 0%, #30a31a 41%, #30a31a 62%, #52c43d 100%);
  background: -o-linear-gradient(#52c43d 0%, #30a31a 41%, #30a31a 62%, #52c43d 100%);
  background: linear-gradient(#52c43d 0%, #30a31a 41%, #30a31a 62%, #52c43d 100%);
  border: 2px solid #31a31b;
  color: #fff;
}
/* line 72, ../../sass/_buttons.scss */
.Styled.Button.Green:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
}
/* line 77, ../../sass/_buttons.scss */
.Styled.Button.BlueBorder {
  border-top: 2px solid #128edc;
  border-right: 2px solid #128edc;
  border-bottom: 2px solid #128edc;
  border-left: 2px solid #128edc;
  position: relative;
}
/* line 86, ../../sass/_buttons.scss */
.Styled.Button.Pushed {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIvPjxzdG9wIG9mZnNldD0iODIlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNmY2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7b7b7), color-stop(82%, #efefef), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(#b7b7b7 0%, #efefef 82%, #f6f6f6 100%);
  background: -moz-linear-gradient(#b7b7b7 0%, #efefef 82%, #f6f6f6 100%);
  background: -o-linear-gradient(#b7b7b7 0%, #efefef 82%, #f6f6f6 100%);
  background: linear-gradient(#b7b7b7 0%, #efefef 82%, #f6f6f6 100%);
  border-top: 2px solid #a0a0a0;
  border-right: 2px solid #d6d6d6;
  border-left: 2px solid #d6d6d6;
  border-bottom: 2px solid #e0e0e0;
}
/* line 93, ../../sass/_buttons.scss */
.Styled.Button.Dropdown {
  border-radius: 0;
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
/* line 103, ../../sass/_buttons.scss */
.Styled.Button.DropdownToggle {
  border-radius: 0;
  margin-left: 0;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
/* line 113, ../../sass/_buttons.scss */
.Styled.Button .Icon {
  margin-left: -0.8em;
}
/* line 69, ../../sass/_base.scss */
.Styled.Button:not([ie]) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

/* line 119, ../../sass/_buttons.scss */
a.Button {
  color: black;
}
/* line 122, ../../sass/_buttons.scss */
a.Button:active i {
  opacity: 0.5;
}

/* line 128, ../../sass/_buttons.scss */
.doc-save-options {
  position: absolute;
  padding: .5em;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  background-color: white;
  color: #3F3F40;
  font-size: 1.2em;
  cursor: pointer;
}
/* line 138, ../../sass/_buttons.scss */
.doc-save-options:hover {
  background-color: #d2f0fd;
}

/*
*	FONTS
*/
/*
*	FONTS
*/
/*
	Usage:
 		@include sprite-folder("<folder>");
			element {
				@include sprite-file("<file-without-extension>");

				@include sprite-background-position($sprite, "<file-without-extension>", 100%, 0);
			}
*/
/* [Nano], Tiny (up to 16px of height), Small (24px), Medium (32px), Large (64px), [Huge] */
/* line 6, ../../sass/_icons.scss */
.Icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 8px;
  position: relative;
  /*	&.Tiny {
  		width: 16px;
  		height: 16px;
  	}*/
}

/*Иконки*/
/* line 21, ../../sass/_icons.scss */
.AddIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -369px;
  height: 14px;
  width: 14px;
  /*	cursor: pointer;
  	margin-left: 0.4em;*/
}

/* line 26, ../../sass/_icons.scss */
.SearchIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 0;
  height: 12px;
  width: 13px;
  cursor: pointer;
}

/* line 30, ../../sass/_icons.scss */
.EditIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -174px;
  height: 16px;
  width: 12px;
  /*	vertical-align: baseline;
  	cursor: pointer;
  	margin-left: 0.4em;
  	bottom: -0.2em;*/
}

/* line 37, ../../sass/_icons.scss */
.DateIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -121px;
  height: 9px;
  width: 17px;
  width: 17px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
}

/* line 46, ../../sass/_icons.scss */
.GoodSmileIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -252px;
  height: 16px;
  width: 16px;
  width: 16px;
  height: 16px;
}

/* line 51, ../../sass/_icons.scss */
.NormSmileIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -226px;
  height: 16px;
  width: 16px;
  width: 16px;
  height: 16px;
}

/* line 56, ../../sass/_icons.scss */
.BadSmileIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -200px;
  height: 16px;
  width: 16px;
  width: 16px;
  height: 16px;
}

/* line 63, ../../sass/_icons.scss */
.DoneIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -60px;
  height: 9px;
  width: 9px;
}
/* line 66, ../../sass/_icons.scss */
.DoneIcon.Tiny {
  width: 9px;
  height: 9px;
}

/* line 72, ../../sass/_icons.scss */
.DisabledIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -278px;
  height: 9px;
  width: 10px;
}

/* line 75, ../../sass/_icons.scss */
.CancelIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -79px;
  height: 9px;
  width: 10px;
}
/* line 78, ../../sass/_icons.scss */
.CancelIcon.Tiny {
  width: 10px;
  height: 9px;
}

/* line 83, ../../sass/_icons.scss */
.RemoveIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -297px;
  height: 14px;
  width: 14px;
  /*    cursor:pointer;
  	vertical-align: baseline;
      &.Tiny {
  		width:14px;
  		height:14px;
  	}*/
}
/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.RemoveIcon:hover, .RemoveIcon.remove_tiny_hover, .RemoveIcon.remove_tiny-hover {
  background-position: 0 -345px;
}
/* line 91, ../../sass/_icons.scss */
.RemoveIcon:hover {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -345px;
  height: 14px;
  width: 14px;
}

/* line 95, ../../sass/_icons.scss */
.DrugIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -98px;
  height: 13px;
  width: 11px;
  width: 11px;
  height: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

/* line 104, ../../sass/_icons.scss */
.DeleteIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -297px;
  height: 14px;
  width: 14px;
  /*	cursor:pointer;
      &.Tiny {
  		width:14px;
  		height:14px;
  		margin-right:0.2em;
  	}*/
}
/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DeleteIcon:hover, .DeleteIcon.remove_tiny_hover, .DeleteIcon.remove_tiny-hover {
  background-position: 0 -345px;
}
/* line 112, ../../sass/_icons.scss */
.DeleteIcon:hover {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -345px;
  height: 14px;
  width: 14px;
}

/* line 116, ../../sass/_icons.scss */
.CloseIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -321px;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
/* line 119, ../../sass/_icons.scss */
.CloseIcon.Tiny {
  width: 14px;
  height: 14px;
}

/* line 124, ../../sass/_icons.scss */
.AttentionIcon {
  background: url("../../images/sprites/icons-sprite.png") no-repeat;
  background-position: 0 -140px;
  height: 24px;
  width: 24px;
}
/* line 126, ../../sass/_icons.scss */
.AttentionIcon.Tiny {
  width: 14px;
  height: 14px;
}

/* line 131, ../../sass/_icons.scss */
.AddIcon, .RemoveIcon, .EditIcon {
  cursor: pointer;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

/* line 137, ../../sass/_icons.scss */
.AddIcon:hover, .RemoveIcon:hover, .EditIcon:hover {
  width: 16px;
  height: 16px;
}

/* line 6, ../../sass/modules/uiLib.scss */
.SampleHeader {
  font-size: 1.6em;
  margin-bottom: 10px;
}

/* line 10, ../../sass/modules/uiLib.scss */
.SampleBlock {
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

/* line 17, ../../sass/modules/uiLib.scss */
.SampleBlock h4 {
  font-size: 1.4em;
  font-weight: bold;
}

/*DDList*/
/* line 24, ../../sass/modules/uiLib.scss */
.DDList {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
  position: relative;
}
/* line 30, ../../sass/modules/uiLib.scss */
.DDList.Active > .Content {
  display: block;
}
/* line 38, ../../sass/modules/uiLib.scss */
.DDList > .Content {
  display: none;
  position: absolute;
  left: 0;
  top: 1.2em;
  background: #fff;
  border: 1px solid #d4d4d4;
  min-width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px 0;
  z-index: 10;
  max-height: 15em;
  overflow-y: auto;
}
/* line 51, ../../sass/modules/uiLib.scss */
.DDList > .Content.NoScroll {
  overflow-y: visible;
  max-height: auto;
}
/* line 56, ../../sass/modules/uiLib.scss */
.DDList > .Content li {
  color: #3F3F40;
  border-top: 1px solid #d4d4d4;
  padding: 0.6em 8px;
  cursor: pointer;
}
/* line 62, ../../sass/modules/uiLib.scss */
.DDList > .Content li:hover {
  background: #d2f0fd;
}
/* line 65, ../../sass/modules/uiLib.scss */
.DDList > .Content li:first-child {
  border-top: none;
}
/* line 68, ../../sass/modules/uiLib.scss */
.DDList > .Content li label {
  margin-bottom: 0;
  white-space: nowrap;
}
/* line 72, ../../sass/modules/uiLib.scss */
.DDList > .Content li .Label {
  margin-bottom: 0;
  white-space: nowrap;
}
/* line 77, ../../sass/modules/uiLib.scss */
.DDList > .Content a {
  display: block;
  padding: 0.6em 8px;
  margin: -0.6em -8px;
  text-decoration: none;
  color: inherit;
}
/* line 83, ../../sass/modules/uiLib.scss */
.DDList > .Content a:hover {
  color: inherit;
}
/* line 88, ../../sass/modules/uiLib.scss */
.DDList .Styled.Button {
  padding-right: 0;
}

/*Элементы формы*/
/* line 97, ../../sass/modules/uiLib.scss */
.SampleList > li {
  margin-bottom: 1em;
  word-spacing: -0.3em;
}
/* line 101, ../../sass/modules/uiLib.scss */
.SampleList > li * {
  word-spacing: normal;
}
/* line 104, ../../sass/modules/uiLib.scss */
.SampleList > li .SelectValue {
  word-spacing: -0.3em;
}

/* line 109, ../../sass/modules/uiLib.scss */
.FormList > li {
  margin-bottom: 1.4em;
  zoom: 1;
}
/* line 59, ../../sass/_base.scss */
.FormList > li:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 113, ../../sass/modules/uiLib.scss */
.FormList > li h4 {
  zoom: 1;
  width: 100%;
  display: block;
}
/* line 59, ../../sass/_base.scss */
.FormList > li h4:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 120, ../../sass/modules/uiLib.scss */
label, .Label {
  font-size: 1.2em;
  line-height: 1.2em;
  color: #6D6D71;
  display: inline-block;
  margin-bottom: 0.4em;
}

/* line 127, ../../sass/modules/uiLib.scss */
.InlineForm label {
  display: inline-block;
  margin: 0 1em 0 0;
  line-height: 2.25em;
  color: #000;
}

/* line 133, ../../sass/modules/uiLib.scss */
.WeekDays {
  text-align: center;
}
/* line 135, ../../sass/modules/uiLib.scss */
.WeekDays input {
  display: block;
  margin: 0 auto;
}
/* line 139, ../../sass/modules/uiLib.scss */
.WeekDays .WeekEnd {
  color: #f00000;
}

/* line 144, ../../sass/modules/uiLib.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #737477;
  padding: 0 0.4em;
  height: 2.25em;
  background: #fff;
  color: #000;
  font-size: 1.2em;
  display: inline-block;
  font-family: Arial, Tahoma, sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

/* line 163, ../../sass/modules/uiLib.scss */
div.RichText {
  padding: .6em;
  height: 100%;
  min-height: 2.25em;
  line-height: 150%;
  border: 1px solid #737477;
  background: #fff;
  color: #000;
  font-size: 1.2em;
  display: block;
  line-height: 100%;
  font-family: Arial, Tahoma, sans-serif;
  width: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 178, ../../sass/modules/uiLib.scss */
div.RichText i {
  font-style: italic;
}

/* line 182, ../../sass/modules/uiLib.scss */
div.RichTextWrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  min-height: 2.7em;
}

/* line 189, ../../sass/modules/uiLib.scss */
input[type="text"], input[type="password"], div.RichText, textarea {
  -webkit-box-shadow: inset 1px 3px 3px 0px rgba(128, 128, 128, 0.1);
  box-shadow: inset 1px 3px 3px 0px rgba(128, 128, 128, 0.1);
}
/* line 193, ../../sass/modules/uiLib.scss */
input[type="text"]:focus, input[type="password"]:focus, div.RichText:focus, textarea:focus {
  -webkit-box-shadow: inset 1px 3px 3px 0px rgba(128, 128, 128, 0.3);
  box-shadow: inset 1px 3px 3px 0px rgba(128, 128, 128, 0.3);
}

/* line 199, ../../sass/modules/uiLib.scss */
.Mandatory {
  outline: 1px solid #7fccff;
}

/* line 202, ../../sass/modules/uiLib.scss */
.WrongField {
  outline: 2px solid #ff4040;
}

/* line 205, ../../sass/modules/uiLib.scss */
.Error {
  color: #FF4040;
}

/* line 208, ../../sass/modules/uiLib.scss */
textarea {
  border: 1px solid #737477;
  background: #fff;
  color: #000;
  padding: 0.4em;
  display: block;
  font-size: 1.2em;
  font-family: Arial, Tahoma, sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 220, ../../sass/modules/uiLib.scss */
input[type="text"]:focus, textarea:focus, input.Dirty {
  border: 1px solid #0099ff;
  color: black;
}

/* line 224, ../../sass/modules/uiLib.scss */
input[type="text"].Disabled, textarea.Disabled, .DDSelect.Disabled, .RichText.Disabled {
  background: #F5F4F4;
  border: 1px solid #d9d9d9;
}

/* line 228, ../../sass/modules/uiLib.scss */
input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 233, ../../sass/modules/uiLib.scss */
::-webkit-input-placeholder {
  color: #B3B3B3;
}

/* line 237, ../../sass/modules/uiLib.scss */
input:focus::-webkit-input-placeholder {
  display: none;
}

/* line 241, ../../sass/modules/uiLib.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #B3B3B3;
}

/* line 244, ../../sass/modules/uiLib.scss */
input.Quant {
  width: 3em;
}

/* line 247, ../../sass/modules/uiLib.scss */
select.Regular {
  white-space: nowrap;
  font-size: 1.2em;
  line-height: 2.25em;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #737477;
  font-family: Arial, Tahoma, sans-serif;
  width: 100%;
}

/* line 259, ../../sass/modules/uiLib.scss */
select.Regular:disabled {
  background-color: #F5F4F4;
}

/* line 263, ../../sass/modules/uiLib.scss */
.AnyNum input[type="text"], .AnyNum input[type="password"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
}

/* line 271, ../../sass/modules/uiLib.scss */
.Field {
  float: left;
  vertical-align: bottom;
  width: 50%;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 278, ../../sass/modules/uiLib.scss */
.Field:last-child {
  padding-right: 0;
  text-align: right;
  padding-left: 8px;
}

/* line 289, ../../sass/modules/uiLib.scss */
.DatePeriod {
  border: 1px solid #737477;
  width: 17em;
  padding-right: 2em;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #fff;
}
/* line 298, ../../sass/modules/uiLib.scss */
.DatePeriod input[type="text"] {
  border: none;
  height: 2.25em;
}
/* line 302, ../../sass/modules/uiLib.scss */
.DatePeriod input[type="text"]:focus {
  border: none;
  outline: none;
}
/* line 306, ../../sass/modules/uiLib.scss */
.DatePeriod .FromTo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 7.1em;
  position: relative;
}
/* line 311, ../../sass/modules/uiLib.scss */
.DatePeriod.SingleDate {
  width: 8em !important;
}
/* line 314, ../../sass/modules/uiLib.scss */
.DatePeriod.Dirty {
  border: 1px solid #0099ff;
  color: black;
}
/* line 318, ../../sass/modules/uiLib.scss */
.DatePeriod.Focused {
  outline: auto #ffba00;
}
/* line 321, ../../sass/modules/uiLib.scss */
.DatePeriod.Disabled {
  background: #F5F4F4;
  border: 1px solid #d9d9d9;
}

/* line 331, ../../sass/modules/uiLib.scss */
.HourPicker {
  vertical-align: top;
}

/* line 335, ../../sass/modules/uiLib.scss */
.HalfCol .SingleDate {
  width: 10em;
}

/* line 338, ../../sass/modules/uiLib.scss */
.PairValue input[type="text"] {
  display: inline-block;
  width: 3em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: bottom;
}

/* line 345, ../../sass/modules/uiLib.scss */
.PairValue .DDSelect {
  width: 7em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
}

/* line 353, ../../sass/modules/uiLib.scss */
.DDSelect {
  border: 1px solid #737477;
  display: block;
  width: 100%;
  padding: 0 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  min-width: 3.5em;
}
/* line 363, ../../sass/modules/uiLib.scss */
.DDSelect > .Title .Actions {
  font-size: 1.2em;
  line-height: 2.25em;
  display: block;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
/* line 372, ../../sass/modules/uiLib.scss */
.DDSelect > .Title .Actions input {
  border: none;
  font-size: 1em;
  padding: 0;
  background: none;
}
/* line 378, ../../sass/modules/uiLib.scss */
.DDSelect > .Title .Actions input:focus {
  outline: none;
}
/* line 382, ../../sass/modules/uiLib.scss */
.DDSelect > .Title .Actions:after {
  content: "▼";
  font-size: 0.8em;
  position: absolute;
  right: 1px;
  top: 0.15em;
  background: #fff;
}
/* line 392, ../../sass/modules/uiLib.scss */
.DDSelect > .Content {
  top: 2em;
  /*right:-1px;*/
  left: -1px;
  font-size: 1.3em;
  border-top: 1px solid #737477;
  display: none;
}
/* line 399, ../../sass/modules/uiLib.scss */
.DDSelect > .Content li {
  white-space: normal;
  padding: 0.6em 0.4em 0.7em 0.4em;
}
/* line 405, ../../sass/modules/uiLib.scss */
.DDSelect.Focused {
  outline: auto #ffba00;
}

/* line 412, ../../sass/modules/uiLib.scss */
.DDSelect.Disabled > .Title .Actions:after {
  background: #F5F4F4;
}

/* line 419, ../../sass/modules/uiLib.scss */
.DateTime {
  display: inline-block;
  vertical-align: middle;
  word-spacing: normal;
}
/* line 423, ../../sass/modules/uiLib.scss */
.DateTime .DDSelect {
  display: inline-block;
  width: 5.5em;
  vertical-align: bottom;
}
/* line 428, ../../sass/modules/uiLib.scss */
.DateTime .DDList > .Content {
  min-width: 5.5em;
  max-height: 20em;
  overflow-y: auto;
}
/* line 433, ../../sass/modules/uiLib.scss */
.DateTime .DDList > .Content.NoScroll {
  overflow-y: visible;
  max-height: auto;
}
/* line 438, ../../sass/modules/uiLib.scss */
.DateTime .SingleTime {
  display: inline-block;
  vertical-align: middle;
  width: 3.25em;
  margin: 0 2em 0 0;
}
/* line 444, ../../sass/modules/uiLib.scss */
.DateTime .SingleTime input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 450, ../../sass/modules/uiLib.scss */
.PairValue .DDList > .Content {
  min-width: 6.5em;
}

/* line 455, ../../sass/modules/uiLib.scss */
.ButtonContent {
  font-size: 1.2em;
  line-height: 1.4em;
}

/* line 460, ../../sass/modules/uiLib.scss */
.DDSelect.Active {
  z-index: 10;
}
/* line 463, ../../sass/modules/uiLib.scss */
.DDSelect.Active .DDSecondLevel {
  display: block;
}

/* line 468, ../../sass/modules/uiLib.scss */
.DDSelect.Disabled .Content {
  display: none;
}

/* line 472, ../../sass/modules/uiLib.scss */
.DrugHolder {
  padding-right: 2em;
  position: relative;
  border: 1px solid #737477;
  background: #fff;
}
/* line 477, ../../sass/modules/uiLib.scss */
.DrugHolder .SearchIcon {
  position: absolute;
  right: 0;
  top: 0.9em;
}

/* line 484, ../../sass/modules/uiLib.scss */
.DrugHolder input[type="text"], .DrugHolder input[type="password"] {
  border: none;
}

/*Paginator*/
/* line 491, ../../sass/modules/uiLib.scss */
.Paginator {
  word-spacing: -0.3em;
}

/* line 494, ../../sass/modules/uiLib.scss */
.Paginator > li {
  display: inline-block;
  word-spacing: normal;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}
/* line 500, ../../sass/modules/uiLib.scss */
.Paginator > li a {
  display: block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border: 1px solid #d9d9d9;
  text-decoration: none;
  color: #404041;
}
/* line 510, ../../sass/modules/uiLib.scss */
.Paginator > li a:hover {
  background: #DFF4FD;
  border: 1px solid #118edc;
  color: #118EDC;
}

/* line 517, ../../sass/modules/uiLib.scss */
.Paginator > li.PrevPage a, .Paginator > li.NextPage a {
  color: #6D6E71;
}

/* line 521, ../../sass/modules/uiLib.scss */
.Paginator > li.PrevPage a:hover, .Paginator > li.NextPage a:hover {
  color: #118EDC;
}

/* line 525, ../../sass/modules/uiLib.scss */
.Paginator > li.Active a {
  background: #DFF4FD;
  border: 1px solid #118edc;
  color: #118EDC;
}

/* line 531, ../../sass/modules/uiLib.scss */
.Paginator > li.Disabled a, .Paginator > li.Disabled a:hover {
  border: 1px solid #d9d9d9;
  color: #404041;
  opacity: 0.4;
  cursor: default;
  background: none;
}

/* line 540, ../../sass/modules/uiLib.scss */
.Button .Icon.Arrow.Down {
  vertical-align: top;
  font-size: 0.5em;
  position: relative;
  left: 0.4em;
  top: 0.2em;
  margin-left: 0.1em;
}

/* line 550, ../../sass/modules/uiLib.scss */
.DayPaginator {
  margin-bottom: 2em;
}
/* line 552, ../../sass/modules/uiLib.scss */
.DayPaginator h2 {
  text-align: center;
}

/* line 556, ../../sass/modules/uiLib.scss */
.PrevDay {
  float: left;
  font-size: 1.3em;
  color: #6D6D71;
}
/* line 560, ../../sass/modules/uiLib.scss */
.PrevDay.Disabled {
  opacity: 0.6;
}

/* line 564, ../../sass/modules/uiLib.scss */
.NextDay {
  float: right;
  font-size: 1.3em;
  color: #6D6D71;
}
/* line 568, ../../sass/modules/uiLib.scss */
.NextDay.Disabled {
  opacity: 0.6;
}

/* line 572, ../../sass/modules/uiLib.scss */
a.ScrollPage {
  border: 1px solid #d9d9d9;
  color: #6D6E71;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 2em;
  margin: 0 0.2em;
}
/* line 582, ../../sass/modules/uiLib.scss */
a.ScrollPage:hover {
  background: #DFF4FD;
  border: 1px solid #118edc;
  color: #118EDC;
}

/* line 588, ../../sass/modules/uiLib.scss */
a.ScrollDay {
  border: 1px solid #bababa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0 0.05em;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0 0.05em;
  box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0 0.05em;
  color: #333333;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: -moz-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: -o-linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  background: linear-gradient(#f7f7f7 0%, #d3d3d3 100%);
  display: inline-block;
  height: 2.7em;
  line-height: 2.7em;
  text-align: center;
  text-decoration: none;
  width: 2.7em;
  margin: 0 1em;
}
/* line 601, ../../sass/modules/uiLib.scss */
a.ScrollDay:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3d3d3), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(#d3d3d3 0%, #f7f7f7 100%);
  background: -moz-linear-gradient(#d3d3d3 0%, #f7f7f7 100%);
  background: -o-linear-gradient(#d3d3d3 0%, #f7f7f7 100%);
  background: linear-gradient(#d3d3d3 0%, #f7f7f7 100%);
  border: 1px solid #118edc;
  color: #118EDC;
}

/* line 607, ../../sass/modules/uiLib.scss */
.MDash {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

/* line 615, ../../sass/modules/uiLib.scss */
.Disabled a.ScrollPage:hover {
  background: none;
  border: 1px solid #d9d9d9;
  color: #6D6E71;
  cursor: default;
}

/*ColorTheme*/
/* line 626, ../../sass/modules/uiLib.scss */
.VarColor {
  background: #f7ffef;
}
/* line 629, ../../sass/modules/uiLib.scss */
.VarColor body {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZmFkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZmZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebfadb), color-stop(100%, #f7ffef));
  background: -webkit-linear-gradient(#ebfadb, #f7ffef);
  background: -moz-linear-gradient(#ebfadb, #f7ffef);
  background: -o-linear-gradient(#ebfadb, #f7ffef);
  background: linear-gradient(#ebfadb, #f7ffef);
}
/* line 632, ../../sass/modules/uiLib.scss */
.VarColor a {
  color: #509d01;
}
/* line 638, ../../sass/modules/uiLib.scss */
.VarColor .Tabs li a:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZDQyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmOTgwMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cd421), color-stop(100%, #4f9802));
  background: -webkit-linear-gradient(#7cd421, #4f9802);
  background: -moz-linear-gradient(#7cd421, #4f9802);
  background: -o-linear-gradient(#7cd421, #4f9802);
  background: linear-gradient(#7cd421, #4f9802);
  border: 1px solid #4f9802;
  border-bottom: none;
}
/* line 646, ../../sass/modules/uiLib.scss */
.VarColor .Tabs li.Active a {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZDQyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmOTgwMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cd421), color-stop(100%, #4f9802));
  background: -webkit-linear-gradient(#7cd421, #4f9802);
  background: -moz-linear-gradient(#7cd421, #4f9802);
  background: -o-linear-gradient(#7cd421, #4f9802);
  background: linear-gradient(#7cd421, #4f9802);
  border: 1px solid #4f9802;
  border-bottom: none;
}
/* line 651, ../../sass/modules/uiLib.scss */
.VarColor #page {
  border-top: 3px solid #4f9802;
}
/* line 655, ../../sass/modules/uiLib.scss */
.VarColor .Styled.Button:hover, .VarColor .Styled.Button.Green:hover, .VarColor .Styled.Button.BlueBorder, .VarColor .Styled.Button.BlueBorder {
  border: 2px solid #4f9802;
}
/* line 658, ../../sass/modules/uiLib.scss */
.VarColor .Styled.Button.BlueBorder {
  border-width: 4px;
}
/* line 665, ../../sass/modules/uiLib.scss */
.VarColor .Paginator > li a:hover {
  background: #e8f7d9;
  border: 1px solid #4f9802;
  color: #509D01;
}
/* line 672, ../../sass/modules/uiLib.scss */
.VarColor .Paginator > li.Active a {
  background: #e8f7d9;
  border: 1px solid #4f9802;
  color: #509d01;
}

/* line 679, ../../sass/modules/uiLib.scss */
.InlineList {
  white-space: nowrap !important;
}
/* line 681, ../../sass/modules/uiLib.scss */
.InlineList li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-right: 0.5em;
}
/* line 684, ../../sass/modules/uiLib.scss */
.InlineList li label {
  line-height: 2.25em;
  margin: 0 0.5em 0 0;
}

/* line 691, ../../sass/modules/uiLib.scss */
.SelectValue {
  white-space: nowrap;
  word-spacing: -0.3em;
}
/* line 694, ../../sass/modules/uiLib.scss */
.SelectValue .Field {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  white-space: normal;
  -moz-box-sizing: border-box;
  float: none;
  word-spacing: normal;
}
/* line 703, ../../sass/modules/uiLib.scss */
.SelectValue .MDash {
  display: inline-block;
  vertical-align: middle;
  width: 4%;
  text-align: center;
}

/* line 711, ../../sass/modules/uiLib.scss */
.Throbber {
  width: 9em;
  height: 50px;
  padding-left: 20px;
  margin: auto;
  border-radius: 8px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  background: #666666 url(/images/throbber.gif) no-repeat 12px 17px;
  color: white;
}

/* line 730, ../../sass/modules/uiLib.scss */
.ToolTip {
  background: #f9edbe;
  border: 1px solid #f0c36d;
  color: #444;
  padding: 1em 1em;
  -moz-box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.2);
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
}
/* line 740, ../../sass/modules/uiLib.scss */
.ToolTip:after {
  display: block;
  position: absolute;
  content: "";
  background: transparent;
  overflow: hidden;
}
/* line 747, ../../sass/modules/uiLib.scss */
.ToolTip.TopTail:after {
  width: 18px;
  height: 9px;
  top: -9px;
  left: 50%;
  margin-left: -9px;
  background: url(../../images/tail.png) no-repeat left top;
}
/* line 755, ../../sass/modules/uiLib.scss */
.ToolTip.BottomTail:after {
  width: 18px;
  height: 9px;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  background: url(../../images/tail.png) no-repeat -18px top;
}
/* line 763, ../../sass/modules/uiLib.scss */
.ToolTip.LeftTail:after {
  width: 9px;
  height: 18px;
  left: -9px;
  top: 50%;
  margin-top: -9px;
  background: url(../../images/tail.png) no-repeat -9px -9px;
}
/* line 771, ../../sass/modules/uiLib.scss */
.ToolTip.RightTail:after {
  width: 9px;
  height: 18px;
  right: -9px;
  top: 50%;
  margin-top: -9px;
  background: url(../../images/tail.png) no-repeat left -9px;
}
/* line 779, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  -moz-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
}
/* line 785, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip.TopTail:after {
  background: url(../../images/tail_white.png) no-repeat left top;
  left: 2em;
}
/* line 789, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip.BottomTail:after {
  background: url(../../images/tail_white.png) no-repeat -18px top;
}
/* line 792, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip.LeftTail:after {
  background: url(../../images/tail_white.png) no-repeat -9px -9px;
}
/* line 795, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip.RightTail:after {
  background: url(../../images/tail_white.png) no-repeat left -9px;
}
/* line 799, ../../sass/modules/uiLib.scss */
.ToolTip.WhiteTip .TooltipList li {
  line-height: 1.5em;
}
/* line 804, ../../sass/modules/uiLib.scss */
.ToolTip .TooltipList {
  text-align: left;
}
/* line 806, ../../sass/modules/uiLib.scss */
.ToolTip .TooltipList li {
  line-height: 2.5em;
  white-space: nowrap;
}
/* line 809, ../../sass/modules/uiLib.scss */
.ToolTip .TooltipList li dfn {
  display: inline-block;
  width: 7em;
}
/* line 813, ../../sass/modules/uiLib.scss */
.ToolTip .TooltipList li label {
  font-size: 0.9em;
  color: #000;
}
/* line 817, ../../sass/modules/uiLib.scss */
.ToolTip .TooltipList li .TimeLabel {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.2em;
  margin: 0 0.5em;
  background: #bfe5bf;
}
/* line 826, ../../sass/modules/uiLib.scss */
.ToolTip .ToolTipButtons {
  font-size: 0.7em;
  padding-top: 1em;
}

/* line 831, ../../sass/modules/uiLib.scss */
.ToolTipHolder {
  position: relative;
  cursor: pointer;
}
/* line 834, ../../sass/modules/uiLib.scss */
.ToolTipHolder .ToolTip {
  position: absolute;
  top: 100%;
  margin-top: 9px;
  left: 0;
  display: none;
}
/* line 841, ../../sass/modules/uiLib.scss */
.ToolTipHolder.Active {
  z-index: 2;
}
/* line 843, ../../sass/modules/uiLib.scss */
.ToolTipHolder.Active .ToolTip {
  display: block;
}

/* line 849, ../../sass/modules/uiLib.scss */
div.HasValidationToolTip {
  display: inline-block;
  padding-right: 0em;
}

/* line 855, ../../sass/modules/uiLib.scss */
.ClearButton {
  display: none;
  margin-left: -22px;
  vertical-align: text-bottom;
}
