<div class="SetComment">
	<label>
		<input
		type="checkbox"
		<% if(required){%> checked<%}%>
		class="field-toggle">
		<%=model.get('name')%>
	</label>
	<div class="field" <% if(!required && _.isEmpty(model.getValue())){console.log('log',_.isEmpty(model.getValue()))%>style="display:none;"<%}%>>
    <% if(!disabled){%>
    <a href="#" class="FormLink Actions thesaurus-open field" style="display: inline;  margin-top: 0;">Тезаурус</a>
    <%}%>
	<div class="RichTextWrapper">
		<div
		class="RichText attribute-value<% if(disabled){%> Disabled<%}%><% if(required){%> Mandatory<%}%>"
		style="min-height: 8em;"
		<% if(!disabled){%>contenteditable="true"<%}%> >
			<%=model.getValue() || '<br>'%>
		</div>
	</div>
	</div>

</div>
