<!--<div class="SetComment">-->
	<label>
		<input type="checkbox" class="field-toggle">
		<%=model.get('name')%>
	</label>

	<% if (model.get('code')) {%>
		<div class="field" style="<%=(model.get('code').split('_')[0] == 'infectDrugEndDate') ? 'float:left' : ''%>">
		<% } else {%>
		<div class="field">
		<% }
	%>
		<input type="text"
			class="Combo attribute-value <%=model.isReadOnly()?'Disabled':''%> <%=model.isMandatory()?'Mandatory':''%>"
			<%=model.isReadOnly()?'disabled':''%>
			placeholder="ДД.ММ.ГГГГ"
			value="<%=date%>">
	</div>
	<% if (model.get('code')) {%>
		<% if (model.get('code').split('_')[0] == 'infectDrugEndDate') {%>
			<% if (model.get('code').split('_')[1] > 1) {%>
				<div style="float:right;">
					<span style="cursor:pointer;" class="icon-plus icon-color-green"></span>
					<span style="cursor:pointer; position:absolute; margin-left: 30px; margin-top: -20px;" class="RemoveIcon"></span>
				</div>
			<% } else {%>
				<span style="float:right; cursor:pointer" class="icon-plus icon-color-green"></span>
			<% } %>
		<% } %>
	<% } %>
<!--</div>-->
