<label>
	<input type="checkbox" class="field-toggle">
	<%=model.get('name')%>
</label>
<div class="field">
	<select class="attribute-value <%=model.isReadOnly()?'Disabled':''%> <%=model.isMandatory()?'Mandatory':''%>" <%=model.isReadOnly()?'disabled':''%> style="font-size: 1.2em; padding: 4px; width: 100%;border: 1px solid #737477;">
		<option value="">...</option>
		<% _.each(options, function (option) {%>
			<option value="<%=option.val%>" <%if (selected == option.val) {%>selected<%}%>><%= option.text %></option>
		<%});%>
	</select>
</div>
