<label>
		<input
		type="checkbox"
		<% if(required){%> checked<%}%>
		class="field-toggle">
	<%=model.get('name')%>
</label>
<div class="field" <% if(!required && _.isEmpty(selected)){%>style="display:none;"<%}%>>
<select
class="attribute-value<% if(disabled){%> Disabled<%}%><% if(required){%> Mandatory<%}%>"
style="font-size: 1.2em; padding: 4px; width: 100%;border: 1px solid #737477;"
<% if(disabled){%>disabled<%}%>
><option value="">...</option>
	<% _.each(options, function (option) {%>
	<option value="<%=option.val%>" <%if (selected == option.val) {%>selected<%}%>><%= option.text %></option>
	<%});%>
</select>
</div>
