<label>
	<input type="checkbox" <% if(required || model.getValue()){%> checked<%}%> class="field-toggle">
	<%=model.get('name')%>
</label>
<div class="field" <% if(!required&& _.isEmpty(model.getValue())){%>style="display:none;"<%}%>>
	<input type="text"
				 class="Combo attribute-value <%=disabled?'Disabled':''%> <%required?'Mandatory':''%>"
				 data-options="<%=model.get('scope').replace(/\'/g,'').split(',').join('|')%>"
				 value="<%=model.getValue()%>"
				 <%=disabled?'disabled':''%>/>
</div>
