<label style="float: left;">
	<%=name%>
</label>

<table class="table-widget">
    <thead>
        <tr>
            <% _.each(columns, function(columnName){%>
                <th><%= columnName %></th>
            <%})%>
        </tr>
    </thead>
    <tbody>
    <% _.each(trs, function(tr){%>
    <tr>
        <% _.each(tr, function(td){%>
			<% if(td.indexOf('.png') > -1 || td.indexOf('.pdf') > -1 || td.indexOf('.jpg') > -1 || td.indexOf('.gif') > -1) { %>
            	<td><a href="<%= td%>"><%= td%></a></td>
			<% } else { %>
				<td><%= td%></td>
			<% } %>
        <%})%>
    </tr>
    <%})%>
    </tbody>
</table>
