<h4>Терапия</h4>
<% if(collection.length > 0){%>
<div class="therapy-info">
	<% collection.each(function(therapy){ %>
	<div class="therapy">
		<div class="therapy-header">
			<div class="therapy-header-content">
				<%if(therapy.get('link')){%>
					<a href="<%= therapy.get('link') %>" target="_blank"><span class="therapy-header-title"><%= therapy.get('title') %></span></a>
				<%}else{%>
					<span class="therapy-header-title"><%= therapy.get('title') %></span>
				<%}%>
				<span class="therapy-header-dates">
					<%if(therapy.get('endDate')){%>
						(<%= Core.Date.format(therapy.get('beginDate')) %> - <%= Core.Date.format(therapy.get('endDate')) %>)
					<%}else{%>
						(Дата начала: <%= Core.Date.format(therapy.get('beginDate')) %>)
					<%}%>
				</span>
				<i class="therapy-body-toggle <%if(therapy.get('endDate')){%>icon-plus<%}else{%>icon-minus<%}%> pull-right" title="Показать этапы"></i>
			</div>
		</div>
		<div class="therapy-body" <%if(therapy.get('endDate')){%>style="display: none;"<%}%> >
			<%if(therapy.getCurrentPhases().length > 0){ %>
				<h3>Текущий этап</h3>

				<% _.each(therapy.getCurrentPhases(), function(phase){ %>
					<p><%if(phase.link){%><a href="<%= phase.link %>" target="_blank"><%= phase.title %></a><%}else{%><%= phase.title %><%}%> (Дата начала: <%= Core.Date.format(phase.beginDate) %>)</p>
					<ul>
						<% _.each([phase.days[0]], function(day){ %>
							<li><p>День терапии: <a href="/appeals/<%= phase.eventId %>/documents/<%= joinDocIds(phase.days) %>" target="_blank"><%= day.day %></a></p></li>

						<%});%>
					</ul>
				<%});%>

			<%}%>

			<%if(therapy.getClosedPhases().length > 0){%>
				<h3>Завершенные этапы</h3>
				<% _.each(therapy.getClosedPhases(), function(phase){ %>
					<p><%if(phase.link){%><a href="<%= phase.link %>" target="_blank"><%= phase.title %></a><%}else{%><%= phase.title %><%}%>
						<a href="/appeals/<%= phase.eventId %>/documents/<%= joinDocIds(phase.days) %>">
						(<%= Core.Date.format(phase.beginDate) %> - <%= Core.Date.format(phase.endDate) %>)
						</a>
					</p>
				<%});%>
			<%}%>
		</div>
	</div>
	<%})%>
</div>
<%}else{%>
<div class="therapy-info" style="background-color: #FFFFCC;">
	<h3 style="padding: 1em 0 0 0; margin-bottom: .3em;">Нет данных</h3>
</div>
<%}%>





