<h4>Терапия<% _.each(lastTherapy, function(therapy){ %>: <%=therapy.title%><%});%></h4>

<div class="Diagnosis">
	<h3>Текущий этап</h3>
	<%if(lastTherapy && (lastTherapy.length === 0)){%>
		<p>Данные о терапии отсутствуют</p>
	<%}else{%>
		<% _.each(lastTherapy, function(therapy){ %>
			<!--<p>Наименование терапии: <%=therapy.title%></p>-->
			<p>День терапии: <%=therapy.day%></p>
			<p>Статус: <%=therapy.status %></p>
			<hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ffcc99; margin: 1em 0; padding: 0;"/>
		<%});%>

	<%}%>

	<h3>Завершенные этапы</h3>
	<%if(restTherapy && (restTherapy.length === 0)){%>
		<p>Данные о терапии отсутствуют</p>
	<%}else{%>
		<% _.each(restTherapy, function(therapy){ %>
			<p><%if (therapy.begDate){ %><%=Core.Date.format(therapy.begDate)%><% } %> - <%if (therapy.endDate){ %><%=Core.Date.format(therapy.endDate)%><% } %>: <%=therapy.title%></p>
			<hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ffcc99; margin: 1em 0; padding: 0;"/>
		<%});%>
	<%}%>
</div>
