<%if (collection.length) {%>

<tr>
	<td>Дата, время</td>
	<%_.each(result.datetime, function(item, index){ %>
	<td><%=Core.Date.formatDateTime(item)%></td>
	<%});%>
</tr>
<tr>
	<td>Лейкоциты</td>
	<%_.each(result.wbc, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Нейтрофилы</td>
	<%_.each(result.neut, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Гемоглобин</td>
	<%_.each(result.hgb, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Тромбоциты</td>
	<%_.each(result.plt, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td><span>K<sup>+</sup></span></td>
	<%_.each(result.k, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Na<sup>+</sup></td>
	<%_.each(result.na, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Ca<sup>++</sup></td>
	<%_.each(result.ca, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>

<tr>
	<td>Глюкоза</td>
	<%_.each(result.glucose, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Общий белок</td>
	<%_.each(result.protein, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Мочевина </td>
	<%_.each(result.urea, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Билирубин об </td>
	<%_.each(result.bilubrinOb, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Билирубин пр </td>
	<%_.each(result.bilubrinPr, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>

<%} else {%>
	<tr>
		<td colspan="14">Нет данных</td>
	</tr>
<%}%>
