	<h4 class="toggle" style="cursor: pointer;">Последние результаты
	<%if(showLabsLink){%>
	<a class="pull-right" href="/appeals/<%= appealId %>/diagnostics-laboratory/">
	<span> Все исследования</span> </a>
	<%}%>

	</h4>

	<table class="Grid MonitoringGrid" style="font-size:1em;">
<!-- 	<thead>
	<tr>
		<th class="sortable" data-sort-field="datetime" data-sort-type="datetime">Дата, время</th>
		<th class="sortable" data-sort-field="wbc" data-sort-type="numeric">Лейкоциты </th>
		<th class="sortable" data-sort-field="neut" data-sort-type="numeric">Нейтрофилы </th>
		<th class="sortable" data-sort-field="hgb" data-sort-type="numeric">Гемоглобин </th>
		<th class="sortable" data-sort-field="plt" data-sort-type="numeric">Тромбоциты </th>

		<th class="sortable" data-sort-field="k" data-sort-type="numeric"><span>K<sup>+</sup></span></th>
		<th class="sortable" data-sort-field="na" data-sort-type="numeric">Na<sup>+</sup></th>
		<th class="sortable" data-sort-field="ca" data-sort-type="numeric">Ca<sup>++</sup></th>

		<th class="sortable" data-sort-field="glucose" data-sort-type="numeric">Глюкоза </th>
		<th class="sortable" data-sort-field="protein" data-sort-type="numeric">Общий белок </th>
		<th class="sortable" data-sort-field="urea" data-sort-type="numeric">Мочевина </th>
		<th class="sortable" data-sort-field="bilubrinOb" data-sort-type="numeric">Билирубин об </th>
		<th class="sortable" data-sort-field="bilubrinPr" data-sort-type="numeric">Билирубин пр </th>




	</tr>
	</thead> -->
	<tbody></tbody>
</table>
