<table class="Grid MonitoringGrid">
	<thead>
	<tr>
		<th class="sortable" data-sort-field="" data-sort-type="">Дата </th>
		<th class="sortable" data-sort-field="" data-sort-type="">K </th>
		<th class="sortable" data-sort-field="" data-sort-type="">NA </th>
		<th class="sortable" data-sort-field="" data-sort-type="">CA </th>
		<th class="sortable" data-sort-field="" data-sort-type="">Глюкоза </th>
		<th class="sortable" data-sort-field="" data-sort-type="">Общий белок </th>
		<th class="sortable" data-sort-field="" data-sort-type="">Мочевина </th>
		<th class="sortable" data-sort-field="" data-sort-type="">Билирубин об </th>
		<th class="sortable" data-sort-field="" data-sort-type="">Билирубин пр </th>
	</tr>
	</thead>
	<tbody></tbody>
</table>