<tr>
	<td><%=Core.Date.format(item.get("datetime"))%></td>
	<td><%=item.get("k")%></td>
	<td><%=item.get("na")%></td>
	<td><%=item.get("ca")%></td>
	<td><%=item.get("glucose")%></td>
	<td><%=item.get("protein")%></td>
	<td><%=item.get("urea")%></td>
	<td><%=item.get("bilubrinOb")%></td>
	<td><%=item.get("bilubrinPr")%></td>
</tr>