<div class="span12">
	<h3 class="pull-left">История болезни № <%=appealNumber%></h3>
	<%if (appealIsUrgent) {%><span class="label Privilege">Срочно</span><%}%>
	<%if (appealIsClosed) {%>
		<span class="label Primary">Закрыта</span>
        <!-- <button class="close-appeal" style="margin:-.4em 0 0 1em;">Закрыть</button> -->
	<%}else{%>
		<% if(canClose){ %>
			<button class="close-appeal" style="margin:-.4em 0 0 1em;">Закрыть</button>
		<% } %>
	<%}%>
</div>
<!--
	<div class="span1"><i class="refresh-monitoring icon-refresh pull-right" title="Обновить"></i></div>-->
