<div class="span11">
	<h3 class="pull-left">История болезни № <%=appealNumber%></h3>
	<%if (appealIsUrgent) {%><span class="label Privilege">Срочно</span><%}%>
	<%if (appealIsClosed) {%><span class="label Primary">Закрыта</span><%}%>
</div>
<div class="span1"><i class="refresh-monitoring icon-refresh pull-right" title="Обновить"></i></div>