<%if (collection.length) { %>
	<%_.each(collection,function (item, index) {%>
		<tr <% if(false){%>style="display:none;"<%}//index > 0%>>
			<td style="text-align: left;"><%=item.get("therapyName") || '-'%></td>
			<td style="text-align: left;"><%=item.get("drugName") || '-'%></td>
			<td><%= item.get("begDate") ? moment(item.get("begDate")).format('DD.MM.YYYY') : '-'%></td>
			<td><%= item.get("endDate") ?  moment(item.get("endDate")).format('DD.MM.YYYY') : '-'%></td>
		</tr>
	<%});%>
<%} else {%>
	<%if (!wasLoaded) { %>
		<tr>
			<td colspan="8">Данные не загружены</td>
		</tr>
	<%} else {%>
		<tr>
			<td colspan="8">Нет данных</td>
		</tr>
	<%}%>	
<%}%>