<h4>
	Данные об инфекционных осложнениях
	<%if (!wasLoaded) { %>
	<a class="showInfectionMonitoring" style="margin-left: 5px; cursor: pointer; text-decoration: underline; font-size: .9em;">показать</a>
	<%}%>
</h4>
<table class="Grid MonitoringGrid">
<thead>
	<tr>
		<th style="text-align: left;" width="100%" class="sortable" data-sort-field="infectType" data-sort-type="infectType">Тип инфекции/диагноз </th>
		<th class="sortable" data-sort-field="infectBeginDate" data-sort-type="infectBeginDate">Дата начала осложнения </th>
		<th class="sortable" data-sort-field="infectEndDate" data-sort-type="infectEndDate">Дата окончания осложнения </th>
	</tr>
</thead>
<tbody></tbody>
</table>
