<h4>Противоинфекционная терапия </h4>
<table class="Grid MonitoringGrid">
<thead>
	<tr>
		<th style="text-align: left;" class="sortable" data-sort-field="infectTherapy" data-sort-type="infectTherapy">Терапия </th>
		<th style="text-align: left;" class="sortable" data-sort-field="infectDrug" data-sort-type="infectDrug">Наименование препарата  </th>
		<th class="sortable" data-sort-field="infectDrugBeginDate" data-sort-type="infectDrugBeginDate">Дата назначения </th>
		<th class="sortable" data-sort-field="infectDrugEndDate" data-sort-type="infectDrugEndDate">Дата отмены </th>
	</tr>
</thead>
<tbody></tbody>
</table>
