<div class="row-fluid monitoring-layout-header"></div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<table class="Grid MonitoringWidget patient-info"></table>
		</div>
		<div class="span6">
			<table class="Grid MonitoringWidget signal-info"></table>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6 TreatmentBlock patient-diagnoses-list"></div>
		<div class="span6 TreatmentBlock  chemotherapy-info"></div>
	</div>

<!-- 	<div class="row-fluid">
		<div class="span12 monitoring-info"></div>
	</div>

	<div class="row-fluid">
		<div class="span12 express-analyses"></div>
	</div> -->
</div>



