<div class="row-fluid monitoring-layout-header">
	<div class="span11"><h3>История болезни № <%= appeal.number %></h3></div>
	<div class="span1"><i class="refresh-monitoring icon-refresh pull-right" title="Обновить"></i></div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<table class="Grid MonitoringWidget patient-info">
				<tr>
					<td>Группа крови и резус</td>
					<td>
						<% if (patient.medicalInfo.blood.group.length) { %>
						<%= patient.medicalInfo.blood.group %>
						<% } else { %>
						-
						<% } %>
						<!--<i class="icon-pencil"></i>-->
						<a href="#" class="pull-right">Изменить</a>
					</td>
				</tr>
				<tr>
					<td>Медикаментозная непереносимость</td>
					<td>
						<% if (patient.medicalInfo.drugIntolerances.length && patient.medicalInfo.drugIntolerances[0].substance.length) { %>
						<% _.each(patient.medicalInfo.drugIntolerances, function (drugIntolerance) { %>
						<p>
							<em class="Warning">
								<%= drugIntolerance.substance %>
								<% if (drugIntolerance.degree) { %>
								<%= drugIntolerance.degree %> степень
								<% } %>
								<% if (drugIntolerance.checkingDate) { %>
								установлено: <%= Core.Date.format(drugIntolerance.checkingDate) %>
								<% } %>
							</em>
						</p>
						<% }); %>
						<% } else { %>
						-
						<% } %>
					</td>
				</tr>
				<tr>
					<td>Рост</td>
					<td>
						<% if (appeal.physicalParameters.height) { %>
						<%= appeal.physicalParameters.height %> см
						<% } else { %>
						-
						<% } %>
					</td>
				</tr>
				<tr>
					<td>Аллергия</td>
					<td>
						<% if (patient.medicalInfo.allergies.length && patient.medicalInfo.allergies[0].substance.length) { %>
						<% _.each(patient.medicalInfo.allergies, function (allergy) { %>
						<p>
							<em class="Warning">
								<%= allergy.substance %>
								<% if (allergy.degree) { %>
								<%= allergy.degree %> степень
								<% } %>
								<% if (allergy.checkingDate) { %>
								установлено: <%= Core.Date.format(allergy.checkingDate) %>
								<% } %>
							</em>
						</p>
						<% }); %>
						<% } else { %>
						-
						<% } %>
					</td>
				</tr>
				<tr>
					<td>Вес</td>
					<td>
						<% if (appeal.physicalParameters.weight) { %>
						<%= appeal.physicalParameters.weight %>
						<% if (moment().diff(moment(parseInt(patient.birthDate)), 'month') < 1) { %>
						г
						<% } else { %>
						кг
						<% } %>
						<% } else { %>
						-
						<% } %>
					</td>
				</tr>
				<tr>
					<td>BSA</td>
					<td>wtf?</td>
				</tr>
			</table>
		</div>
		<div class="span6">
			<table class="Grid MonitoringWidget">
				<tr>
					<td>Дата поступления</td>
					<td>
						<%= Core.Date.format(appealExtraData.rangeAppealDateTime.start) %>
					</td>
				</tr>
				<tr>
					<td>Продолжительность лечения (дней) или дата выписки</td>
					<td>
						<%= Core.Date.format(appealExtraData.rangeAppealDateTime.end) || moment().diff(moment(appealExtraData.rangeAppealDateTime.start), "days") + 1 %>
					</td>
				</tr>
				<tr>
					<td>Отделение</td>
					<td>
						<%= appealExtraData.department.name %>
					</td>
				</tr>
				<tr>
					<td>Палата</td>
					<td>
						N/A
					</td>
				</tr>
				<tr>
					<td>Койка</td>
					<td>
						lastMove.bed
					</td>
				</tr>
				<tr>
					<td>Лечащий врач</td>
					<td>
						<%= appeal.setPerson.doctor.name.full %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6 TreatmentBlock">
			<% if (diagnoses.length) { %>
				<div class="Diagnosis">
					<% _.each(diagnoses, function (diagnosis) { %>
					<h3><%= diagnosis.label %></h3>
					<dl>
						<dt><%= diagnosis.mkb.code %></dt>
						<dd><%= diagnosis.mkb.diagnosis %></dd>
					</dl>
					<% }); %>
				</div>
			<% } else {%>
				<div class="Diagnosis"><h3>Диагноз не установлен</h3></div>
			<% } %>
		</div>
	</div>
	<h4>Мониторинг</h4>
	<div class="row-fluid">
		<div class="span12 monitoring-info">
			<!--  -->
		</div>
	</div>
	<h4>Экспресс-анализы</h4>
	<div class="row-fluid">
		<div class="span12 express-analyses">
			<!--  -->
		</div>
	</div>
</div>

<!--<div class="dashboard">
	<div class="dashboard-line">
		<div class="dashboard-widget patient-info">
			<ul class="param-list">
				<li><span class="param-name">Группа крови и резус</span></li>
				<li><span class="param-name">Медикаментозная непереносимость</span></li>
				<li><span class="param-name">Рост</span></li>
				<li><span class="param-name">Аллергия</span></li>
				<li><span class="param-name">Вес</span></li>
				<li><span class="param-name">BSA</span></li>
			</ul>
		</div>
		<div class="dashboard-widget appeal-signal-info">
			<ul class="param-list">
				<li><span class="param-name">Группа крови и резус</span></li>
				<li><span class="param-name">Медикаментозная непереносимость</span></li>
				<li><span class="param-name">Рост</span></li>
				<li><span class="param-name">Аллергия</span></li>
				<li><span class="param-name">Вес</span></li>
				<li><span class="param-name">BSA</span></li>
			</ul>
		</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget diagnoses-list">dsa</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget monitoring">dsa</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget express-diagnostics">daa</div>
	</div>
</div>-->



