<%if (collection.length) { %>

<tr>
	<td>Дата, время</td>
	<%_.each(result.datetime, function(item, index){ %>
	<td><%=Core.Date.formatDateTime(item)%></td>
	<%});%>
</tr>
<tr>
	<td>Т</td>
	<%_.each(result.temperature, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>АД</td>
	<%_.each(result.bpras, function(item, index){ %>
	<td><%if (item) {%><%=parseInt(item)%> / <%=parseInt(result.bprad[index])%><%} else {%>-<%}%></td>
	<%});%>
</tr>
<tr>
	<td>ЧСС</td>
	<%_.each(result.heartRate, function(item, index){ %>
	<td><%=parseInt(item) || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>SpO2</td>
	<%_.each(result.spo2, function(item, index){ %>
	<td><%=parseInt(item) || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>ЧД</td>
	<%_.each(result.breathRate, function(item, index){ %>
	<td><%=parseInt(item) || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Состояние</td>
	<%_.each(result.state, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<tr>
	<td>Самочувствие</td>
	<%_.each(result.health, function(item, index){ %>
	<td><%=item || '-'%></td>
	<%});%>
</tr>
<!-- 	<%_.each(collection,function (item, index) {%>
		<tr <% if(false){%>style="display:none;"<%}//index > 0%>>
			<td><%=Core.Date.formatDateTime(item.get("datetime"))%></td>
			<td><%=item.get("temperature") || '-'%></td>
			<td><%if (item.get("bpras") && item.get("bprad")) {%><%=parseInt(item.get("bpras"))%>/<%=parseInt(item.get("bprad"))%><%} else {%>-<%}%></td>
			<td><%=parseInt(item.get("heartRate")) || '-'%></td>
			<td><%=parseInt(item.get("spo2")) || '-'%></td>
			<td><%=parseInt(item.get("breathRate")) || '-'%></td>
			<td><%=item.get("state") || '-'%></td>
			<td><%=item.get("health") || '-'%></td>
		</tr>
	<%});%> -->
<%} else {%>
	<tr>
		<td colspan="8">Нет данных</td>
	</tr>
<%}%>
