<table class="Grid MonitoringGrid">
	<thead>
		<tr>
			<th class="sortable" data-sort-field="datetime" data-sort-type="datetime">Дата </th>
			<th class="sortable" data-sort-field="temperature" data-sort-type="numeric">Т </th>
			<th class="sortable" data-sort-field="bloodPressure" data-sort-type="bloodPressure">АД </th>
			<th class="sortable" data-sort-field="heartRate" data-sort-type="numeric">ЧСС </th>
			<th class="sortable" data-sort-field="spo2" data-sort-type="numeric">SpO2 </th>
			<th class="sortable" data-sort-field="breathRate" data-sort-type="numeric">ЧД </th>
			<th>Состояние</th>
			<th>Самочувствие</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>