<%if (collection.length) { %>
	<%_.each(collection,function (item, index) {%>
		<tr <% if(false){%>style="display:none;"<%}//index > 0%>>
			<td><%=Core.Date.formatDateTime(item.get("datetime"))%></td>
			<td><%=item.get("temperature") || '-'%></td>
			<td><%if (item.get("bpras") && item.get("bprad")) {%><%=parseInt(item.get("bpras"))%>/<%=parseInt(item.get("bprad"))%><%} else {%>-<%}%></td>
			<td><%=parseInt(item.get("heartRate")) || '-'%></td>
			<td><%=parseInt(item.get("spo2")) || '-'%></td>
			<td><%=parseInt(item.get("breathRate")) || '-'%></td>
			<td><%=item.get("state") || '-'%></td>
			<td><%=item.get("health") || '-'%></td>
		</tr>
	<%});%>
<%} else {%>
	<tr>
		<td colspan="8">Нет данных</td>
	</tr>
<%}%>
