<tbody>
<tr class="patient-blood-type"></tr>
<tr class="patient-blood-type-history"></tr>
<tr>
	<td>Медикаментозная непереносимость</td>
	<td>
		<% if (patient.medicalInfo.drugIntolerances.length && patient.medicalInfo.drugIntolerances[0].substance.length) { %>
		<ul>
			<% _.each(patient.medicalInfo.drugIntolerances, function (drugIntolerance) { %>
			<li>
				<em class="Warning">
					<span style="font-weight: bold;"><%= drugIntolerance.substance %></span><br>
					<% if (drugIntolerance.degree) { %>
							<% if(drugIntolerance.degree == 1) { %>
							    <span>степень: низкая</span><br>
							<% } else if(drugIntolerance.degree == 2) { %>
							    <span>степень: средняя</span><br>
							<% } else if(drugIntolerance.degree == 3) { %>
							    <span>степень: высокая</span><br>
						<% } %>
					<% } %>
					<% if (drugIntolerance.checkingDate) { %>
					<span>установлено: <%= Core.Date.format(drugIntolerance.checkingDate) %></span>
					<% } %>
					<% if (drugIntolerance.comment) { %>
					<span>комментарий: <%= drugIntolerance.comment %></span>
					<% } %>
				</em>
			</li>
			<% }); %>
		</ul>
		<% } else { %>
		-
		<% } %>
	<td>
		<a class="edit-intolerances pull-right ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<span class="ui-button-text"><i class="icon-pencil"></i></span>
		</a>
	</td>
	</td>
</tr>
<tr>
	<td>Аллергия</td>
	<td>
		<% if (patient.medicalInfo.allergies.length && patient.medicalInfo.allergies[0].substance.length) { %>
		<ul>
			<% _.each(patient.medicalInfo.allergies, function (allergy) { %>
			<li>
				<em class="Warning">
					<span style="font-weight: bold;"><%= allergy.substance %></span><br>
					<% if (allergy.degree) { %>
						<% if(allergy.degree == 1) { %>
						    <span>степень: низкая</span><br>
						<% } else if(allergy.degree == 2) { %>
						    <span>степень: средняя</span><br>
						<% } else if(allergy.degree == 3) { %>
						    <span>степень: высокая</span><br>
						<% } %>
					<% } %>
					<% if (allergy.checkingDate) { %>
					<span>установлено: <%= Core.Date.format(allergy.checkingDate) %></span>
					<% } %>
					<% if (allergy.comment) { %>
					<span>комментарий: <%= allergy.comment %></span>
					<% } %>
				</em>
			</li>
			<% }); %>
		</ul>
		<% } else { %>
		-
		<% } %>
	</td>
	<td>
		<a class="edit-allergies pull-right ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<span class="ui-button-text"><i class="icon-pencil"></i></span>
		</a>
	</td>
</tr>
</tbody>

<tbody class="patient-bsa"></tbody>
