<% if (diagnoses.length) { %>
<div class="Diagnosis">
	<% diagnoses.each(function (diagnosis) { %>
	<h3><%= diagnosis.get("diagnosisKindLabel") %></h3>
	<dl>
		<dt><%= diagnosis.get("mkb").code %></dt>
		<dd><%= diagnosis.get("mkb").diagnosis %></dd>
	</dl>
	<% }); %>
</div>
<% } else {%>
<div class="Diagnosis"><h3>Диагноз не установлен</h3></div>
<% } %>