<% if (diagnoses.length && _(diagnoses.toJSON()).chain().pluck("mkb").pluck("code").any().value()) { %>
	<div class="Diagnosis">
		<% diagnoses.each(function (diagnosis) { %>
			<% if (diagnosis.get("mkb").code) { %>
				<h3><%= diagnosis.get("diagnosisKindLabel") %></h3>
				<p>
					<%= diagnosis.get("mkb").code %> &mdash; <%= diagnosis.get("mkb").diagnosis %>
				</p>
				<p>
					<%= Core.Date.format(diagnosis.get("datetime")) %> <%= diagnosis.get("doctor").name.raw %>
				</p>
				<!--<dl>
					<dt><%= diagnosis.get("mkb").code %></dt>
					<dd><%= diagnosis.get("mkb").diagnosis %></dd>
				</dl>-->
			<% } %>
		<% }); %>
	</div>
<% } else {%>
	<div class="Diagnosis"><h3>Диагноз не установлен</h3></div>
<% } %>
