<td colspan="2" style="padding-left: 1em;">
	<span>История изменения группы крови</span>
	<% if (bloodTypeHistory.length) { %>
	<ul style="margin-top: 1em; padding-left: 1em;">
		<% bloodTypeHistory.each(function (bloodType) { %>
			<li>
				<span style="color: grey"><%= Core.Date.format(bloodType.get("bloodDate")) %>:</span> <span style="color: #414142;"><%= bloodType.get("bloodType").name %></span>
			</li>
		<% }); %>
	</ul>
	<% } else { %>
	Нет данных
	<% } %>
</td>