<tr>
    <td>Рост</td>
    <td>
        <% if(height){%>
        <%= height %>
        <% }else{ %>
        -
        <% } %>

    </td>
</tr>
<tr>
    <td>Вес</td>
    <td>
        <% if(weight){%>
        <%= weight %>
        <% }else{ %>
        -
        <% } %>
    </td>
</tr>
<tr>
    <td>Площадь поверхности тела</td>
    <td>
        <% if(bsa){%>
        <%= bsa %>
        <% }else{ %>
        -
        <% } %>
    </td>
</tr>
