<tbody>
<tr>
	<td>Дата поступления</td>
	<td>
		<%= Core.Date.format(appeal.rangeAppealDateTime.start) %>
	</td>
</tr>
<tr>
	<td>Продолжительность лечения (дней) или дата выписки</td>
	<td>
		<% if (appeal.closed) { %>
			<% if (appeal.closeDateTime){ %>
				<%= Core.Date.format(appeal.closeDateTime) %>
			<%}%>
		<% } else { %>
			<%= days %>
		<% } %>
	</td>
</tr>
<tr>
	<td>Отделение</td>
	<td>
		<%= appeal.currentDepartment.name %>
	</td>
</tr>
<!--<tr>
	<td>Палата</td>
	<td>
		N/A
	</td>
</tr>-->
<tr>
	<td>Койка</td>
	<td>
		<% if (lastMove && lastMove.get("bed")) { %>
			<%= lastMove.get("bed") %>
		<% } else { %>
			-
		<% } %>
	</td>
</tr>
<tr>
	<td>Лечащий врач</td>
	<td>
		<div class="row-fluid">
			<div class="span12" style="min-height: 0">
				<% if (appeal.execPerson && appeal.execPerson.name) { %>
					<%= appeal.execPerson.name.raw %>
				<% } else { %>
					<span class="Warning">Врач не назначен</span>
				<% } %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12" style="min-height: 0; margin-top: .7em;">
				<%if (canAssign){%>
				<a href="#" class="assign-exec-person"><i class="icon-pencil"></i></a>
				<%}%>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td>Исход госпитализации</td>
	<td>
		<% if (appeal.leaved && appeal.leaved.hospOutcome) { %>
			<%= appeal.leaved.hospOutcome %>
		<% } else { %>
			-
		<% } %>
	</td>
</tr>
<tr>
	<td>Результат госпитализации</td>
	<td>
		<% if (appeal.result && appeal.result.name) { %>
			<%= appeal.result.name %>
		<% } else { %>
			-
		<% } %>
	</td>
</tr>
</tbody>
