<div class="date">
    <input
    type="text"
    id="dateRangeMin"
    placeholder="дд.мм.гггг"
    class="SelectDate"
    style="width:6.5em;"
    data-value="filter.dateRangeMin | date" />

    <input
    type="text"
    id="dateRangeMax"
    placeholder="дд.мм.гггг"
    class="SelectDate"
    style="width:6.5em;"
    data-value="filter.dateRangeMax | date" />


    <div id="dateRangeType">
      <input type="checkbox" id="days" /><label for="days">День</label>
      <input type="checkbox" id="weeks" /><label for="weeks">Неделя</label>
      <input type="checkbox" id="months" /><label for="months">Месяц</label>
    </div>
</div>
