<div class="date">
    <input
    type="text"
    id="dateRangeMin"
    placeholder="дд.мм.гггг"
    class="SelectDate"
    style="width:6.5em;"
    data-value="filter.dateRangeMin | date" />

    <input
    type="text"
    id="dateRangeMax"
    placeholder="дд.мм.гггг"
    class="SelectDate"
    style="width:6.5em;"
    data-value="filter.dateRangeMax | date" />


<!--     <div id="dateRangeType">
      <input name="date-type" type="radio" id="days" data-checked="filter.dateType" value="days"/><label for="days">День</label>
      <input name="date-type" type="radio" id="weeks"  data-checked="filter.dateType" value="weeks"/><label for="weeks">Неделя</label>
      <input name="date-type" type="radio" id="months"  data-checked="filter.dateType" value="months"/><label for="months">Месяц</label>
    </div> -->
</div>
