<label for="drug-name">
	Лекарственный препарат
	<input name="drug-name" type="text"  data-value="filter.drugName">
</label>
<label for="doctor-name">
	Врач
	<input name="doctor-name" type="text"  data-value="filter.doctorName">
</label>
<label for="pacient-name">
	Пациент
	<input name="pacient-name" type="text"  data-value="filter.pacientName">
</label>

<div id="departments"></div>
<div id="administration"></div>



<!-- <select name="doctors" id="doctors" data-value="filter.doctorId">
	<option value="false">...</option>
	<option value="1">иван иваныч</option>
	<option value="205">балашов</option>
</select> -->


<div id="date-range"></div>



