<select name="departments" id="departments" data-value="filter.departmentId">
	<option value="false">...</option>
	<option value="22">департамент 22</option>
	<option value="18">департамент 18</option>
</select>


<select name="doctors" id="doctors" data-value="filter.doctorId">
	<option value="false">...</option>
	<option value="1">иван иваныч</option>
	<option value="205">балашов</option>
</select>


<div class="date">
	<input
	type="text"
	id="datepicker"
	placeholder="дд.мм.гггг"
	class="SelectDate"
	style="width:6.5em;"
	data-value="filter.date | date" />
</div>


