<script id="examinations-list-page" type="text/x-jquery-tmpl">
	<div id="page-head">
    </div>
    <div class="CardHeader Clearfix">
    	<div class="CardNav">
			<h2>
				{{if patient && patient.name}}
					{{if patient.name.first || patient.name.last || patient.name.middle}}
						{{if patient.name.last}}
							${patient.name.last}
						{{/if}}
						{{if patient.name.first}}
							${patient.name.first}
						{{/if}}
						{{if patient.name.middle}}
							${patient.name.middle}
						{{/if}}
					{{else}}
						{{if patient.name.raw}}
							${patient.name.raw}
						{{else}}
							-
						{{/if}}
					{{/if}}
				{{/if}}
			</h2>
			<ul class="SectionNav">
				<li>
					<a href="/patients/${patient.id}/">Карточка пациента</a>
				</li>
				<li class="Selected">
					<a href="/patients/${patient.id}/appeals/">Госпитализации</a>
				</li>
				<li>
					<a href="#">Амбулаторные случаи</a>
				</li>
			</ul>
		</div>
    </div>
	<section id="page" class="Clearfix TwoCol">
		<aside class="LeftSideBar">
		</aside>
		<div class="ContentSide Clearfix">
			<div class="ContentHolder">

				<div class="ContentHeader Clearfix">
					<div class="PageActions">
						<div class="DDList">
							<div class="Title">
								<button id="new-exam" class="Styled Button">
									<i class="Icon AddIcon Tiny"></i>
									<span>Новый осмотр</span><i class="Icon Arrow Tiny Down">▼</i>
								</button>
							</div>
							<div id="exam-type-list" class="Content ButtonContent" style="top: 31px; ">
								<ul>
									<li>
										Дневниковый
									</li>
									<li>
										Совместный
									</li>
									<li>
										Консультация
									</li>
									<li>
										Консилиум
									</li>
									<li>
										Первичный
									</li>
								</ul>
							</div>
						</div>
						<div class="CloseHistory">
							<button class="Styled Button Actions ToggleFilters"><i class="Icon Tiny SearchIcon"></i><span>Фильтр</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</script>

<script id="examination-department" type="text/x-jquery-tmpl">
	<div class="ContentHeader Clearfix">
		<div class="PageActions">
			<div class="DDList">
				<div class="Title">
					<button id="new-exam" class="Styled Button">
						<i class="Icon AddIcon Tiny"></i>
						<span>Новый осмотр</span><i class="Icon Arrow Tiny Down">▼</i>
					</button>
				</div>
				<div id="exam-type-list" class="Content ButtonContent" style="top: 31px; ">
					<ul>
						<li>
							Дневниковый
						</li>
						<li>
							Совместный
						</li>
						<li>
							Консультация
						</li>
						<li>
							Консилиум
						</li>
						<li>
							Первичный
						</li>
					</ul>
				</div>
			</div>
			<div class="CloseHistory">
				<button class="Styled Button Actions ToggleFilters"><i class="Icon Tiny SearchIcon"></i><span>Фильтр</span></button>
			</div>
		</div>
	</div>
</script>