<script id="appeal-edit-common" type="text/x-jquery-tmpl">

	<div id="page-head">

	</div>
	<div class="CardHeader Clearfix">
		<div class="CardNav"></div>
		<!--<div class="CardPrint">
			<button class="Styled Button Disabled"><span>Печать</span></button>
		</div>-->
	</div>
	<section id="page" class="Clearfix OneCol WithRightSideBar">
		<div class="ContentSide Clearfix">
		<aside class="SideBar">
			<h3><a href="/patients/${patient.id}/appeals/">История госпитализаций</a></h3>
			<div class="History"></div>
		</aside>
		<div class="FormSide">
			<div class="ContentHolder">
				<div class="ContentHeader Clearfix">
					<div class="PageActions">
						<button class="button-color-green Actions Save"><span>{{if isNew}}Создать{{else}}Сохранить{{/if}}</span></button>
						<a class="Actions Cancel"><span>Отмена</span></a>
					</div>
				</div>
				<div class="EditForm Clearfix">
					<ul class="LineBlockHolder">
						<li>
							<div class="LineBlock">
								<div class="HalfCol">
									<label>Номер истории болезни</label>
									<input class="Disabled NotEditable" disabled="disabled" type="text" name="number" placeholder="" />
								</div>
							</div>
						</li>
						<li>
							<div class="LineBlock">
								<div class="QuartCol">
									<label> Дата начала </label>
									<div class="date">
										<!--<input type="text" name="beginDate" id="appeal-start-date" placeholder="дд.мм.гггг" data-relation="#appeal-start-time" class="date-input date-range-start Mandatory">-->
										<input type="text" id="appeal-start-date" data-relation="#appeal-start-time" name="appeal[date][start]" placeholder="дд.мм.гггг" class="date-input SelectDate Mandatory" required="required" data-mindate="${-Math.floor((new Date().getTime() - new Date(patient.birthDate).getTime())/(1000*60*60*24))}"/>
										<i class="icon-calendar date-icon"></i>
									</div>
									<!--<div class="DateTime">
										<div class="DatePeriod SingleDate Mandatory">
											<div class="FromTo">
												<input type="text" id="appeal-start-date" data-relation="#appeal-start-time" name="appeal[date][start]" placeholder="дд.мм.гггг" class="SelectDate" required="required" data-mindate="${-Math.floor((new Date().getTime() - new Date(patient.birthDate).getTime())/(1000*60*60*24))}"/>
											</div>
											<i class="DateIcon Icon"></i>
										</div>
										&lt;!&ndash;<input type="text" id="appeal-start-time" class="ShortInput" data-relation="#appeal-start-date" name="appeal[time][start]" required="required">&ndash;&gt;
										<div class="SingleTime">
											<input type="text" id="appeal-start-time" class="HourPicker Mandatory" data-relation="#appeal-start-date" name="appeal[time][start]" placeholder="чч:мм" required="required"/>
										</div>
									</div>-->
								</div>
								<div class="QuartCol WithoutName">
									<div class="time">
										<!--<input type="text" class="time-input hasTimepicker" id="appeal-start-time"  placeholder="ЧЧ:ММ" data-relation="#appeal-start-date" value="08:00">-->
										<input type="text" id="appeal-start-time" class="HourPicker Mandatory" data-relation="#appeal-start-date" name="appeal[time][start]" placeholder="чч:мм" required="required"/>
										<i class="icon-time time-icon"></i>
									</div>
								</div>
								<div class="QuartCol">
									<label> Дата окончания </label>
									<div class="date">
										<input type="text" id="appeal-end-date" data-relation="#appeal-end-time" name="appeal[date][end]" placeholder="дд.мм.гггг" class="SelectDate" />
										<i class="icon-calendar date-icon"></i>
									</div>
								</div>
								<div class="QuartCol WithoutName">
									<div class="time">
										<input type="text" id="appeal-end-time" class="HourPicker" data-relation="#appeal-end-date" name="appeal[time][end]" placeholder="чч:мм"/>
										<i class="icon-time time-icon"></i>
									</div>
								</div>

									<!--<div class="DateTime">
										<div class="DatePeriod SingleDate">
											<div class="FromTo">
												<input type="text" id="appeal-end-date" data-relation="#appeal-end-time" name="appeal[date][end]" placeholder="дд.мм.гггг" class="SelectDate" />
											</div>
											<i class="DateIcon Icon"></i>
										</div>
										<div class="SingleTime">
											<input type="text" id="appeal-end-time" class="HourPicker" data-relation="#appeal-end-date" name="appeal[time][end]" placeholder="чч:мм"/>
										</div>
									</div>-->

								<div class="HalfCol WithoutName">
									<div class="InlineForm">
										<label>
											<input type="checkbox" name="urgent"/>
											<span class="Warning">Срочно</span>
										</label>
									</div>
								</div>
							</div>
							<div class="LineBlock">
								<div class="HalfCol">
									<label>Первичность</label>
									<select class="Styled Mandatory" name="appealWithDeseaseThisYear">
										<option value="">...</option>
										<option value="первично">Первично</option>
										<option value="повторно">Повторно</option>
									</select>
								</div>
								<div class="HalfCol">
									<label>Отделение поступления</label>
									<select class="Styled" name="org_struct_stay">
										<option value="" selected="selected">...</option>
										{{each(i, dep) dicts.departments}}
										<option value="${dep['id']}">${dep['name']}</option>
										{{/each}}
									</select>
								</div>
							</div>
							{{if havePrimary}}
							<div class="LineBlock">
								<div class="HalfCol">
									<label>Отказ от госпитализации</label>
									<input type="text"  class="Combo" name="refuse_appeal_reason" placeholder="Причина" data-options="${_.pluck(dicts.refuseAppealReasons, 'value').join('|')}">
								</div>
							</div>
							{{/if}}
						</li>
						<li>
							<div class="LineBlock">
								<div class="HalfCol">
									<span class="Label">Тип обращения</span>
									<select class="Styled Mandatory" name="request_type[id]">
										<option value="" selected="selected">...</option>
										{{each(i, type) dicts.requestTypes}}
										<option value="${type['id']}">${type['value']}</option>
										{{/each}}
									</select>
								</div>
								<div class="HalfCol">
									<span class="Label">Тип финансирования</span>
									<select class="Styled Mandatory" name="finance[id]">
										<option value="" selected="selected">...</option>
										{{each(i, type) dicts.financeTypes}}
											{{if type['id'] && type['value']}}
										<option value="${type['id']}">${type['value']}</option>
											{{/if}}
										{{/each}}
									</select>
								</div>
								<div class="SemiCol">
									<span class="Label">Тип события</span>
									<input type="text" class="Disabled Mandatory NotEditable" data-tooltip-text="Тип события недоступен" name="event_type[name]" disabled="disabled" value="${appealType.eventType.name}">
									<input type="hidden" name="event_type[id]" value="${appealType.eventType.id}">
								</div>
							</div>
						</li>
						<li>
							<div class="LineBlock">
								<div class="HalfCol">
									<span class="Label">Согласовано</span>
									<select class="Styled" name="agreed_type[id]">
										<option value="" selected="selected">...</option>
										{{each(i, type) dicts.agreedTypes}}
											<option value="${type['id']}">${type['63']}</option>
										{{/each}}
									</select>
								</div>
								<div class="SemiCol WithoutName">
									<input type="text" name="agreed_doctor[name]" placeholder="ФИО"/>
								</div>
							</div>
						</li>
						<li>
							<div class="LineBlock">
								<div class="HalfCol">
									<span class="Label">С кем госпитализируется</span>
								</div>
							</div>
							<div class="LineBlock Hidden">
								<ul class="representative-list"></ul>
							</div>
							<div class="LineBlock">
								<button class="AddRepresentative" style="margin-bottom: 1em;">
									Добавить законного представителя
								</button>
							</div>
						</li>
						<li>
							<div class="LineBlock">
								<div class="HalfCol">
									<label> Кем направлен </label>
									<input type="text"  class="Combo" name="assignment[directed]" placeholder="..." data-options="${_.pluck(dicts.assigmentTypes, 'value').join('|')}">
								</div>
								<div class="HalfCol">
									<label> Направивший врач </label>
									<input type="text" name="assignment[doctor][name]" placeholder="" />
								</div>
								<div class="HalfCol">
									<label> Номер направления </label>
									<input type="text" name="assignment[number]" placeholder="№" />
								</div>
								<div class="QuartCol">
									<span class="Label">Дата направления</span>
									<div class="date">
										<input type="text" name="assignment[assignment_date]" placeholder="дд.мм.гггг" class="date-input SelectDate" />
										<i class="icon-calendar date-icon"></i>
									</div>
									<!--<div class="DatePeriod SingleDate">
										<div class="FromTo">
											<input type="text" name="assignment[assignment_date]" placeholder="дд.мм.гггг" class="SelectDate" />
										</div>
										<i class="DateIcon Icon"></i>
									</div>-->
								</div>
							</div>
							<div class="LineBlock">
								<div class="HalfCol">
									<label>Направлен из</label>
									<select class="Styled" name="org_struct_directed_from">
										<option value="" selected="selected">...</option>
										{{each(i, dep) dicts.departments}}
										<option value="${dep['id']}">${dep['name']}</option>
										{{/each}}
									</select>
								</div>
								<div class="HalfCol">
									<span class="Label">Порядок госпитализации</span>
									<select class="Styled Mandatory" name="hospitalization_type[id]">
										<option value="" selected="selected">...</option>
										{{each(i, type) dicts.hospitalizationTypes}}
											<option value="${type['id']}">${type['47']}</option>
										{{/each}}
									</select>
								</div>
								<div class="HalfCol">
									<span class="Label">Цель госпитализации</span>
									<select class="Styled Mandatory" name="hospitalization_point_type[id]">
										<option value="" selected="selected">...</option>
										{{each(i, type) dicts.hospitalizationPointTypes}}
											<option value="${type['id']}">${type['49']}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="LineBlock">
								<div class="HalfCol">
									<span class="Label">Кем доставлен</span>
									<input type="text"  class="Combo" name="delivered_type[id]" placeholder="..." data-options="${_.pluck(dicts.deliveredTypes, 'value').join('|')}">
								</div>
								<div class="HalfCol">
									<label> Номер наряда СП </label>
									<input type="text" name="ambulance_number" placeholder="№" />
								</div>
							</div>
						</li>
						<li>
							<div class="LineBlock">
								<div class="SemiCol">
									<span class="Label">Доставлен от начала заболевания/травмы через</span>
									<input type="text"  class="Combo" name="delivered_after_type[id]" placeholder="..." data-options="${_.pluck(dicts.deliveredAfterTypes, 'value').join('|')}">
								</div>
								<div class="SemiCol">
									<span class="Label">Вид транспортировки</span>
									<input type="text"  class="Combo Mandatory" name="moving_type" placeholder="..." data-options="${_.pluck(dicts.movingTypes, 'value').join('|')}">
								</div>
								<div class="HalfCol">
									<span class="Label">В состоянии при поступлении</span>
									<select class="Styled" name="state_type">
										<option value="">...</option>
										{{each(i, type) dicts.stateTypes}}
										<option value="${type['id']}">${type['57']}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</li>
						<li>
							<h4>Направительный</h4>
							<div id="diagnosis-assignments"></div>
						</li>
						<li>
							<h4>Осложнения</h4>
							<div id="diagnosis-aftereffects"></div>
						</li>
						<li>
							<h4>Сопутствующий</h4>
							<div id="diagnosis-attendants"></div>
						</li>
						<li>
							<div class="Injury LineBlock">
								<div class="LineCol">
									<span class="Label">Травма</span>
									<input type="text"  class="Combo" name="injury" placeholder="..." data-options="${_.pluck(dicts.injuryTypes, 'value').join('|')}">
								</div>
							</div>
						</li>
						<li>
							<h4>Физические параметры</h4>
							<div class="LineBlock">
								<div class="QuartCol">
									<span class="Label">Артериальное давление, левая рука</span>
									<input type="text" name="physical_parameters[blood_pressure][left][syst]" class="ShortInput" placeholder="" data-validate-size="true" data-maxsize="300" data-minsize="0" />
									<span class="FieldInfo">Сист,&nbsp;мм.рт.ст.</span>
								</div>
								<div class="QuartCol WithoutName">
									<input type="text" name="physical_parameters[blood_pressure][left][diast]" class="ShortInput" placeholder="" data-validate-size="true" data-maxsize="200" data-minsize="0" />
									<span class="FieldInfo">Диаст,&nbsp;мм.рт.ст.</span>
								</div>
								<div class="QuartCol">
									<span class="Label">Артериальное давление, правая рука</span>
									<input type="text" name="physical_parameters[blood_pressure][right][syst]" class="ShortInput" placeholder="" data-validate-size="true" data-maxsize="300" data-minsize="0" />
									<span class="FieldInfo">Сист,&nbsp;мм.рт.ст.</span>
								</div>
								<div class="QuartCol WithoutName">
									<input type="text" name="physical_parameters[blood_pressure][right][diast]" class="ShortInput" placeholder="" data-validate-size="true" data-maxsize="200" data-minsize="0" />
									<span class="FieldInfo">Диаст,&nbsp;мм.рт.ст.</span>
								</div>
							</div>
							<div class="LineBlock">
								<div class="HalfCol">
									<label> Температура тела </label>
									<input type="text" name="physical_parameters[temperature]" class="ShortInput RestrictFloat" placeholder="" data-validate-size="true" data-maxsize="45" data-minsize="0" />
								</div>
								<div class="HalfCol">
									<label> Вес при поступлении (кг) </label>
									<input type="text" name="physical_parameters[weight]" class="ShortInput RestrictFloat" placeholder="" data-validate-size="true" data-maxsize="{{if moment().diff(moment(parseInt(patient.birthDate)), 'month') < 1}}3000{{else}}300{{/if}}" data-minsize="0" />
									<span class="FieldInfo">Для пациентов младше 1 мес. в гр</span>
								</div>
								<div class="HalfCol">
									<label> Рост (см) </label>
									<input type="text" name="physical_parameters[height]" class="ShortInput RestrictFloat" placeholder="" data-validate-size="true" data-maxsize="300" data-minsize="0" />
								</div>
							</div>
						</li>
						<!--<li>
							<div class="LineBlock">
								<div class="SemiCol">
									<span class="Label">Направлен в отделение</span>
									<select class="Styled" name="branch_type[id]">
										<option selected="selected">...</option>
										<option value="2">Офтальмологии</option>
										<option value="3">Кардиологии</option>
										<option value="4">Пульмонологии</option>
										<option value="5">Интенсивной терапии</option>
									</select>
								</div>
								<div class="HalfCol">
									<span class="Label">Профиль койки</span>
									<select class="Styled" name="place_type[id]">
										<option selected="selected">...</option>-->
										<!--<option value="2">С матрасом</option>
										<option value="3">С подушкой</option>
										<option value="4">С тумбочкой</option>
										<option value="5">Без тумбочки</option>-->
									<!--</select>
								</div>
							</div>
						</li>-->
						</ul>
						<div class="FormButtons">
							<div class="PageActions">
								<button class="button-color-green Actions Save"><span>{{if isNew}}Создать{{else}}Сохранить{{/if}}</span></button>
								<a class="Actions Cancel"><span>Отмена</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div title="Ошибка" class="NonAdultAlert"><span style="font-size: 1.2em;">Нельзя добавить несовершеннолетнего представителя.</span></div>
	<div title="Ошибка" class="SamePatientAlert"><span style="font-size: 1.2em;">Нельзя добавить пациента в качестве представителя.</span></div>
</script>

<script id="appeal-edit-diagnosis" type="text/x-jquery-tmpl">
	<div class="LineBlock">
		<div class="QuartCol">
			<span class="Label"> Диагноз направившего учреждения </span>
			<input name="diagnosis[mkb][code]" type="text" placeholder="" value="{{if mkb.code}}${mkb.code}{{/if}}"/>
			<span class="FieldInfo">Код по МКБ</span>
		</div>
		<div class="HugeCol WithoutName">
			<input name="diagnosis[mkb][diagnosis]" class="Disabled NotEditable" disabled="disabled" type="text" placeholder="" value="{{if mkb.diagnosis}}${mkb.diagnosis}{{/if}}"/>
			<span class="FieldInfo">Описание</span>
		</div>
		<div class="QuartCol">
			<button class="MKBLauncher"><span>МКБ-10</span></button>
		</div>
		<!--<div class="QuartCol">
			<div class="AddLine">
				<i class="AddIcon Icon Tiny Actions Clone"></i>
				<i class="RemoveIcon Icon Tiny Actions Remove"></i>
			</div>
		</div>-->
	</div>
	<div class="LineBlock">
		<div class="WideCol">
			<label> Клиническое описание </label> <input name="diagnosis[description]" class="RichText" type="text" placeholder=""/>
			<!--<label> Клиническое описание </label> <textarea name="diagnosis[description]" placeholder=""></textarea>-->
		</div>
	</div>
</script>
