<!--<header class="Clearfix">
	<div class="PageActions Hidden">
		<div class="InspectionPaginator Clearfix">
			<div class="PrevPage">
				 <a href="">← Назад к поиску</a>
			</div>
		</div>
	</div>
	<h2 class="PopupHeader"></h2>
	&lt;!&ndash;<h2 class="PopupHeader EditHead Hidden">Создание карточки законного представителя</h2>&ndash;&gt;
	<div class="CloseHistory">
		<i class="DeleteIcon Icon Tiny"></i>
	</div>
</header>-->
<section class="PopUpLine SearchLine">

</section>
<section class="PopUpLine EditLine Hidden">

</section>