<script id="appeal-card-page" type="text/x-jquery-tmpl">

	<div id="page-head">

	</div>
	<div class="CardHeader Clearfix">
		<div class="CardNav">
			<h2>
				{{if patient && patient.name}}
				{{if patient.name.first || patient.name.last || patient.name.middle}}
				{{if patient.name.last}}
				${patient.name.last}
				{{/if}}
				{{if patient.name.first}}
				${patient.name.first}
				{{/if}}
				{{if patient.name.middle}}
				${patient.name.middle}
				{{/if}}
				{{else}}
				{{if patient.name.raw}}
				${patient.name.raw}
				{{/if}}
				{{/if}}
				{{/if}}
				{{if patient && patient.birthDate}}
				({{getYear patient.birthDate}} г.р.)
				{{/if}}
			</h2>
			<ul class="SectionNav">
				<li>
					<a href="/patients/${patient.id}/">Карточка пациента</a>
				</li>
				<li class="Selected">
					<a href="/patients/${patient.id}/appeals/">Госпитализации</a>
				</li>
				<li>
					<a href="#">Амбулаторные случаи
					</a>
				</li>
			</ul>
		</div>
		<div class="CardPrint">
			<button class="Styled Button Actions Print"><span>Печать</span></button>
		</div>
	</div>
	<section id="page" class="Clearfix TwoCol">
		<aside class="LeftSideBar">

		</aside>
		<div class="ContentSide Clearfix">
			<div class="ContentHolder">
				<h2>Поступление №${number}</h2>
				<table class="Grid PacientIntake">
					<tbody>
						<tr>
							<td> Дата и время поступления</td>
							<td>
								{{if rangeAppealDateTime.start}}
									{{formatDateTime rangeAppealDateTime.start}}
								{{else}}
									-
								{{/if}}
							</td>
						</tr>
						<tr>
							<td> Исполнитель </td>
							<td>
								{{if assignment.doctor}}
									${assignment.doctor.name.first} ${assignment.doctor.name.last}
								{{else}}
									-
								{{/if}}
							</td>
						</tr>
						<tr>
							<td>Срочно</td>
							<td>
								{{if urgent}}
									по экстренным показаниям
								{{else}}
									не срочно
								{{/if}}
							</td>
						</tr>
						<tr>
							<td> Кем направлен</td>
							<td>
								{{if assignment.directed}}
									${assignment.directed}
								{{else}}
									-
								{{/if}}
							</td>
						</tr>
						<tr>
							<td> Дата направления</td>
							<td>{{formatDate assignment.assignmentDate}}</td>
						</tr>
						<tr>
							<td> Номер направления</td>
							<td>${assignment.number}</td>
						</tr>
						<tr>
							<td> Кем доставлен</td>
							<td>${deliveredType}</td>
						</tr>
						<tr>
							<td> Вид транспортировки</td>
							<td>${movingType}</td>
						</tr>
						<tr>
							<td> Диагноз направившего учреждения</td>

							<td>
								{{each(i, diagnosis) diagnoses}}
									{{if diagnosis.diagnosisKind == "assignment"}}
										${diagnosis.mkb.code} - ${diagnosis.mkb.diagnosis}
									{{/if}}
								{{/each}}
							</td>
						</tr>
						<tr>
							<td> В состоянии опьянения?</td>
							<td>$stateType}</td>
						</tr>
						<tr>
							<td> Травма</td>
							<td>${injury}</td>
						</tr>
						<tr>
							<td> Доставлен в стационар от начала заболевания</td>
							<td>
								${deliveredAfterType}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</script>

<script id="appeal-monitor-page" type="text/x-jquery-tmpl">
	<div id="page-head"></div>
	<div class="CardHeader Clearfix">
		<div class="CardNav">
			<h2>
				{{if patient && patient.name}}
				{{if patient.name.first || patient.name.last || patient.name.middle}}
				{{if patient.name.last}}
				${patient.name.last}
				{{/if}}
				{{if patient.name.first}}
				${patient.name.first}
				{{/if}}
				{{if patient.name.middle}}
				${patient.name.middle}
				{{/if}}
				{{else}}
				{{if patient.name.raw}}
				${patient.name.raw}
				{{/if}}
				{{/if}}
				{{/if}}
				{{if patient && patient.birthDate}}
				({{getYear patient.birthDate}} г.р.)
				{{/if}}
			</h2>
			<ul class="SectionNav">
				<li>
					<a href="/patients/${patient.id}/">Карточка пациента</a>
				</li>
				<li class="Selected">
					<a href="/patients/${patient.id}/appeals/">Госпитализации</a>
				</li>
				<li>
					<a href="#">Амбулаторные случаи
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section id="page" class="Clearfix TwoCol">
		<aside class="LeftSideBar"></aside>
		<div class="ContentSide Clearfix">
			<div class="ContentHolder"></div>
		</div>
	</section>
</script>
