	<tr>
		<td>
			${name}
			{{if volume}}
				${volume}
			{{/if}}
		</td>
		<td>
			{{if color}}
				<span class="color-label" style="background-color:${color};"></span>
			{{/if}}
		</td>
		<td> ${count}шт.</td>
	</tr>

