<script id="examination-page" type="text/x-jquery-tmpl">
	<div id="page-head">

	</div>
	<div class="CardHeader Clearfix">

	</div>
	<section id="page" class="Clearfix TwoCol">
		<aside class="LeftSideBar">

		</aside>
		<div class="ContentSide Clearfix">
			<div class="ContentHolder">


			</div>
		</div>
	</section>
</script>