<section id="page" class="Clearfix EditForm">
	<ul>
		<li>
			<div class="LineBlock">
				<button class="Styled Button Actions PrintAppeal"><span>Печать госпитализации</span></button>
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<button class="Styled Button Actions PrintPatient"><span>Печать пациента</span></button>
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<button class="Styled Button Actions Print007"><span>Печать 007 формы</span></button>
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<button class="Styled Button Actions PrintConsentExam"><span>Согласие на осмотр</span></button>
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<button class="Styled Button Actions PrintExam"><span>Печать осмотра</span></button>
			</div>
		</li>
	</ul>
	<ul>
		<li>
			<h3>Настройки шаблонов</h3>
		</li>
		<li>
			<div class="LineBlock">
				<label> ID обращения </label>
				<input type="text" id="appeal-id" value="12396" placeholder="" />
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<label> ID пациента </label>
				<input type="text" id="patient-id" value="1" placeholder="" />
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<label> ID отделения </label>
				<input type="text" id="department-id" value="25" placeholder="" />
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<label> ID осмотра </label>
				<input type="text" id="exam-id" value="6974" placeholder="" />
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<label> Название шаблона (только <em>имя</em> файла) </label>
				<input type="text" id="template-name" placeholder="По-умолчанию" />
			</div>
		</li>
	</ul>
</section>