<section id="page" class="Clearfix TwoCol" style="margin-top: 15px;">
	<aside class="LeftSideBar">
		<nav>
			<ul class="AsideNav">
				<li class="Active">
					<a href="#"><span>ЛПУ</span></a>
					<ul>
						<li class="Active"><a href="#"><span>Отчёты МЗ</span></a></li>
						<li><a href="#"><span>Отчёты руководству</span></a></li>
						<li><a href="#"><span>Отчёты по экономике</span></a></li>
					</ul>
				</li>
				<li><a href="#"><span>Поликлиника</span></a></li>
				<li><a href="#"><span>Стационар</span></a></li>
				<li><a href="#"><span>Избранное</span></a></li>
			</ul>
		</nav>
	</aside>
	<div class="ContentSide Clearfix">
		<div id="page-head">
			<ul class="BreadCrumb">
				<li><a href="#">ЛПУ</a></li>
				<li><a href="#">Отчёты МЗ</a></li>
				<li>Отчёт МЗ</li>
			</ul>
		</div>

		<style type="text/css">
			.form-list{
				font-size: 13px;
			}
			.form-list-item{
				padding: 2px;
			}
			.form-list-item a{
				color: #000;
				text-decoration: none;
			}

			.form-list-level2 .form-list-item{
				padding-left: 10px;
				border-left:1px solid #d4d4d4;
				margin-left: 5px;
			}
			.form-list-level2 .form-list-item:hover{
				background-color:#DFEFFC;
			}
			.form-list-level2 .form-list-item:hover .form-list-item-icon{
				color: #909090;
			}

			.form-list-item-icon{
				color: #b5cdda;
				font-size: 12px;
			}


		</style>

		<ul class="form-list">
			<li class="form-list-item"><a href="#"><b>Ф1</b>  Раздел 1</a>
				<ul class="form-list-level2">
					<li class="form-list-item"><i class="form-list-item-icon icon-star"></i><a href="#"> Форма 1</a></li>
					<li class="form-list-item"><i class="form-list-item-icon icon-muted"></i><a href="#">Форма 2</a></li>
					<li class="form-list-item"><i class="form-list-item-icon icon-star"></i><a href="#"> Форма 3</a></li>
				</ul>
			</li>
			<li class="form-list-item"><a href="#"><b>Ф2</b>  Раздел 2</a></li>
			<li class="form-list-item"><a href="#"><b>Ф3</b>  Раздел 3</a></li>
		</ul>



		<div class="FormButtons">
			<button class="Styled Button"><span>Сохранить</span></button>
		</div>


	</div>
</section>
