<section id="page" class="Clearfix TwoCol" style="margin-top: 15px;">
	<aside class="LeftSideBar">
		<nav>
			<ul class="AsideNav">
				<li>
					<a href="#"><span>ЛПУ</span></a>
					<ul>
						<li class=""><a href="#"><span>Отчёты МЗ</span></a></li>
						<li><a href="#"><span>Отчёты руководству</span></a></li>
						<li><a href="#"><span>Отчёты по экономике</span></a></li>
					</ul>
				</li>
				<li><a href="#"><span>Поликлиника</span></a></li>
				<li class="Active"><a href="#"><span>Стационар</span></a>
					<ul>
						<li class="Active"><a href="#"><span>Коечный фонд</span></a></li>
					</ul>
				</li>
				<li><a href="#"><span>Избранное</span></a></li>
			</ul>
		</nav>
	</aside>
	<div class="ContentSide Clearfix">
		<div id="page-head">
			<ul class="BreadCrumb">
				<li><a href="#">ЛПУ</a></li>
				<li><a href="#">Отчёты МЗ</a></li>
				<li>Отчёт МЗ</li>
			</ul>
		</div>



		<ul class="form-list">
			<li class="form-list-item"><a href="#"><b>Ф1</b>  Раздел 1</a>
				<ul class="form-list-level2">
					<li class="form-list-item"><i class="form-list-item-icon icon-star"></i><a href="#"> Форма 1</a></li>
					<li class="form-list-item"><i class="form-list-item-icon icon-muted"></i><a href="#">Форма 2</a></li>
					<li class="form-list-item"><i class="form-list-item-icon icon-star"></i><a href="#"> Форма 3</a></li>
				</ul>
			</li>
			<li class="form-list-item"><a href="#"><b>Ф2</b>  Раздел 2</a></li>
			<li class="form-list-item"><a href="#"><b>Ф3</b>  Раздел 3</a></li>
		</ul>



		<div class="FormButtons">
			<button class="Styled Button"><span>Сохранить</span></button>
		</div>


	</div>
</section>
