<div class="ContentHolder">
	<div class="ContentHeader">
		<div class="PageActions">
			<div class="CloseHistory">
				{{if allowEditAppeal}}
				<button class="Styled Button Actions EditAppeal {{if isClosed}}Disabled{{/if}}" {{if isClosed}}disabled="disabled"{{/if}}><span>Редактировать</span></button>
				{{/if}}
			</div>
			<div>
				<h3 style="float: left">История болезни №${number}</h3>
				{{if urgent}}<span class="Privilege" style="margin-left: 1em; font-size: 100%;">Срочно</span>{{/if}}
				{{if isClosed}}<span class="Primary" style="margin-left: 1em; font-size: 100%;">Закрыта</span>{{/if}}
			</div>
		</div>
	</div>
</div>
<table class="Grid PacientIntake">
	<tbody>
		<tr>
			<td> Дата и время поступления</td>
			<td>
				{{if rangeAppealDateTime.start && rangeAppealDateTime.start > 0}}
					{{formatDateTime rangeAppealDateTime.start}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Дата и время выписки</td>
			<td>
				{{if closed && closed > 0}}
					{{formatDateTime closed}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Отказ от госпитализации</td>
			<td>
				{{if refuseAppealReason}}
					${refuseAppealReason}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Порядок госпитализации</td>
			<td id="hospitalizationType">
				{{if hospitalizationType && hospitalizationType.id && hospitalizationType.id !== -1}}
					{{each(i, type) dicts.hospitalizationTypes}}
						{{if type.id == hospitalizationType.id}}
							${type[47]}
						{{/if}}
					{{/each}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Цель госпитализации </td>
			<td id="hospitalizationPointType">
				{{if hospitalizationPointType && hospitalizationPointType.id && hospitalizationPointType.id !== -1}}
					{{each(i, type) dicts.hospitalizationPointTypes}}
						{{if type.id == hospitalizationPointType.id}}
							${type[49]}
						{{/if}}
					{{/each}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<!--<tr>
			<td> Вид оплаты </td>
			<td>
				{{if appealType && appealType.name}}
				${appealType.name}
				{{else}}
				-
				{{/if}}
			</td>
		</tr>-->
		<tr>
			<td> Тип обращения </td>
			<td>
				{{if appealType && appealType.requestType && appealType.requestType.name}}
				${appealType.requestType.name}
				{{else}}
				-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Тип финансирования </td>
			<td>
				{{if appealType && appealType.finance && appealType.finance.name}}
				${appealType.finance.name}
				{{else}}
				-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Исполнитель </td>
			<td>
				{{if setPerson.doctor && setPerson.doctor.name}}
					${setPerson.doctor.name.raw}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Кем направлен</td>
			<td>
				{{if assignment.directed && assignment.directed != "-1"}}
					${assignment.directed}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Дата направления</td>

			<td>
				{{if assignment.assignmentDate && assignment.assignmentDate > 0}}
					{{formatDate assignment.assignmentDate}}
				{{else}}
				-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Номер направления</td>
			<td>{{if assignment && assignment.number}}${assignment.number}{{else}}-{{/if}}</td>
		</tr>
		<tr>
			<td> Кем доставлен</td>
			<td>{{if deliveredType && deliveredType != "-1"}}${deliveredType}{{else}}-{{/if}}</td>
		</tr>
		<tr>
			<td> Номер наряда СП</td>
			<td>{{if ambulanceNumber}}${ambulanceNumber}{{else}}-{{/if}}</td>
		</tr>
		<tr>
			<td> Вид транспортировки</td>
			<td>{{if movingType}}${movingType}{{else}}-{{/if}}</td>
		</tr>
		<tr>
			<td> Диагноз направившего учреждения</td>

			<td>
				{{if diagnoses && diagnoses.length}}
					{{each(i, diagnosis) diagnoses}}
						{{if diagnosis.diagnosisKind == "assignment"}}
							${diagnosis.mkb.code} - ${diagnosis.mkb.diagnosis}
						{{/if}}
					{{/each}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Клиническое описание диагноза </td>

			<td>
				{{if diagnoses && diagnoses.length}}
					{{each(i, diagnosis) diagnoses}}
						{{if diagnosis.diagnosisKind == "assignment"}}
							{{html diagnosis.description}}
						{{/if}}
					{{/each}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> В состоянии опьянения</td>
			<td>
				{{if stateType}}
					{{if stateType == 153}}
						Алкогольного
					{{else stateType == 154}}
						Наркотического
					{{else stateType == 155}}
						Другое
					{{/if}}
				{{else}}
					-
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Травма</td>
			<td>{{if injury}}${injury}{{else}}-{{/if}}</td>
		</tr>
		<tr>
			<td> Госпитализировался по поводу заболевания в этом году</td>
			<td>
				{{if appealWithDeseaseThisYear}}${appealWithDeseaseThisYear}{{else}}-{{/if}}
			</td>
		</tr>
		<tr>
			<td> Доставлен в стационар от начала заболевания</td>
			<td>
				{{if deliveredAfterType && deliveredAfterType != "-1"}}${deliveredAfterType}{{else}}-{{/if}}
			</td>
		</tr>
		{{if hospitalizationWith && hospitalizationWith.length}}
			{{each(i, hw) hospitalizationWith}}
				<tr>
					<td>Законный представитель</td>
					<td>
						<a href="/patients/${hw.relative.id}/">
							<span>${hw.relative.name}, {{getYear hw.relative.birthDate}} г.р.{{if hw.note}} (${hw.note}){{/if}}</span>
						</a>
					</td>
				</tr>
			{{/each}}
		{{/if}}
	</tbody>
</table>