<h2>${patient.name.last} ${patient.name.first} ${patient.name.middle} — {{formatDate patient.birthDate}}, {{ageString patient.birthDate}}</h2>
<div class="EditForm">
	<ul class="LineBlockHolder Clearfix">
		<li>
			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Группа крови</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if patient.medicalInfo.blood.group.length}}
						${patient.medicalInfo.blood.group}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Медикаментозная непереносимость</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if patient.medicalInfo.drugIntolerances.length && patient.medicalInfo.drugIntolerances[0].substance.length}}
						{{each(i, drugIntolerance) patient.medicalInfo.drugIntolerances}}
						<em class="Warning">${drugIntolerance.substance}	{{if drugIntolerance.degree}}${drugIntolerance.degree} степень{{/if}}	{{if drugIntolerance.checkingDate}}установлено: {{formatDate drugIntolerance.checkingDate}}{{/if}}</em>
						{{/each}}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>


			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Рост</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if physicalParameters.height}}
						${physicalParameters.height} см
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Вес</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if physicalParameters.weight}}
						${physicalParameters.weight} кг
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>
		</li>
		<li>
			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Дата поступления</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if rangeAppealDateTime.start}}
						{{formatDate rangeAppealDateTime.start}}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Отделение</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if branchType.name}}
						${branchType.name}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Палата</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if ward}}
						${ward}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Койка</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if placeType.name}}
						${placeType.name}
						{{else}}
						-
						{{/if}}
					</p>

				</div>
			</div>

			<div class="LineBlock">
				<div class="HalfCol">
					<span class="Label">Лечащий врач</span>
				</div>
				<div class="HalfCol">
					<p>
						{{if assignment.doctor}}
						${assignment.doctor}
						{{else}}
						-
						{{/if}}
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="TreatmentBlock Clearfix">
	{{if diagnoses.length && diagnoses[0].diagnosisKind.length}}
	<div class="Diagnosis">
		{{each(i, diagnosis) diagnoses}}
		{{if diagnosis.diagnosisKind == "main"}}
		<h3> Основной диагноз</h3>
		{{else diagnosis.diagnosisKind == ""}}
		{{/if}}

		<dl>
			<dt> ${diagnosis.mkb.code} </dt>
			<dd> ${diagnosis.mkb.diagnosis} </dd>
		</dl>
		{{/each}}


		<h3>Конкурирующий диагноз</h3>
		<dl>
			<dt> D69.1 </dt>
			<dd> Качественные дефекты тромбоцитов </dd>
		</dl>
	</div>
	{{/if}}

	<div class="LineBlock Clearfix">
	<div class="LineCol">
		<h3><a href="#">Медикаментозное</a></h3>
		<table class="Grid">
			<thead>
			<tr>
				<th>
					Лекарство
				</th>
				<th>
					с
				</th>
				<th>
					по
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					Бисептол
				</td>
				<td>
					05.09.2011
				</td>
				<td>
					20.09.2011
				</td>
			</tr>
			<tr>
				<td>
					Ацикловир
				</td>
				<td>
					05.09.2011
				</td>
				<td>
					30.09.2011
				</td>
			</tr>
			<tr>
				<td>
					Селлсепт
				</td>
				<td>
					04.09.2011
				</td>
				<td>
					30.09.2011
				</td>
			</tr>
			<tr>
				<td>
					Омепразол
				</td>
				<td>
					01.09.2011
				</td>
				<td>
					08.09.2011
				</td>
			</tr>
			<tr>
				<td>
					Вентолин – аэрозоль
				</td>
				<td>
					01.09.2011
				</td>
				<td>
					30.09.2011
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="LineCol">
		<h3><a href="#">Мониторинг</a></h3>
		<table class="Grid">
			<thead>
			<tr>
				<th>
					Дата и время
				</th>
				<th>
					ЧСС
				</th>
				<th>
					ЧДД
				</th>
				<th>
					АД
				</th>
				<th>
					SpO2
				</th>
				<th>
					T
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					02.11.2010 21:00
				</td>
				<td>
					84
				</td>
				<td>
					28
				</td>
				<td>
					100/60
				</td>
				<td>
					95
				</td>
				<td>
					37.1
				</td>
			</tr>
			<tr>
				<td>
					02.11.2010 15:00
				</td>
				<td>
					83
				</td>
				<td>
					27
				</td>
				<td>
					95/55
				</td>
				<td>
					95
				</td>
				<td>
					36.8
				</td>
			</tr>
			<tr>
				<td>
					02.11.2010 09:00
				</td>
				<td>
					90
				</td>
				<td>
					29
				</td>
				<td>
					105/65
				</td>
				<td>
					94
				</td>
				<td>
					36.6
				</td>
			</tr>
			<tr>
				<td>
					01.11.2010 21:00
				</td>
				<td>
					88
				</td>
				<td>
					26
				</td>
				<td>
					100/55
				</td>
				<td>
					94
				</td>
				<td>
					37.0
				</td>
			</tr>
			<tr>
				<td>
					01.11.2010 15:00
				</td>
				<td>
					83
				</td>
				<td>
					27
				</td>
				<td>
					95/55
				</td>
				<td>
					94
				</td>
				<td>
					36.8
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="LineBlock Clearfix">
		<div class="LineCol">
			<h3><a href="#">Оперативное</a></h3>
			<table class="Grid">
				<thead>
				<tr>
					<th>
						Статус
					</th>
					<th>
						Дата
					</th>
					<th>
						Хирург
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						Запланирована
					</td>
					<td>
						03.10.2010
					</td>
					<td>
						Петренко Л.С.
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="LineCol">
			<h3><a href="#">Восстановительное</a></h3>
			<table class="Grid">
				<thead>
				<tr>
					<th>
						Тип
					</th>
					<th>
						с
					</th>
					<th>
						по
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						Общий массаж
					</td>
					<td>
						01.10.2011
					</td>
					<td>
						02.01.2011
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="LineBlock Clearfix">
		<div class="LineCol">
			<h3>Экстракорпоральное — не назначалось</h3>
		</div>
	</div>
</div>