<form action="">
	<div class="ContentHeader Clearfix">
		<div class="PageActions">
			<button class="Styled Button Green Actions Save"><span>Создать</span></button>
			<button class="Styled Button Hidden Green Actions Update"><span>Сохранить</span></button>
			<button class="Styled Button Actions Cancel"><span>Отмена</span></button>
		</div>
	</div>
	<h2></h2>
	<div class="EditForm Clearfix">
		<ul class="LineBlockHolder">
			<li></li>
		</ul>
	</div>
	<div class="ContentHeader Clearfix">
		<div class="PageActions">
			<button class="Styled Button BlueBorder Actions Save"><span>Создать</span></button>
			<button class="Styled Button Hidden BlueBorder Actions Update"><span>Сохранить</span></button>
			<a class="Actions Cancel"><span>Отмена</span></a>
		</div>
	</div>
</form>