<div class="ContentHeader">
	<div class="PageActions">
		<div class="CloseHistory">
			<button class="Actions CopyFromPrevious">Копировать из предыдущего</button>
		</div>
		<h2>Осмотр</h2>
	</div>
</div>
<div class="ContentHolder">
<div class="EditForm Clearfix">
<ul class="LineBlockHolder">
<li>
	<div class="LineBlock">
		<div class="QuartCol">
			<label> Начало </label>
			<div class="date">
				<input type="text" id="exam-begin-date" data-relation="#exam-begin-time" placeholder="дд.мм.гггг" class="SelectDate Mandatory">
				<i class="icon-calendar date-icon"></i>
			</div>
			<!--<div class="DateTime">
				<div class="DatePeriod SingleDate Mandatory">
					<div class="FromTo">
						<input type="text" id="exam-begin-date" data-relation="#exam-begin-time" placeholder="дд.мм.гггг" class="SelectDate">
					</div>
					<i class="DateIcon Icon"></i>
				</div>
				<div class="SemiCol">
					<input type="text" id="exam-begin-time" data-relation="#exam-begin-date" placeholder="чч:мм" class="Styled HourPicker Mandatory">
				</div>
			</div>-->
		</div>
		<div class="DecCol WithoutName">
			<div class="time">
				<input type="text" id="exam-begin-time" data-relation="#exam-begin-date" placeholder="чч:мм" class="Styled HourPicker Mandatory">
				<i class="icon-time time-icon"></i>
			</div>
		</div>

		<div class="QuartCol">
			<label> Окончание </label>
			<div class="date">
				<input type="text" placeholder="дд.мм.гггг" class="SelectDate" id="exam-end-date" data-relation="#exam-end-time">
				<i class="icon-calendar date-icon"></i>
			</div>
			<!--<div class="DateTime">
				<div class="DatePeriod SingleDate">
					<div class="FromTo">
						<input type="text" placeholder="дд.мм.гггг" class="SelectDate" id="exam-end-date" data-relation="#exam-end-time">
					</div>
					<i class="DateIcon Icon"></i>
				</div>
				<div class="SemiCol">
					<input type="text" class="Styled HourPicker" id="exam-end-time" data-relation="#exam-end-date" placeholder="чч:мм"/>
				</div>
			</div>-->
		</div>
		<div class="DecCol WithoutName">
			<div class="time">
				<input type="text" id="exam-end-time" data-relation="#exam-end-date" placeholder="чч:мм" class="Styled HourPicker"/>
				<i class="icon-time time-icon"></i>
			</div>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<!--<div class="LineCol">-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Жалобы
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<!--<textarea class="ExamAttr Mandatory NewLineAllowed" data-thesaurus-code="1_4_04" data-examattr-id="70" cols="45" rows="5">${exam["70"]}</textarea>-->
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_4_04" data-examattr-id="70" cols="45" rows="5">${exam["70"]}</textarea>
			<!--<input class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_4_04" data-examattr-id="70" value="${exam['70']}">-->
		</div>
		<!--<div class="LineCol">-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Анамнез жизни
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_1_01" data-examattr-id="82" cols="45" rows="5">${exam["82"]}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Семейный анамнез
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="7_10_01" data-examattr-id="84" cols="45" rows="5">${exam["84"]}</textarea>
		</div>
		<!--<div class="LineCol">-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Анамнез заболевания
			</label>
			<!--<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>-->
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="" data-examattr-id="51" cols="45" rows="5">${exam["51"]}</textarea>
		</div>
	</div>
</li>
<!--<li>
	<div class="LineBlock">
		<div class="LineCol">
			&lt;!&ndash;<div class="LineCol SetComment">&ndash;&gt;
			<label>
				&lt;!&ndash;<input type="checkbox">&ndash;&gt;
				Анамнез заболевания
			</label>
			&lt;!&ndash;<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>&ndash;&gt;
			<textarea class="ExamAttr Mandatory" data-thesaurus-code="" data-examattr-id="51" cols="45" rows="5">${exam["51"]}</textarea>
		</div>
	</div>
</li>-->
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Аллергоанамнез
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-thesaurus-code="1_1_04" data-examattr-id="57">${exam["57"]}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Эпидемиологический анамнез
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_1_03" data-examattr-id="77" cols="45" rows="5">${exam["77"]}</textarea>
		</div>

	</div>
</li>
<li>
	<div class="LineBlock">
		<!--<div class="LineCol">-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				На "Д" учете с диагнозом
			</label>
			<!--<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>-->
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-examattr-id="58" data-thesaurus-code="">${exam["58"]}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Перенесенные заболевания
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-thesaurus-code="1_1_1_18" data-examattr-id="74">${exam["74"]}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Перенесенные операции
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-thesaurus-code="1_1_1_19" data-examattr-id="75">${exam["75"]}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Профилактические прививки
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-thesaurus-code="1_1_1_17" data-examattr-id="97">${exam["97"]}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<!--<div class="LineCol">-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Лекарственные аллергии, побочные действия
			</label>
			<!--<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>-->
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" cols="45" rows="5" data-examattr-id="78" data-thesaurus-code="">${exam["78"]}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>Вес, кг</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="85" value="${exam['85']}">
		</div>
		<div class="QuartCol">
			<label>Рост, см</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="86" value="${exam['86']}">
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label style="white-space: nowrap;">АД сист, мм рт ст</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="87" value="${exam['87']}">
			<!--<span class="FieldInfo">Верхнее</span>-->
		</div>
		<div class="QuartCol">
			<label style="white-space: nowrap;">АД диаст, мм рт ст</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="88" value="${exam['88']}">
			<!--<span class="FieldInfo">Нижнее</span>-->
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>ЧДД, в мин</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="89" value="${exam['89']}">
		</div>
		<div class="QuartCol">
			<label>ЧСС, уд. в мин.</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="90" value="${exam['90']}">
		</div>
	</div>
	<div class="LineBlock">
		<!--<div class="QuartCol">
			<label>SpO2</label>
			<input type="text" class="ExamAttr" data-examattr-id="102" value="${exam['102']}">
		</div>-->
		<div class="QuartCol">
			<label style="white-space: nowrap;">Доза облучения за предыдущие госпитализации (м3в)</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="91" value="${exam['91']}">
		</div>
	</div>
	<div class="LineBlock"><div class="LineBlock">
		<div class="QuartCol">
			<label style="white-space: nowrap;">Температура, С град</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="64" value="${exam['64']}">
		</div>
	</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<!--<div class="HalfCol">
			<span class="Label">
				Состояние при поступлении
			</span>
			<select class="Styled ComboBox ExamAttr" name="stateType" data-thesaurus-code="1_2_1_01" data-examattr-id="59">
				<option value=""></option>
				{{if dicts.stateTypes}}
				{{each(i, type) dicts.stateTypes}}
				<option value="${type['name']}">${type['name']}</option>
				{{/each}}
				{{/if}}
			</select>
		</div>-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Состояние при поступлении
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_01" data-examattr-id="59" cols="45" rows="5">${exam['59']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Самочувствие
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_03" data-examattr-id="60" cols="45" rows="5">${exam['60']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Сознание
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_06" data-examattr-id="61" cols="45" rows="5">${exam['61']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Телосложение
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_04" data-examattr-id="73" cols="45" rows="5">${exam['73']}</textarea>
		</div>
	</div>
</li>

<li>
	<div class="LineBlock">
		<!--<div class="HalfCol">
			<span class="Label">Телосложение</span>
			<select class="Styled" class="ExamAttr" data-thesaurus-code="1_2_1_04" data-examattr-id="1915">
				<option value="" selected="selected">...</option>
			</select>
		</div>
		<div class="HalfCol">
			<span class="Label">Сознание</span>
			<select class="Styled" class="ExamAttr" data-thesaurus-code="1_2_1_06" data-examattr-id="1877">
				<option value="" selected="selected">...</option>
			</select>
		</div>-->
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Кожа и подкожная клетчатка
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_09" data-examattr-id="62" cols="45" rows="5">${exam['62']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox" name="radio7" value="radio1">
				Язык и слизистые ротовой полости
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_03" data-examattr-id="52" cols="45" rows="5">${exam['52']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Зев
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_5_11" data-examattr-id="66" cols="45" rows="5">${exam['66']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Миндалины
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_5_10" data-examattr-id="71" cols="45" rows="5">${exam['71']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Лимфатические узлы
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_7_02" data-examattr-id="65" cols="45" rows="5">${exam['65']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Костно-мышечная система
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_08" data-examattr-id="79" cols="45" rows="5">${exam['79']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Дыхание
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_05" data-examattr-id="63" cols="45" rows="5">${exam['63']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox" name="radio6" value="radio1">
				Сердце
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_5_1_01" data-examattr-id="67" cols="45" rows="5">${exam['67']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Живот
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_05" data-examattr-id="72" cols="45" rows="5">${exam['72']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Печень
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_09" data-examattr-id="53" cols="45" rows="5">${exam['53']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Селезенка
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_7_01" data-examattr-id="54" cols="45" rows="5">${exam['54']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Неврологический статус
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_01" data-examattr-id="80" cols="45" rows="5">${exam['80']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Эндокринологический статус
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_04" data-examattr-id="81" cols="45" rows="5">${exam['81']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Стул
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_11" data-examattr-id="68" cols="45" rows="5">${exam['68']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Диурез
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_6_07" data-examattr-id="69" cols="45" rows="5">${exam['69']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Назначения
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_7_01" data-examattr-id="56" cols="45" rows="5">${exam['56']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Госпитализируется в сопровождении
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_99_2_01" data-examattr-id="76" cols="45" rows="5">${exam['76']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="QuartCol">
			<span class="Label">Диагноз при поступлении</span>
			<input name="diagnosis[mkb][code]" class="ExamAttr" data-examattr-id="103" data-mkb-examattr-id="103" type="text" value="{{if exam['103']}}${exam['103'].split(' ')[0]}{{/if}}">
			<span class="FieldInfo">Код по МКБ</span>
		</div>
		<div class="HugeCol WithoutName">
			<input name="diagnosis[mkb][diagnosis]" class="Disabled NotEditable" disabled="disabled" type="text" placeholder="" value="{{if exam['103']}}${exam['103'].substr(exam['103'].indexOf(' ') + 1, exam['103'].length)}{{/if}}"/>
			<span class="FieldInfo">Описание</span>
		</div>
		<div class="QuartCol">
			<button class="Styled Button MKBLauncher" data-mkb-examattr-id="103"><span>МКБ-10</span></button>
		</div>
	</div>
	<div class="LineBlock">
		<div class="WideCol">
			<span class="Label">Клиническое описание</span>
			<input type="text" class="Styled ExamAttr" data-examattr-id="55" value="${exam['55']}">
		</div>
	</div>
</li>

<!--<li>
	&lt;!&ndash;<div class="LineBlock">
		<div class="LineCol">
			<label>Основной клинический диагноз</label>
			<input class="ExamAttr" data-examattr-id="100" type="text" value="${exam[100]}" readonly>
		</div>
		<div class="QuartCol">
			<button class="Styled Button MKBLauncher" data-mkb-examattr-id="100"><span>МКБ-10</span></button>
		</div>
	</div>&ndash;&gt;
	&lt;!&ndash;<div class="LineBlock">
		<div class="WideCol">
			<span class="Label">Клиническое описание</span>
			<input type="text" class="Styled ExamAttr" data-examattr-id="55" value="${exam['55']}">
		</div>
	</div>&ndash;&gt;
</li>-->
<li>
	<div class="LineBlock">
		<div class="LineCol">
			<span class="Label">Заключение</span>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-examattr-id="93" cols="45" rows="5">${exam['93']}</textarea>
		</div>
		<!--<div class="LineCol">
			<span class="Label">Отказ от госпитализации</span>
			<select class="Styled" name="">
				<option value="" selected="selected">...</option>
			</select>
		</div>-->
	</div>
	<div class="LineBlock">
		<div class="LineCol">
			<span class="Label">
				Цель госпитализации
			</span>
			<select class="Styled ExamAttr Mandatory ValueId" data-examattr-id="96">
				<option value="">...</option>
				{{if dicts.hospitalizationPointTypes}}
				{{each(i, type) dicts.hospitalizationPointTypes}}
				<option value="${type['id']}" {{if exam['96'] == type['id']}}selected="selected"{{/if}}>${type['49']}</option>
				{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="LineCol">
			<span class="Label">Дефекты выявленные в приемном покое</span>
			<select class="Styled ExamAttr ValueId" data-examattr-id="94">
				<option value="">...</option>
				{{each(i, def) ["диагностики","неотложной помощи","иммобилизации","транспортировки","оформления документации"]}}
				<option value="${def}" {{if def === exam['94']}}selected="selected"{{/if}}>${def}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="LineBlock">
		<div class="LineCol">
			<span class="Label">Примечание</span>
			<input class="ExamAttr" type="text" data-examattr-id="95" value="${exam['95']}">
		</div>
	</div>
</li>
</ul>
<div class="FormButtons">
	<div class="PageActions">
		<button class="SaveBtn button-color-green">Сохранить</button>
		<a href="/appeals/${appealId}/examinations/" class="Actions Cancel">Отмена</a>
	</div>
</div>
</div>
</div>
