<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button id="new-exam" {{if isClosed}}disabled="disabled"{{/if}}>Новый осмотр</button>
		<div class="DDList" style="display: block; width: 19em;">
			<div id="exam-type-list" class="Content ButtonContent" style="top: 0; max-height: 30em; width: 200px;">
				<ul>
					<li data-exam-type="examination-primary" data-exam-struct-id="139">
						Первичный осмотр
					</li>
					<li data-exam-type="examination-primary-repeated" data-exam-struct-id="2456">
						Первичный осмотр (повторный)
					</li>
					<!--<li>
						<a href="new/first/">Совместный</a>
					</li>
					<li>
						Консультация
					</li>
					<li>
						Консилиум
					</li>
					<li>
						Дневниковый
					</li>-->
				</ul>
			</div>
		</div>
		<div class="CloseHistory">
			<button class="Actions ToggleFilters">Фильтр</button>
		</div>
	</div>
</div>

<div id="lab-grid"></div>