<div class="ContentHeader">
	<div class="PageActions">
		<div class="CloseHistory">
			<button class="Styled Button Actions CopyFromPrevious"><span>Копировать из предыдущего</span>
			</button>
		</div>
		<h2>Осмотр</h2>
	</div>
</div>
<div class="ContentHolder">
<div class="EditForm Clearfix">
<ul class="LineBlockHolder">
<li>
	<div class="LineBlock">
		<div class="HalfCol">
			<label> Начало </label>
			<div class="DateTime">
				<div class="DatePeriod SingleDate Mandatory">
					<div class="FromTo">
						<input type="text" id="exam-begin-date" data-relation="#exam-begin-time" placeholder="дд.мм.гггг" class="SelectDate">
					</div>
					<i class="DateIcon Icon"></i>
				</div>
				<div class="SemiCol">
					<input type="text" id="exam-begin-time" data-relation="#exam-begin-date" placeholder="чч:мм" class="Styled HourPicker Mandatory">
				</div>
			</div>
		</div>
		<div class="HalfCol">
			<label> Окончание </label>
			<div class="DateTime">
				<div class="DatePeriod SingleDate">
					<div class="FromTo">
						<input type="text" placeholder="дд.мм.гггг" class="SelectDate" id="exam-end-date" data-relation="#exam-end-time">
					</div>
					<i class="DateIcon Icon"></i>
				</div>
				<div class="SemiCol">
					<input type="text" class="Styled HourPicker" id="exam-end-time" data-relation="#exam-end-date" placeholder="чч:мм"/>
				</div>
			</div>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				Ребенок поступает
			</label>
			<input type="text" class="ExamAttr Mandatory Combo" data-examattr-id="128" value="${exam['128']}" data-options="планово|экстренно|контрольное обследование"/>
		</div>
	</div>
</li>
<li>
	<div class="LineCol SetComment">
		<label>
			<input type="checkbox">
			Анамнез заболевания
		</label>
		<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-examattr-id="129" cols="45" rows="5">${exam["129"]}</textarea>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>Вес, кг</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="130" value="${exam['130']}">
		</div>
		<div class="QuartCol">
			<label>Рост, см</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="131" value="${exam['131']}">
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label style="white-space: nowrap;">АД сист, мм рт ст</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="135" value="${exam['135']}">
		</div>
		<div class="QuartCol">
			<label style="white-space: nowrap;">АД диаст, мм рт ст</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="136" value="${exam['136']}">
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>ЧДД, в мин</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="133" value="${exam['133']}">
		</div>
		<div class="QuartCol">
			<label>ЧСС, уд. в мин.</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="134" value="${exam['134']}">
		</div>
	</div>
	<div class="LineBlock"><div class="LineBlock">
		<div class="QuartCol">
			<label style="white-space: nowrap;">Температура, С град</label>
			<input type="text" class="ExamAttr RestrictFloat" data-examattr-id="132" value="${exam['132']}">
		</div>
	</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Состояние
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_01" data-examattr-id="137" cols="45" rows="5">${exam['137']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Самочувствие
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_03" data-examattr-id="138" cols="45" rows="5">${exam['138']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Сознание
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_06" data-examattr-id="139" cols="45" rows="5">${exam['139']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Телосложение. Кожа и подкожная клетчатка
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_1_04" data-examattr-id="140" cols="45" rows="5">${exam['140']}</textarea>
		</div>
	</div>
</li>

<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Язык и слизистые ротовой полости
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_03" data-examattr-id="141" cols="45" rows="5">${exam['141']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Зев
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_5_11" data-examattr-id="142" cols="45" rows="5">${exam['142']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Миндалины
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_5_10" data-examattr-id="143" cols="45" rows="5">${exam['143']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Лимфатические узлы
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_7_02" data-examattr-id="144" cols="45" rows="5">${exam['144']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Костно-мышечная система
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_08" data-examattr-id="145" cols="45" rows="5">${exam['145']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Дыхание
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_05" data-examattr-id="146" cols="45" rows="5">${exam['146']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox" name="radio6" value="radio1">
				Сердце
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_2_5_1_01" data-examattr-id="147" cols="45" rows="5">${exam['147']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Живот
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_05" data-examattr-id="148" cols="45" rows="5">${exam['148']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Печень и селезенка
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_09" data-examattr-id="149" cols="45" rows="5">${exam['149']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Неврологический статус
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_01" data-examattr-id="150" cols="45" rows="5">${exam['150']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Стул
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_3_11" data-examattr-id="151" cols="45" rows="5">${exam['151']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Диурез
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_3_6_07" data-examattr-id="152" cols="45" rows="5">${exam['152']}</textarea>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="QuartCol">
			<span class="Label">Диагноз при поступлении</span>
			<input name="diagnosis[mkb][code]" class="ExamAttr" data-examattr-id="153" data-mkb-examattr-id="153" type="text" value="{{if exam['153']}}${exam['153'].split(' ')[0]}{{/if}}">
			<span class="FieldInfo">Код по МКБ</span>
		</div>
		<div class="HugeCol WithoutName">
			<input name="diagnosis[mkb][diagnosis]" class="Disabled NotEditable" disabled="disabled" type="text" placeholder="" value="{{if exam['153']}}${exam['153'].substr(exam['153'].indexOf(' ') + 1, exam['153'].length)}{{/if}}"/>
			<span class="FieldInfo">Описание</span>
		</div>
		<div class="QuartCol">
			<button class="Styled Button MKBLauncher" data-mkb-examattr-id="153"><span>МКБ-10</span></button>
		</div>
	</div>
	<div class="LineBlock">
		<div class="WideCol">
			<span class="Label">Клиническое описание</span>
			<input type="text" class="Styled ExamAttr" data-examattr-id="154" value="${exam['154']}">
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="LineCol">
			<label>
				Заключение
			</label>
			<textarea class="ExamAttr Mandatory NewLineAllowed RichText Resizable" data-examattr-id="155" cols="45" rows="5">${exam['155']}</textarea>
		</div>
		<div class="LineCol SetComment">
			<label>
				<input type="checkbox">
				Госпитализируется в сопровождении
			</label>
			<a href="#" class="FormLink ShowHidePopup Actions">Тезаурус</a>
			<textarea class="ExamAttr NewLineAllowed RichText Resizable" data-thesaurus-code="1_99_2_01" data-examattr-id="156" cols="45" rows="5">${exam['156']}</textarea>
		</div>
	</div>
</li>
</ul>
<div class="FormButtons">
	<button class="Styled Button SaveBtn"><span>Сохранить</span></button>
	<a href="/appeals/${appealId}/examinations/" class="Actions Cancel">Отмена</a>
</div>
</div>
</div>