<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button class="Styled Button actions save"><span>Сохранить</span></button>
		<a href="#">Отмена</a>
	</div>
</div>
<div class="EditForm Clearfix">
<ul class="LineBlockHolder">
<li>
	<div class="LineBlock">
		<div class="HalfCol">
			<label for="department">
				Поступил в отделение
			</label>
			<select class="Departments select2"  name="departments">
				<option value="">...</option>
			</select>
		</div>
		<div class="HalfCol">
			<label for="begDate">
				Дата и время поступления
			</label>

			<div class="DateTime">
				<div class="DatePeriod SingleDate">
					<div class="FromTo">
						<input type="text" name="move-date" id="move-date" placeholder="дд.мм.гггг" class="SelectDate"
									 data-relation="#move-time"/>
					</div>
					<i class="DateIcon Icon"></i>
				</div>
				<div class="SemiCol">
					<input type="text" class="Styled HourPicker" id="move-time" data-relation="#move-date" placeholder="чч:мм"/>
				</div>
				<!--<select class="Styled HourPicker" name="ward">-->
				<!--<option value="1" selected="selected">11:00</option>-->
				<!--<option value="2">12:00</option>-->
				<!--<option value="3">13:00</option>-->
				<!--<option value="4">14:00</option>-->
				<!--<option value="5">15:00</option>-->
				<!--</select>-->
			</div>
		</div>
		<div class="HalfCol">
			<span class="Label">Патронаж ${bedRegistration.patronage}</span>
			<div class="InlineForm">
				<label>
					<input type="radio" name="patronage" class="patronage" {{if bedRegistration.patronage == 'Да'}} checked {{/if}} value="Да">
					Да
				</label>
				<label>
					<input type="radio" name="patronage" class="patronage" {{if bedRegistration.patronage == 'Нет'}} checked {{/if}} value="Нет">
					Нет
				</label>
			</div>
		</div>
	</div>
</li>
<li>


<div class="BedListHeader">
	<!--<span class="WardLabel">№ палаты</span><span class="BedLabel">Койки</span>-->
</div>
<div class="beds clearfix">

</div>
</li>
</ul>
<div class="FormButtons">
	<button class="Styled Button actions save"><span>Сохранить</span></button>
	<a href="#">Отмена</a>
</div>
</div>
