<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button id="assign-inst-diag" class="Styled Button"><i class="Icon AddIcon Tiny"></i><span>Назначить</span></button>

	</div>
</div>
