<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button id="assign-lab-diag" class="">Назначить</button>
		<div class="CloseHistory">
			<button class="Actions ToggleFilters">Фильтр</button>
		</div>
	</div>
</div>

<div id="lab-grid"></div>