<style>
	.dashboard {
		display: table;
		width: 100%;
	}
	.dashboard-line {
		display: table-row;
	}
	.dashboard-widget {
		display: table-cell;
	}
</style>

<h2>История болезни № <%= number %></h2>
<div class="dashboard">
	<div class="dashboard-line">
		<div class="dashboard-widget patient-info">
			<ul class="param-list">
				<li><span class="param-name">Группа крови и резус</span></li>
				<li><span class="param-name">Медикаментозная непереносимость</span></li>
				<li><span class="param-name">Рост</span></li>
				<li><span class="param-name">Аллергия</span></li>
				<li><span class="param-name">Вес</span></li>
				<li><span class="param-name">BSA</span></li>
			</ul>
		</div>
		<div class="dashboard-widget appeal-signal-info">
			<ul class="param-list">
				<li><span class="param-name">Группа крови и резус</span></li>
				<li><span class="param-name">Медикаментозная непереносимость</span></li>
				<li><span class="param-name">Рост</span></li>
				<li><span class="param-name">Аллергия</span></li>
				<li><span class="param-name">Вес</span></li>
				<li><span class="param-name">BSA</span></li>
			</ul>
		</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget diagnoses-list">dsa</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget monitoring">dsa</div>
	</div>
	<div class="dashboard-line">
		<div class="dashboard-widget express-diagnostics">daa</div>
	</div>
</div>



