<button class="execute-intervals">Исполнить</button>
<button class="execute-not-executed-intervals">Исполнить все неисполненные</button>
<span class="print-button">Печать</span>
<ul class="intervals-legend" >
    <li>
    <span class="interval-runs"></span> Выполняется
    </li>
    <li>
    <span class="interval-assigned"></span> Назначено
    </li>
    <li>
    <span class="interval-notExecuted"></span> Не исполнено
    </li>
    <li>
    <span class="interval-executed"></span> Исполнено
    </li>
    <li>
    <span class="interval-canceled"></span> Отменено
    </li>
    <li>
    <span class="interval-stop"></span> Стоп
    </li>
</ul>

