<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <div class="span6">
                <label>
                    Способ введения
                    <div id="administration"></div>
                </label>

                <label for="drug-name">
                    Лекарственный препарат
                    <input name="drug-name" id="drug-name" type="text"  data-value="filter.drugName">
                </label>


            </div>
            <div class="span6">
                <label for="pacient-name">
                    Пациент
                    <input name="pacient-name" id="pacient-name" type="text"  data-value="filter.pacientName">
                </label>
                <label for="set-person-name">
                    Назначивший врач
                    <input name="set-person-name" id="set-person-name" type="text"  data-value="filter.setPersonName">
                </label>

            </div> 
        </div>
    

    </div>
    <div class="span3">
        <label>
            Отделение
            <div id="departments"></div>
        </label>
        <label>
            Дата
        <div id="date-range"></div>
        </label>
    </div>
    <div class="span3">
        <label>
            Группировать по
            <select id="groupBy" data-value="filter.groupBy" style="width: 100%;">
                <option value="moa">Тип введения</option>
                <option value="name">Тип действия</option>
                <option value="interval">Тип интервала</option>
                <option value="client">Пациент</option>
                <option value="createPerson">Назначивший врач</option>
            </select>
        </label>

        <label style="padding-top: 1em;">
            <button id="clear-filter">Очистить фильтр</button>
        </label>
    </div>
    <!-- <div class="span2"> -->
    <!-- </div> -->
</div>




