<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <div class="span6">
                <label>
                    Способ введения
                    <div id="administration"></div>
                </label>

                <label for="drug-name">
                    Лекарственный препарат
                    <input name="drug-name" id="drug-name" type="text"  data-value="filter.drugName">
                </label>


            </div>
            <div class="span6">
                <label for="pacient-name">
                    Пациент
                    <input name="pacient-name" id="pacient-name" type="text"  data-value="filter.pacientName">
                </label>
                <label for="set-person-name">
                    Назначивший врач
                    <input name="set-person-name" id="set-person-name" type="text"  data-value="filter.setPersonName">
                </label>

            </div> 
        </div>
    

    </div>
    <div class="span3">
        <label>
            Департамент
            <div id="departments"></div>
        </label>
        <label>
            Дата
        <div id="date-range"></div>
        </label>
    </div>
    <div class="span1">
        <label style="padding-top: 1em;">
            <button id="clear-filter">Очистить фильтр</button>
        </label>
    </div>
    <div class="span2">
        <ul class="intervals-legend" >
            <li>
            <span class="interval-runs"></span> Выполняется
            </li>
            <li>
            <span class="interval-assigned"></span> Назначено
            </li>
            <li>
            <span class="interval-notExecuted"></span> Не исполнено
            </li>
            <li>
            <span class="interval-executed"></span> Испонено
            </li>
            <li>
            <span class="interval-canceled"></span> Отменено
            </li>
            <li>
            <span class="interval-stop"></span> Стоп
            </li>
        </ul>
    </div>
</div>




