<div class="row-fluid">
    <div class="span12"><div id="errors" style="color:red;"></div></div>
    <div class="span12">
        <table id="intervals" class="my-grid"> 
            <thead>
                <tr>
                <th>Состояние</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Примечание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr data-each-interval="form.intervals" >
                <td ><span data-text="interval.stateName"></span></td>
                <td>
                    <input data-show="interval:isNew" class="datetime_entry" type="text" data-value="interval.beginDateTime | datetime"> 
                    <span data-hide="interval:isNew" style="font-size:1.3em;" data-text="interval.beginDateTime | datetime"></span> 
                </td>
                <td>
                    <input data-show="interval:isNew" class="datetime_entry" type="text" data-value="interval.endDateTime | datetime"> 
                    <span data-hide="interval:isNew" style="font-size:1.3em;" data-text="interval.endDateTime | datetime"></span>
                </td>
                <td>
                    <input type="text" data-value="interval.note"> 
                </td>
                <td>
                    <button data-hide="form.hideAddPause" data-on-click="view:addPause" class="add-pause">Добавить паузу</button>
                    <span data-show="interval:isNew" data-on-click="interval:delete" class="icon-remove"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- <div class="span12"> -->
    <!--     <label for="note"> -->
    <!--         Примечание -->
    <!--         <textarea  rows="8" cols="45"  name="note" id="note" data-value="interval.note"></textarea> -->
    <!--     </label> -->
    <!-- </div> -->

    <div class="span12">
            <div class="radio">
                <input type="checkbox" <% if(!data.interval.canBeExecuted){%>disabled<%}%> id="execute-button" value="1"/><label for="execute-button">Выполнить</label>
                <input type="checkbox" <% if(!data.interval.canBeCanceledExecution){%>disabled<%}%> id="cancel-execution-button" value="0"><label for="cancel-execution-button">Отменить исполнение</label>
                <input type="checkbox" <% if(!data.interval.canBeCanceled){%>disabled<%}%> id="cancel-button" value="2"><label for="cancel-button">Отменить</label>
            </div> 
    </div>
</div>
