<div class="row-fluid">
    <div class="span12">
        <table id="intervals" class="my-grid"> 
            <tr><th>Начало</th><th>Окончание</th></tr>
            <tbody>
            <tr>
                <td>
                    <span style="font-size:1.3em;" data-text="interval.beginDateTime | datetime"></span> 
                </td><td>
                    <span style="font-size:1.3em;" data-text="interval.endDateTime | datetime"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="span12">
        <label for="note">
            Примечание
            <textarea  rows="8" cols="45"  name="note" id="note" data-value="interval.note"></textarea>
        </label>
    </div>

    <div class="span12">
        <% if(data.interval.status != 2){%>
            <div class="radio">

            <% if(data.interval.status != 1){%>
                <input type="radio" id="radio1" name="radio" data-checked="interval.status" value="1"><label for="radio1">Выполнить</label>
            <%}%>
            <% if(data.interval.status != 0){%>
                <input type="radio" id="radio2" name="radio" data-checked="interval.status" value="0"><label for="radio2">Отменить исполнение</label>
            <%}%>
                <input type="radio" id="radio3" name="radio" data-checked="interval.status" value="2"><label for="radio3">Отменить</label>
            </div> 
        <%}%>
    </div>
</div>
