<!--<script id="patient-card-page-history" type="text/x-jquery-tmpl">-->
	<ul class="TreatmentHistory">

	</ul>
	<div class="AllTreatments">
		<a href="/patients/${patient.id}/appeals/">Все обращения пациента</a> <span class="Quant">(${quantity})</span>
	</div>
<!--</script>-->

<!--
<script id="patient-card-page-history-item" type="text/x-jquery-tmpl">
	<h4><a href="/appeals/${id}/">№ ${number}</a></h4>
	{{formatDate rangeAppealDateTime.start}}{{if rangeAppealDateTime.end}} — {{formatDate rangeAppealDateTime.end}}{{/if}}
</script>-->
