<script id="breadcrumbs-item" type="text/x-jquery-tmpl">
	<a href="${uri}">${title}</a>
</script>
<script id="breadcrumbs-item-active" type="text/x-jquery-tmpl">
	${title}
</script>
<script id="breadcrumbs-template-patient" type="text/x-jquery-tmpl">
	${name.last} ${name.first} ${name.middle} {{if birthDate}}({{getYear birthDate}} г.р.){{/if}}
</script>