<div class="CardNav">
	<h2>
		{{if patient && patient.name}}
			{{if patient.name.first || patient.name.last || patient.name.middle}}
				{{if patient.name.last}}
					${patient.name.last}
				{{/if}}
				{{if patient.name.first}}
					${patient.name.first}
				{{/if}}
				{{if patient.name.middle}}
					${patient.name.middle}
				{{/if}}
			{{else}}
				{{if patient.name.raw}}
					${patient.name.raw}
				{{/if}}
			{{/if}}
		{{/if}}
		{{if patient && patient.birthDate}}
			({{ageString patient.birthDate}})
		{{/if}}
		{{if patient && patient.sex === 'male'}}
			Пол: М
		{{/if}}
		{{if patient && patient.sex === 'female'}}
			Пол: Ж
		{{/if}}

	</h2>
	<ul class="SectionNav">
		<li>
			<a href="/patients/${patient.id}/">Карточка пациента</a>
		</li>
		<li class="Selected">
			<a href="/patients/${patient.id}/appeals/">Госпитализации</a>
		</li>
		<li>
			<a href="#">Сводная информация</a>
		</li>
<!-- 		<li>
			<a href="#">Амбулаторные случаи</a>
		</li> -->
	</ul>
</div>
<div class="CardPrint Hidden" style="width: 150px;">
	<!--<button class="Styled Button Actions Print"><span>Печать</span></button>-->
	<!--<div class="PrintButtonHolder">
		<button class="Print" id="printBtn" data-print-template="f003" data-print-data="appeal">Печать</button>
		<button id="selectFormBtn">Выбор формы</button>
	</div>
	<div class="DDList" style="display: block;">
		<div class="Content ButtonContent" style="top: 0; max-height: 25em; width: 200px;">
			<ul id="staticPrints">
				<li>
					<a href="#" class="Print" data-print-template="consent_to_the_examination" data-print-data="patient">Согласие на обследование ВИЧ</a>
				</li>
				<li>
					<a href="#" class="Print" data-print-template="consent_to_treatment_representative" data-print-data="patient">Согласие на обследование и лечение (представитель)</a>
				</li>
				<li>
					<a href="#" class="Print" data-print-template="consent_to_treatment" data-print-data="patient">Согласие пациента на обследование и лечение пациент</a>
				</li>
				<li>
					<a href="#" class="Print" data-print-template="consent_to_the_processing" data-print-data="patient">Согласие субъекта на обработку персональных данных пациент</a>
				</li>
				<li>
					<a href="#" class="Print" data-print-template="consent_to_the_processing_representative" data-print-data="patient">Согласие субъекта на обработку персональных данных (представитель)</a>
				</li>
			</ul>
		</div>
	</div>-->
</div>
