<script id="header" type="text/x-jquery-tmpl">
	<!--<div class="Header Clearfix">-->
		<ul class="SectionNav">

		</ul>
		<div class="UserSide">
			<a href="#" class="LinkToProfile">${doctor.name.last} ${doctor.name.first}</a>,
			<span class="RoleContainer"></span>
			<a class="Actions Logout" href="/auth/">Выход</a>
		</div>
	<!--</div>-->
</script>
<script id="navigation-item" type="text/x-jquery-tmpl">
	{{if uri}}
		<a href="${uri}">${title}</a>
	{{else}}
		${title}
	{{/if}}
</script>

<script id="role-selector" type="text/x-jquery-tmpl">
	<div class="DDList SelectRole">
		<div class="Title">
			<a class="Actions UserRole"><span>${currentRole}</span></a>
		</div>
		<div class="Content">
			<ul></ul>
		</div>
	</div>
</script>
