<ul class="SectionNav">
	<% _.each(sections, function (section) { %>
		<% if (section.uri) { %>
			<li class="<%= section.name === currentPage ? 'Selected' : '' %>"><a href="<%= section.uri %>"><%= section.title %></a></li>
		<% } else { %>
			<li class="<%= section.name === currentPage ? 'Selected' : '' %>"><%= section.title %></li>
		<% } %>
	<% }); %>
</ul>
<div class="UserSide">
	<button class="LinkToProfile"><%= doctor.name.last %> <%= doctor.name.first[0] %>.</button>
	<ul class="profile-options" style="position: absolute; z-index: 9999; font-size: 1.2em; color: black;">
		<li style="">
			<span><%= doctor.name.last %> <%= doctor.name.first %> <%= doctor.name.middle %></span>
		</li>
		<% _.each(userAvailableRoles, function (role) { %>
			<li>
				<% if (currentRole === role.role) { %>
					<i class="icon-check"></i>
				<% } %>
				<span><%= role.title %></span>
			</li>
		<% }); %>
		<li><button class="logout" style="width: 100%">Выход</button></li>
	</ul>
	<!--<span class="RoleContainer"></span>-->
	<!--<a class="Actions Logout" href="/auth/">Выход</a>-->
</div>