<header class="Clearfix MKBHeader">
	<!--<div class="Clearfix">
		<div class="PopupActions">
			<button id="confirmSelection" class="Styled Button BlueBorder"><span>Выбрать</span></button>
		</div>
	</div>-->
	<div class="EditForm Clearfix">
		<div class="LineBlock" style="margin-bottom: 1em">
			<div class="HalfCol typeSearch">
				<select class="Styled Mandatory" name="typeSearchMKB">
					<option value="1" selected="selected">по названию</option>
					<option value="2">по коду</option>
				</select>
			</div>
			<div class="HugeCol MKBSearch">
				<input type="text" name="search" class="Searchable" placeholder="Поиск по МКБ" />
				<div class="searchButton">
					<div id="searchButtonMKB" class="SearchIcon"></div>
				</div>
				<!--<button id="searchButtonMKB" class="searchButton Styled Button">Найти</button>-->
			</div>

		</div>
		</div>
</header>
<section class="PopUpLine">
	<div class="MKB"></div>
</section>