<div id="main">
	<form>
		<div class="EditForm Clearfix">
			<ul class="LineBlockHolder">
				<li>
					<div class="LineBlock">
						<div class="HalfCol">
							<label>Date</label>
							<input type="text" class="date-widget-test" data-min-date="02.01.2013">
						</div>
					</div>
				</li>
				<li>
					<div class="LineBlock">
						<div class="HalfCol">
							<label>DateTime</label>
							<div class="datetime-widget-test">
								<div class="date">
									<input type="text">
								</div>
								<div class="time">
									<input type="text">
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</form>
</div>