<section class="PopUpLine">
	<div id="errors" style="color: red; "></div>
	<div class="DiagnosisVidget">
	<label><input type="checkbox" checked="checked" class="document-type-filter-orgstruct">Только разрешённые в моём отделении</label>
		<div class="VidgetLine" style="width:100%">
			<div class="VidgetCol col2 instrumental-groups">
				<!-- <ul class="SelectAnalysis  instrumental-groups"></ul> -->
			</div>
			<div class="VidgetCol ArrowCol">
				<i>►</i>
			</div>
			<div class="VidgetCol col3 instrumental-researchs">
				<!-- <ul class="SelectAnalysis instrumental-researchs"></ul> -->
			</div>
		</div>
	</div>

	<div class="bottom-form"></div>
</section>
