<section class="PopUpLine">
<div id="errors" style="color: red; "></div>
<div class="DiagnosisVidget">
<div class="DatepickerHolder">
	<div class="Label">Дата и время исследования</div>
	<div id="plannedDate" style="margin-bottom:2em;"></div>
	<div class="timepicker" style="position: relative;width: 6em;margin-bottom: 15px;">
		<input type="text"
			class=""
			id="plannedTime"
			placeholder="чч:мм">
		<i class="icon-time" style="position: absolute; right:0.5em; top: 0.5em"></i>
	</div>

	<input type="checkbox" name="urgent" value="">Cito<br>
</div>
<div class="VidgetLine">
	<div class="VidgetCol col2" style="background-color: #eee;">
		<ul class="SelectAnalysis  instrumental-groups"></ul>
	</div>
	<div class="VidgetCol ArrowCol">
		<i>►</i>
	</div>
	<div class="VidgetCol col3 instrumental-researchs">
		<div class="item"><label>${name}</label></div>
	</div>
</div>
</div>

<div class="bottom-form"></div>
</section>
