<% if(!closed){ %>
<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button id="assign-inst-diag" ><span>Назначить</span></button>
	</div>
</div>
<%}%>

<div id="grid"></div>
<div id="grid-pager"></div>

