<div class="row-fluid">
			<div class="span2">
				<span class="Label" style="white-space: nowrap">Дата и время создания</span>
				<div class="date">
					<input type="text" data-mindate="0" name="start-date" id="start-date" placeholder="дд.мм.гггг" class="SelectDate"
								 data-relation="#start-time" />
					<i class="icon-calendar date-icon"></i>
				</div>
			</div>

			<div class="span1 WithoutName">
				<div class="time">
					<input type="text" class="Styled HourPicker" id="start-time" data-relation="#start-date" placeholder="чч:мм"/>
					<i class="icon-time time-icon"></i>
				</div>
			</div>


			<div class="span6">
				<span class="Label">Направивший врач</span>
				<input name="doctor" type="text" style="color: #777;" disabled value="${doctorFirstName} ${doctorLastName}">
			</div>

			<div class="span3">
				<span class="Label">Вид оплаты</span><br/>
				<select name="finance" id="finance" style="width: 100%;"></select>
			</div>
		</div>

		<div class="mkb"></div>

