<table>
  <thead>
    <tr>
      <td style="width:50em;">&nbsp;</td>
      <td style="width:5em;">&nbsp;</td>
      <td style="width:8em;">&nbsp;</td>
      <td style="width:5.5em;">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
  	<td>
      <%= data.title %>
      <% if (data.indications) {%>
        <div>
          <textarea class="indications <%= data.indications.mandatory == 'true' ? 'Mandatory' : '' %>"
                    placeholder="Показания" id="indications-<%= data.code %>"
                    data-code="<%= data.code %>"
                    style="resize: vertical">
                    <%=data.indications.value %>
          </textarea>
        </div>
      <%}%>
    </td>
  	<td style="width:5em;">
    <label><input type="checkbox" <% if(data.urgent){%>checked="checked"<%}%> class="cito">Cito</label>
  </td>
  <td style="width:8.5em;">
	    <div class="date">
            <% console.log(data) %>
	      <input id="date-<%= data.code %>" type="text" class="plannedDate" placeholder="дд.мм.гггг">
	      <i class="icon-calendar date-icon" style="right:0.3em;"></i>
	    </div>
	  </td>
	  <td style="width:5.5em;">
	    <div class="time">
	      <input id="time-<%= data.code %>" type="text" class="plannedTime" placeholder="чч:мм"> <i class="icon-time time-icon"  style="right:0.3em;"></i>
	    </div>
	  </td>
      <td><i class="icon-remove" style="margin-left:15px; cursor:pointer"></i></td>
  </tbody>
</table>
