<script id="consult-diagnostic-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<!--<tr class="EditTh">-->
		<tr>
			<th>
				<a class="Actions SortCol" data-field="plannedEndDate"><span>Планируемая дата</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="status"><span>Статус</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="diagnosticName"><span>Консультация</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="cito"><span>Cito</span></a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="assignPerson"><span>Направивший врач</span></a>
			</th>
			<th colspan="3">
				<!--Действия-->
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="consult-diagnostic-grid-row" type="text/x-jquery-tmpl">
	<td>
		{{if plannedEndDate}}
		{{formatDateTime plannedEndDate}}
		{{else}}
		-
		{{/if}}
	</td>
	<td {{if status}} class="consultation-status-${status.id}"{{/if}}>
	{{if status.name}}
	${status.name}
	{{else}}
	-
	{{/if}}
	</td>
	<td>
		${diagnosticName.name}
	</td>
	<td>
		{{if cito}}
			<span class="Privilege">Срочно</span>
		{{/if}}
	</td>
	<td>
		${assignPerson.name.raw}
	</td>



{{if !appealClosed && isEditable}}
	<td><span class="icon-pencil edit-direction" title="Редактировать направление"></span></td>
{{else}}
	<td></td>
{{/if}}

{{if !appealClosed && ((assignPerson.id == userId)||(execPerson.id == userId)) && (status.id == 0 )}}
	<td><span class="icon-edit edit-consultation" title="Редактировать"></span></td>
{{else}}
	<td></td>
{{/if}}

{{if !appealClosed && isEditable}}
	<td><span class="icon-remove cancel-direction" title="Удалить"></span></td>
{{else}}
	<td></td>
{{/if}}


</script>

<script id="consult-diagnostic-grid-default" type="text/x-jquery-tmpl">
	<h3>Записей нет</h3>
</script>
