<% if(canAddDirection){ %>
<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button id="assign-consult" ><span>Назначить</span></button>
	</div>
</div>
<% }%>

<div id="grid"></div>
<div id="grid-pager"></div>
