<style>
    .list li{
    padding: 0.2em .5em;
    }
    .list li a{
        text-decoration:none;
    }
    .list li:hover,.list li.selected {
        background: #118EDC;
        color: #fff;
    }
    .list li:hover a,.list li.selected a{
        color: #fff;
    }
</style>

<section style="padding-top: 1em;">

<!--    <div class="row-fluid"  style="margin-bottom:25px;">
        <div class="span4">
            <label for="specialities">Специальность</label><br />
            <select name="specialities" id="specialities" style="width: 100%;">
                <option value="0">...</option>
            </select>
        </div>
        <div class="span5">
            <label for="departments">Отделение</label><br />
            <select name="departments" id="departments" style="width: 100%;">
                <option value="0">...</option>
            </select>
        </div>
    </div> -->

    <div class="row-fluid" style="margin-bottom:15px;">
        <div class="span4">
            <label for="">Список консультаций</label>
            <div style="height:35em; border: 1px solid #ccc; width: 100%;overflow: auto;">
                <div id="consultations"></div>
            </div>

        </div>
        <div class="span2">
            <label for="">&nbsp;</label>
            <div id="datepicker"></div>
        </div>
        <div class="span3" >
            <label for="">Список врачей</label>
            <div style="height:35em; border: 1px solid #ccc; width: 100%;overflow-x: auto;">
                <div id="consultants">
<!--                    <li>
                        <a href="#" >Иванов Петр</a>
                    </li>
                    <li class="selected">
                        <a href="#" >Альбина Пертрова</a>
                    </li>
                    <li>
                        <a href="#" >Николай Забалуев</a>
                    </li> -->
                </div>
            </div>
        </div>


        <div class="span3" id="schedule">

        </div>
    </div>

    <div class="row-fluid"  style="margin-bottom:15px;">
        <div class="span3" >
            <label for="assign-date">Дата и время создания</label>
            <div class="row-fluid">

                <div class="date span5">
                    <input type="text" data-mindate="0" name="assign-date" id="assign-date" placeholder="дд.мм.гггг" class="SelectDate"
                                 data-relation="#assign-time" />
                    <i class="icon-calendar date-icon" style="right: .25em;"></i>
                </div>

                <div class="time span3  offset1">
                    <input type="text" class="Styled HourPicker" id="assign-time" data-relation="#assign-date" placeholder="чч:мм"/>
                    <i class="icon-time time-icon" style="right: .25em;"></i>
                </div>
            </div>

            <!-- <input type="text" id="assign-date" name="assign-date" /> -->
        </div>
        <div class="span5">
            <label for="assign-person">Направивший врач</label><br />
            <div id="assigner-outer">
                <input
                name="assigner"
                id="assigner"
                type="text"
                style=""
                disabled
                value="${assigner.name.last} ${assigner.name.first} ${assigner.name.middle} ">

                <button class="change-assigner" style=""><i class="icon-user-md"></i></button>
            </div>
            <!-- <select name="assign-person"  id="assign-person"  style="width:100%;">

            </select> -->
        </div>
        <div class="span4">
            <label for="urgent">Срочно</label><br />
            <input type="checkbox" name="urgent" id="urgent" value="">
        </div>
    </div>
        <div class="row-fluid">
            <div class="span9" id="mkb"></div>
            <div class="span3">
                <label for="finance">Вид оплаты</label><br />
                <select name="finance" id="finance" style="width:100%;">
                    <option value=""></option>
                </select>
            </div>
        </div>
</section>
