 <ul>
       <% _(items).each(function(item){ %>
        <li class="<% if(item.groups && item.groups.length){ %>parent <%}%>open <% if(selected(item.code)){%> clicked<%}%>" data-code="<%= item.code %>">
            <span class="icon icon-closed icon-caret-right"></span>
            <span class="icon icon-open icon-caret-down"></span>
            <span class="title"><%= item.name %></span>
          <% if(item.groups && item.groups.length){ %>
            <%= _.template(template,{items:item.groups,template: template}) %>
          <%}%>
        </li>
       <% }) %>
  </ul>
