<table class="Grid">
	<thead>
	<tr>
		<th>&nbsp;</th>
		<th>Дата и время</th>
		<th>Название</th>
		<th>Врач</th>
		<th>Специальность</th>
	</tr>
	</thead>
	<tbody>
	<%if (documents.length) {%>
	<%documents.each(function (document) {%>
	<tr class="document-item-row" data-document-id="<%=document.id%>">
		<td><i class="icon-check transparent"> </i></td>
		<td><%=Core.Date.formatDateTime(document.get('assessmentDate'))%></td>
		<td><%=document.get('assessmentName').name%></td>
		<td><%=document.get('doctor').name.raw%></td>
		<td><%=document.get('doctor').specs.name%></td>
	</tr>
	<%});%>
	<%} else {%>
	<tr>
		<td colspan="5" style="text-align: center;">Нет данных</td>
	</tr>
	<%}%>
	</tbody>
</table>