<%if (mnem == 'DIAG') {%>

	<div class="SetComment">

		<div class="span2">
	        <span class="Label" style="white-space: nowrap">Дата исследования</span>
	        <div class="date">
	            <input type="text" id="createDate" placeholder="дд.мм.гггг" class="SelectDate"/>
	        </div>
	    </div>

	    <div class="span1">
	    	<span class="Label" style="white-space: nowrap">Время</span>
	        <div class="time">
	            <input type="text" class="Styled HourPicker" id="createTime" placeholder="чч:мм"/>
	        </div>
	    </div>

		<div class="span6">
	        <span class="Label">Исполнитель</span>
	        <div id="executor-outer">
	            <input  id="executor" type="text" disabled
	            value=""
	            class="Disabled">
	            <button class="change-executor" style=""><i class="icon-user-md"></i></button>
	        </div>
	    </div>
	</br>
		<label style="margin-left: 1em;">
			<input type="checkbox" class="document-set-close-date" <%if (dates.end.getValue()) {%>checked<%}%>>
			Завершить работу с документом
		</label>
	</div>

<%} else {%>

	<%if (dates.begin) {%>
	<div class="SetComment">
		<label>Дата создания документа</label>
		<div style="display: block;">
			<div class="date" style="width: 10em;">
				<input type="text" placeholder="дд.мм.гггг" class="SelectDate date-input document-create-date" autocomplete="off" value="<%=moment(dates.begin.getValue()).format('DD.MM.YYYY')%>">
				<i class="icon-calendar date-icon" style="right: .4em;"></i>
			</div>
			<div class="time" style="width: 6em;">
				<input type="text" placeholder="чч:мм" class="SelectDate time-input document-create-time" autocomplete="off" value="<%=moment(dates.begin.getValue()).format('HH:mm')%>">
				<i class="icon-time time-icon" style="right: .4em;"></i>
			</div>
			<label style="margin-left: 1em;">
				<input type="checkbox" class="document-set-close-date" <%if (dates.end.getValue()) {%>checked<%}%>>
				Завершить работу с документом
			</label>
		</div>
	</div>
	<%}%>

<%}%>
