<%if (documentTemplate.typeId) {%>
	<style>
		.SetComment {
			margin-bottom: 1em;
		}
	</style>

	<div class="row-fluid">
		<h2><%=documentTemplate.name%></h2>
	</div>

	<%for (var i = 1; i < documentTemplate.group[1].attribute.length; i+=2) {%>
		<div class="row-fluid">
			<div class="span6">
				<!--<%=documentTemplate.group[1].attribute[i].name%>-->
				<div class="SetComment">
					<label>
						<input type="checkbox" checked="checked">
						<%=documentTemplate.group[1].attribute[i].name%>
					</label>
					<a href="#" class="FormLink" style="display: inline;  margin-top: 0;">Тезаурус</a>
					<div class="RichTextWrapper Mandatory" >
						<!--style="min-height: 9.6em; display: block; top: 0px; left: 0px; width: 602px; height: 21px;"-->
						<div contenteditable="true" class="RichText"><br></div>
						<!--style="min-height: 8em;" -->
					</div>
				</div>
			</div>
			<div class="span6">
				<!--<%=documentTemplate.group[1].attribute[i-1].name%>-->
				<div class="SetComment">
					<label>
						<input type="checkbox" checked="checked">
						<%=documentTemplate.group[1].attribute[i-1].name%>
					</label>
					<a href="#" class="FormLink" style="display: inline; margin-top: 0;">Тезаурус</a>
					<div class="RichTextWrapper">
						<!--style="min-height: 9.6em; display: block; top: 0px; left: 0px; width: 602px; height: 21px;"-->
						<div contenteditable="true" class="RichText"><br></div>
						<!--style="min-height: 8em;" -->
					</div>
				</div>
			</div>
		</div>
	<%}%>
<%}%>