<div class="SetComment">

	<div class="span2">
        <span class="Label" style="white-space: nowrap">Дата исследования</span>
        <div class="date">
            <input type="text" id="createDate" placeholder="дд.мм.гггг" class="SelectDate"/>
        </div>
    </div>

    <div class="span1">
    	<span class="Label" style="white-space: nowrap">Время</span>
        <div class="time">
            <input type="text" class="Styled HourPicker" id="createTime" placeholder="чч:мм"/>
        </div>
    </div>

	<div class="span6">
        <span class="Label">Исполнитель</span>
        <div id="executor-outer">
            <input  id="executor" type="text" disabled 
            value="" 
            class="Disabled">
            <button class="change-executor" style=""><i class="icon-user-md"></i></button>
        </div>
    </div>
</div>