<div class="row-fluid divided">
	<div class="span12 document-edit-side">
		<div class="row-fluid nav-controls"></div>
		<div class="row-fluid" style="border-bottom: 1px solid #D9D9D9;margin-bottom: 2em;padding-bottom: 2em;">
			<div class="span6 document-controls-top"></div>
			<div class="span6 pull-right panic-control">
			</div>
		</div>
		<div class="row-fluid heading" style="margin-bottom: 2em;"></div>
		<div class="row-fluid dates" style="margin-bottom: 2em;border-bottom: 1px solid #D9D9D9;padding-bottom: 2em;"></div>
		<div class="row-fluid">
			<div class="span12 document-grid"></div>
		</div>
		<div class="row-fluid">
			<div class="span12 document-controls-bottom"></div>
		</div>
	</div>
</div>