<div class="span12" style="margin-bottom: 2em;">
	<input type="checkbox" id="toggle-divided-state" class="toggle-divided-state" data-icon-primary="icon-columns" data-display-as="button" style="margin-left: 2px;margin-top: 2px;"/>
	<label for="toggle-divided-state">История</label>
	<div class="pull-right">
		<button type="button" class="copy-from" data-icon-primary="icon-copy" data-icon-secondary="icon-caret-down">Копировать</button>
		<ul class="copy-options" style="position: absolute;z-index: 99999;">
			<li class="copy-from-prev">
				<span>Из предыдущего</span>
			</li>
			<li class="copy-from-selected">
				<span>Документ...</span>
			</li>
		</ul>
		<!--<button type="button" class="copy-from-prev" data-icon-primary="icon-copy">Копировать из предыдущего</button>
		<button type="button" class="copy-from-selected" data-icon-primary="icon-copy">Копировать из...</button>-->
	</div>
</div>