.webmis-menu{
    border: 1px solid #d4d4d4;
    min-width: 150px;
    color: #3F3F40;
    li{
        background-color: #fff; 
        padding: .6em;
        border-top: 1px solid #d4d4d4;
    }
    .context-menu-item.hover{
        background-color: #d2f0fd;
    }
    .context-menu-submenu:after{
        position: relative;
        top: 0;
        right: 0;
        padding-left:.2em;
        float: right;
    }
}
