.labs-list,.lab-tests-list{
  li label{
    white-space: inherit!important;

  }
  .selected{
    background-color: #118EDC;
    label{
      color: #fff;
    }
  }
}

.labs-list{
  .dynatree-container{
    white-space: normal;
    border: none;

    span.dynatree-connector{
      display: none;
    }

  }
}
.lab-tests-list{
  .dynatree-container{
    //white-space: normal;
    border: none;
  }
}

.edit-tree{
  .dynatree-container{
    white-space: normal;
    overflow: hidden;
  }
  span.dynatree-node{
    position: relative;
    display: block;
    table{
      width: 550px;
      display: inline-block;
      td{
        vertical-align: top;
        //border: 1px solid;

        &.title-col{
          padding-left: 5px;
          width: 370px;
        }
        &.sito-col{
          width: 25px;
        }
        &.time-col{
          width: 165px;
        }
      }
    }
  }
}

.lab-tests-list2{
  .dynatree-container{
    white-space: normal;
    overflow: hidden;
  }
  span.dynatree-node{
    position: relative;
    display: block;

    table{
      width: 90%;
      display: inline-block;
      td{
        vertical-align: top;
        //border: 1px solid;

        &.title-col{
          padding-left: 5px;
          min-width: 370px;
        }
        &.sito-col{
          min-width: 25px;
        }
        &.time-col{
          min-width: 165px;
        }
      }
    }

  }

}