.split-button-dropdown .ui-menu-item a{

	border-width: 0px!important;
	padding: 0.8em 8px;


}

.split-button-dropdown .ui-menu-item{
	border-top: 1px solid #d4d4d4;
}
.split-button-dropdown li:first-child{
	 border-top:none;
 }
.split-button-dropdown{

	border: 1px solid #d4d4d4;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px 0;
	padding: 0;
}

.split-button-dropdown .ui-menu-item:hover{
	background-color: #d2f0fd;
}
