@charset "UTF-8";
@import "base";
$TABLE_CELL_COLOR: #414142;


.Grid {
	margin: 0 auto 0 auto;
	color:$TABLE_CELL_COLOR;
	font-size: $MAIN_FONT;
	//table-layout:fixed;

	th {
		padding: 0.8em 0.7em;
		border-bottom: 1px solid #000;
        color:#6D6D71;
		white-space: nowrap;
		a.Actions {
			border: none;
			color:#6D6D71;
			text-decoration: none;
			cursor: pointer;
            /*
			&:hover {
				text-decoration: none;
			}
			*/
			span {
			 text-decoration: underline;
			}
			&::after {
					content:"▼";
					color:#000;
					font-size:0.5em;
					position:relative;
					left:0.2em;
					top:-0.2em;
					vertical-align:baseline;
					line-height: 1em;
					visibility: hidden;

				}
		}

		&.Active {
			a.Actions {
				//text-decoration: none;
                color:#000;
				&::after {
					visibility: visible;
					content:"▲";

				}
			}

			&.Desc {
				.Actions {
					&::after{
						content:"▼";
					}
				}
			}
		}
		&.NumTh {
			width: 5em;
		}
		&.DateTh {
			width: 6em;
		}
		&:first-child {
			padding-left: 0.3em;
		}
	}
	& .EditTh th{
		font-size:0.8em;
	}

	td {
		border-bottom: 1px solid #D9D9D9;
		padding: 0.8em 0.7em 0.9em 0.7em;
		/*cursor: pointer;*/

		a {
			color: $TABLE_CELL_COLOR;
			/*text-decoration: none;*/
			&:hover {
				color:#DD1111;
			}
		}
		&:first-child {
			padding-left: 3px;
		}
		&.DoneCell {
			color:#009F1F;
		}
		&.CancelledCell {
			color:#E00000;
		}
		&.NewCell {
			color:#CC0000;
		}
		&.StartCell {
			color:#006699;
		}
		&.InWorkCell {
			color:#404040;
		}
		&.IconsCell {
			white-space:nowrap;
		}
		&.ButtonCell .Button {
			font-size: 1em;
		}
		&.WrongCell {
			color:#E00000;
		}
		&.PatientStatusCell {
			color:#7f7f7f;
		}
		&.HavePrimary {
			font-weight: bold;
		}
	}
	&.PacientIntake td {
	 	min-width:45%;
		&:first-child {
			color:#6c6c71;
		}
	}
	tr {
		cursor: pointer;
		&.RejectRow {
			td {
				color:#999999;
			}
		}
		&:hover td {
			background: #f5f4f4;
		}
		&:only-child .RemoveIcon {
			display: none;
		}
	}
	&.WithoutHead {
		font-size:1.2em;
		tr td:first-child {
			color:#6D6D71;
			white-space: nowrap;
		}
		td	dfn {
            padding-right: 0.5em;
		}
	}
}
.NormCell {
	border-left:1px solid #D9D9D9;
}


.StatusText {
	white-space:nowrap;
	.Icon {
		margin-left:-1.2em;
		margin-right:0.2em;
		position:relative;
		top:-0.1em;
	}
}


/*DrugList*/

.DrugList {
	border-top: 1px solid #000000;
	border-right: 1px solid #D4D4D4;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #D4D4D4;
	font-size:1.3em;
	th {
		padding: 0.6em 0.3em 0.5em 0.3em;
		border-top:1px solid #000000;
		border-left:1px solid #D4D4D4;
		border-bottom:1px solid #000000;
		border-right:1px solid #D4D4D4;
		text-align:center;
		min-width:1.5em;
	}
	td {
		padding: 0.8em 0.3em 0.9em 0.3em;
		border:1px solid #D4D4D4;
		&.Active {
			background:#D6EFFC;
			padding:0;
			cursor:pointer;
			vertical-align:top;
		}
	}
}

.DrugList tr td:first-child {
	padding: 0.8em 0.7em 0.9em 0.7em;
}

.DrugInfoHolder {
	position:relative;
}
.DrugInfo {
	padding:0.8em 0.7em 0.9em 0.7em;
	background:#FFFFCC;
	position:absolute;
	top:1.5em;
	left:1.5em;
	cursor:default;
	border: 1px solid #D4D4D4;
    @include box-shadow ( rgba(0, 0, 0, 0.5) 0 3px 5px 0);
	display:none;
	white-space:nowrap;
	h4 {
		font-weight:bold;
	}
}
.Selected .DrugInfo {
	display:block;
}


.MedicamentGrid {
	margin-bottom:4em;
	font-size:1em;
	th {
		font-size:1.2em;
		&:first-child {
			padding-left:0;
		}
		&:last-child {
			padding-right:0;
			width:2em;
		}
	}
    .AddIcon {
    	margin-left:0;
    }
    td {
		vertical-align:middle;
		> input {
			@include box-sizing(content-box);
		}
	}
	.DDList {
	 	.Actions {
		font-size:1.3em;
		}
	}
}


.MedicamentGrid tr:hover td {
	background:none;
	cursor:default;
}

.AnalisGrid {
   width:auto;
   margin:0 0 2em 0;
   input[type="text"]{
       font-size:1em;
	}
	input[type="password"] {
	    font-size:1em;
	}
    td {
		vertical-align:middle;
	}
    .EditCol {
		width:4em;
	}
    th:first-child {
		width:60%;
	}
}

.EditGrid {
    td {
		padding-top:0.2em;
		padding-bottom:0.2em;
	}
}

.Urgent, .Privilege, .Primary {
	display:inline-block;
	//width:100%;
	border-radius:4px;
	padding:0.2em 0.4em 0.2em 0.4em;
	background:#CC3300;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	font-size:0.8em;
}

.Privilege {
	background:#CC6600;
}

.Primary {
	background:#0099FF;
}

.GridButtons {
	padding-top: 2em;
}

.PatientGrid {
	font-size:1.2em;
	margin-bottom:2em;
	.MultiSelectLink {
		text-decoration: none;
		border-bottom: 1px dotted #118DDC;
		&:hover {
			border-bottom: 1px dotted #DD1111;
		}
	}
	th {
		text-align: center;
		padding: 0.7em 0;
		border: 1px solid #e5e5e5;
		border-top: none;
		min-width: 1.8em;
		&:first-child{
			border-left: none;
			text-align: left;
		}
	}

	tr td {
		text-align: center;
		padding:0.7em 0;
		border: 1px solid #e5e5e5;
		font-size:0.7em;
		vertical-align:middle;
		&.Selected {
			background: #76c376;
			font-size: 0.8em;
			&.Blue {
				background: #7fbce4;
			}
			&.Red {
				background: #f67676;
			}
		}
		&:first-child {
			font-size:1em;
			text-align: left;
			border-left: none;
			.TooltipList {
				li {
				   font-size: 0.9em;
				}
			}
		}
		&:last-child {
			border-right: none;
		}
		&.DoseCell {
			font-size: 1em;
		}
		.Icon {
				display: block;
				margin: 1em auto 0 auto;
		}
		.TooltipList {
			li {
			   font-size: 1.2em;
			}
		}
	}
	.HeaderRow td {
		text-align: left;
		font-weight: bolder;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.DrugRow {
		background:#ededed;
		td:first-child {
			border-left: 5px solid green;
			padding-left: 0.5em;
			text-align: left;
		}
		&:hover {
			background:#ededed;
		}
	}
}

.good {
	color: #57B43E;
}

.serious {
	color: red;
}

