@charset "UTF-8";
@import "base";
.PatientInfo {
	text-align:center;
	font-size:1.3em;
	color:#118CDC;
	padding:0.7em 0;
 	@include background(linear-gradient(#eaf7fe, #d8f1fd));
 	border-bottom:1px solid #fff;
 	ul{
		word-spacing:-0.3em;
		li {
			word-spacing:normal;
			display:inline-block;
			padding: 0 0.5em;
			border-right:1px solid #118CDC;
			&:last-child {
				border-right:none;
			}
		}
	}

}

.VitalSigns {
	margin-bottom:2.8em;
	& > li {
		display:inline;
		padding-right:1em;
		font-size:1.3em;
		strong {
			font-weight:bold;
		}
	}
}



.Inspection{
    dl {
		font-size:1.3em;
	}
	dt {
		font-weight:bold;
		margin-bottom:0.3em;
	}
	dd {
		padding-left:1.5em;
		margin-bottom:1.4em;
		& :last-child {
			margin-bottom:0;
		}
	}
	ul {
		font-size:1.3em;
	}
	li {
		margin-bottom:1.4em;
	}
	.sheet-rows {
		i {
			font-style: italic;
		}
	}
}

