@charset "UTF-8";
@import "base";


.EditForm {
	h2 {
		margin-bottom:0.8em;
	}
	p {
		font-size: 1.3em;
		line-height: 1.6em;
		word-spacing: normal;
		white-space: normal;
		&.ShowHistory {
			line-height:1em;
			color:#118DDC;
		}
	}
    .LineBlock {
		margin-bottom:3em;
		word-spacing:-0.3em;
		white-space:nowrap;
		margin-right:-3em;
		padding-righ:3em;
		.LineCol {
			display:inline-block;
			vertical-align:top;
			word-spacing:normal;
			white-space:normal;
			width:50%;
			@include box-sizing(border-box);
			padding-right:3em;
			& .Grid th{
				padding-left:0.3em;
				padding-right:0.3em;
				font-size:0.9em;
			}
			& .Grid td {
				padding-left:0.3em;
				padding-right:0.3em;
				font-size:0.9em;
			}
			& h3  {
					margin-bottom:0;
					a {
					color:#000;
					&:hover {
						color:#dd1111;
					}
				}

			}

		}
	}
    .WideCol {
		padding-right:4.5em;
		> * {
			white-space:normal;
			word-spacing:normal;
		}
		> input {
			@include box-sizing(content-box);
		}
		> textarea {
			@include box-sizing(content-box);
		}
	}
	.LineCol {
		white-space:nowrap;
		vertical-align:top;
		@include box-sizing(border-box);
		margin-right:-0.3em;
		> * {
			white-space:normal;
			word-spacing:normal;
		}
		> input {
			@include box-sizing(content-box);
		}
        .LineBlock {
			margin-right:0;
		}
	}
	.HalfCol {
		width:25%;
		display: inline-block;
		padding-right:3em;
		vertical-align: top;
		@include box-sizing(border-box);
		margin-right:-0.3em;
		> * {
			white-space:normal;
			word-spacing:normal;
		}
		> input {
			@include box-sizing(content-box);
		}
		> .Styled.Button {
			white-space:nowrap;
		}
	}
	.QuartCol {
		display:inline-block;
		width:12.5%;
		padding-right: 3em;
		vertical-align: top;
		@include box-sizing(border-box);
		> * {
			white-space:normal;
			word-spacing:normal;
		}
		> .Label {
			white-space:nowrap;
		}
        > label {
   			white-space:nowrap;
   		}
		> input {
			@include box-sizing(content-box);
		}
		> .Styled.Button {
			white-space:nowrap;
		}
	}
	.SemiCol {
		display:inline-block;
		width:37.5%;
		padding-right: 3em;
		vertical-align: top;
		@include box-sizing(border-box);
		> * {
			white-space:normal;
			word-spacing:normal;
		}
		> input {
			@include box-sizing(content-box);
		}
		> .Styled.Button {
			white-space:nowrap;
		}
	}
}
.WithoutName {
	padding-top:2em;
}
input.ShortInput {
	width: 7em;
}
.LineBlockHolder > li{
	border-bottom:1px solid #D9D9D9;
	padding-bottom:2em;
	padding-left:1em;
	margin-bottom:2em;
	&:last-child  {
		border-bottom:none;
		padding-bottom:2em;
		margin-bottom:2em;
	}
	.LineBlock {
		white-space:nowrap;
		border-bottom:none;
		margin-bottom:0;
		padding-bottom:1.5em;
		padding-left:0;
		.Styled.Button {
			top: 1.5em;
		}
		&:last-child {
			padding-bottom:0;
		}

	}
	h4 {
		margin-bottom: 0.8em;
		margin-left: -0.7em;
		font-weight: bold;
	}
}

.LineBlock label,  .LineBlock .Label {
	margin-left:-0.8em;
	display:block;
}
.LineBlock .FieldInfo {
	color: #6D6D71;
}

.LineBlock .InlineForm  label {
	display:inline-block;
	margin:0 1em 0 0;
}

.FormLink {
	float:right;
	font-size:1.2em;
	margin-top:-1.8em;
	text-decoration:none;
}

.FromTo .DDList {
	display:inline-block;
	width:46%;
}

.MDash {
	width:3em;
	display:inline-block;
	text-align:center;
	margin-right:-0.3em;
}

.FormButtons {
	background:#D2F0FD;
	height:3em;
	position:relative;
	padding:1em;
	margin-right:2.4em;
	margin-left: -1em;
}
.FormButtons:after{
	content:"";
	border-color: white white white #D2F0FD;
	border-style: solid;
	border-width: 2.5em 2.5em 2.5em 2.5em;
	position:absolute;
	overflow:hidden;
	top:0;
	right:-4.8em;
	display:block;
	background: #fff;
}

.FormButtons  .Styled.Button{
	top:-1px;
	margin-right:1em;
	 &.BlueBorder {
		top:-3px;
	}
}

.FormGridHolder {
	border: 1px solid #6E6F72;
}
.FormGrid {
    th {
		font-size:1.3em;
		vertical-align:middle;
		width:50%;
		border:1px solid #D9D9D9;
		padding: 0.1em 0.8em;
		line-height:2.3em;
		vertical-align:middle;
		&.SubGroup {
			padding-left:2em;
		}
	}
	td {
		border:1px solid #D9D9D9;
		vertical-align:middle;
	}
	.DDSelect {
		border:1px solid transparent;
	& > .Content{
    		@include box-shadow ( rgba(0, 0, 0, 0.5) 0 3px 5px 0);
		}
	}
}
.AdressForm {
	border: 1px solid #ccc;
	padding:1.5em 3.5em;
	border-radius: 0.5em;
}
.AdressForm  legend {
	padding:0 0.5em;
	font-size:1.3em;
	margin-left:-1.1em;
}
.AdressForm > ul > li {
	margin-bottom:1em;
}
.AdressForm .Field {
	width:26%;
	float:none;
	display:table-cell;
	padding-right:1.5em;
	padding-left:1.5em;
}
.AdressForm .Field:first-child {
	padding-left:0;
}
.AdressForm .Field:last-child {
	text-align:left;
	padding-right:0;
}
.AddLine {
	padding-top:2.7em;
}
.SearchLine {
 	padding-top:1.8em;
}
.SubLine {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-right:3em;
	padding:0.4em 0 0.3em 0;
	li {
		display:inline;
		font-size:1.2em;
		padding-right:1.5em;
	}
}


.ChangeHistory {
	color:#6D6D71;
	font-size:1.2em;
	li{
		padding-bottom:0.4em;
		margin-bottom:0.4em;
		border-bottom:1px solid #D9D9D9;
		word-spacing:-0.3em;
		white-space:nowrap;
		.Field {
			float:none;
			display:inline-block;
			-moz-box-sizing:border-box;
			word-spacing:normal;
		}
	}
}
.Warning {
	color:#FF0000;
}

.BedListHolder {
	padding-bottom:1em;
	color:#6C6C71;
	margin-left:-1em;
}
.BedListHeader {
	padding-bottom:0.6em;
	font-size:1.3em;
}
.WardLabel {
	display:inline-block;
	width:6em;
}
.BedLabel {
	display:inline-block;
}

.WardBeds {
	display:table-cell;
}

.Ward {
	padding-bottom:0.5em;
}
 .Wardname {
	display:table-cell;
	width:7.7em;
	vertical-align:top;
	padding-top:0.6em;
	span {
		display: block;
		font-size: 1.4em;
	}
}
.BedList {
		& > li {
		display:inline-block;
		width:7em;
		height:3.6em;
		background:#DFF4FD;
		border:1px solid #86CBE0;
		border-radius:5px;
		margin:0 0.5em 0.7em 0;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		vertical-align:middle;
		& > label {
			display:block;
			height:100%;
			padding:0.65em 0 0 0.7em;
			margin:0;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			font-size:1.4em;
			input {
				margin:0 1em 0 0;
			}
		}
	}
}
.BedList > li.ReservedWard {
	background:#FFB2B2;
	border:1px solid #CC3300;
}
.BedList > li.Selected {
	background:#CBEDC5;
	border:1px solid #35CC9A;
}
.AppealCodeContainer {
	position: relative;
	.Label {
		margin-bottom: 1em;
	}
	.AppealCodeBox {
		position: absolute;
		right: -50%;
		top: 0;
	}
	.AppealCode {
		font-size: 1.2em;
		font-weight: bold;
	}
}
.DDList.MultipleHours > .Content {

}

