@charset "UTF-8";
@import "base";
@import "buttons";
@import "icons";
/*TODO: Убрать после hfphf,jnrb*/
.ui-widget {
	&.webmis {
		font-size: 100%;
		//border: none;

		div > a.Actions {
			color: #118DDC;
		}

        textarea {
          font-family: Arial, Tahoma, sans-serif;
          font-size: 1.2em;
        }
		.popup {
			overflow: hidden;
			//padding: 0;
		}
		.ui-dialog-title {
			font-size: 1.4em;
		}
	}
}

.SampleNav {
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	padding:1em;
}
.SampleNav span {
	font-size:1.3em;
	cursor:pointer;
}

#popup-overlay {
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: rgba(179, 179, 179, 0.5);
}

.popup {
    background:#fff;
	//border-radius: 8px;
	border:1px solid #A4B4BD;
	//box-shadow: 0 0 3px 0 rgba(164, 180, 189, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	display:none;
 	header {
		background: transparent; //#D2F0FD;
		padding:1.3em 3em;
		//border-radius: 8px 8px 0 0;
	}
	section {
		padding:2em 3em;
		&.PopupContent {
			border-left:1px solid #ccc;
			top:6em;
			right:0em;
			bottom:0;
			left:22em;
			padding: 2.2em 3em 0 3em;
			overflow:auto;
		}
        &.WithButtons {
			right:3em;
			left:3em;
		}
	}
	.Grid {
		td:first-child {
          	color:#919294;
		}
	}
}
.PopupHeader {
	float:left;
	max-width:59%;
	text-align:left;
	font-size:2em;
	color:#000;
}

.PopupActions {
	float:right;
	max-width:40%;
	.Styled.Button {
		margin-left:0.5em;
	}
	.ShowHidePopup {
		font-size: 1.2em;
		margin-left:0.5em;
	}
}

.PopupCol {
    border:1px solid #CCCCCC;
	overflow:auto;
	padding:1em;
	@include box-sizing(border-box);
    display:inline-block;
	margin-left:-0.3em;
	vertical-align:top;
	height:35em;
	h4 {
		font-size:1.4em;
		font-weight:bolder;
	}
}
.LeftCol {
	width:49%;
	left:0;
}
.RightCol {
	width:49%;
	right:0;
}

.ArrowCol {
	cursor:pointer;
	overflow:hidden;
	border:none;
	padding:0;
	position:relative;
	width:2%;
	& > i {
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-0.5em;
		margin-left:-0.5em;
	}
}

.TezList {
	margin-bottom:1em;
	margin-right:-1em;
	a {
		cursor:pointer;
		display:block;
		text-decoration:none;
		color:#000;
		padding-left:0.4em;
		font-size:1.2em;
		margin-bottom:1px;
		padding-bottom:0.1em;
		&:hover  {
			background:#118EDC;
			color:#fff;
		}
		&.Selected {
			background:#118EDC;
			color:#fff;
		}
		&:before  {
			content:"-";
			padding-right:0.2em;
		}
	}
}
.TezList li	ul {
   margin-left:1.2em;
}

.SumText{
	p{
		font-size:1.3em;
		margin-bottom:1.4em;
	}
	dfn {
		font-weight:bold;
	}
}

.EventList {
	& > li {
		& > ul {
			margin-left:2em;
		}
		label {
			margin-bottom:0em;
			color:#000;
			display:block;
			padding-top:0.2em;
			cursor:pointer;
			margin-bottom:1px;
			padding-left:0.4em;
			white-space:nowrap;
			&:hover{
				background:#118EDC;
				color:#fff;
				.EventRoom {
					color:#ccc;
				}
			}
			&.Selected{
				background:#118EDC;
				color:#fff;
				.EventRoom {
					color:#ccc;
				}
			}
		}
	}
}
.EventRoom {
    display: block;
    padding-left: 2.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color:#8c8c8c;
    font-size: 0.9em;
}

.PopUpLine{
	&.TwoCols {
		margin-right:-0.6em;
	}
	&.ThreeCols {
		margin-right:-1.5em;
		.PopupCol  {
			padding:0;
		}
		.RightCol{
			width:32%;
		}
		.LeftCol{
			width:32%;
		}
		.CenterCol{
			width:32%;
			right:34%;
		}
		h3 {
			background:#CCCCCC;
			font-size:1.2em;
			label {
				margin-bottom:0;
				font-size:1em;
				display:block;
				padding:0.4em 0.1em 0.2em 0.4em;
				color:#000;
			}
		}
	}
	.BreadCrumb {
		padding-bottom:2.5em;
		li {
			color:#118DDC;
			a {
			color:#118DDC;
			}
			&:last-child {
				color:#000;
			&::after
				{
				content:"";
				}
			}
		}
	}
	#page {
		padding: 0;
	}
}
.EventList {
	padding-top:0.2em;
	overflow:auto;
}


.PopupSideBar {
    float:left;
	overflow:auto;
	width:19.2em;
	padding-left:2.8em;
	padding-top:2.2em;
}
.PopupButtons {
	padding:3em 0;
}
.ContentButtons {
	height: 3.4em;
    padding: 1.8em 0 1.1em 0;
    margin-left:-0.5em;
    .PopupActions {
		float:none;
		.BlueBorder {
			position: relative;
			top:-2px;
		}
	}
}

.MKBPopup button.Styled.ui-button{
	padding: 0;

	span {
		font-weight: normal;
		color: black;
	}
}

.MKBPopup .ui-dialog-buttonset .Cancel {
	font-size: 1.2em;
	margin-right: 2em;
	margin-left: 1em;
}

.MKBPopup .ui-dialog-buttonpane {
	margin: 0;
}
.MKBHolder {
	margin-left: 1.2em;
	//padding-left: 4em;
    height: 41em;
    overflow-y: scroll;
    border-bottom: 0.1em solid #a6a6a6;
}

.popup .MKBHeader {
	margin: 0 3em;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #D9D9D9;

	.LineBlock {
		position: relative;
	}

	.searchButton {
		display: inline-block;
		position: relative;
		left: -2.5em;
		top: .2em;
		z-index: 999;

		.SearchIcon {
		}
	}
}

.MKBSearch .typeSearch {
	padding-right: 1em;
}

.MKBList {
	font-size: 1.2em;
	li {
		padding:0.1em 0;
	}
	.Opened {
		> span {
			font-weight: bold;
		}
		> ul {
			display: block;
		}
	}
	ul {
		display: none;
	}
	> li {
        > ul {
        	margin-left: 0.5em;
        	padding-left: 6em;
        	border-left:0.1em solid #cccccc;
        	> li {
        		> ul {
                   padding-left: 6em;
					> li {
						> ul {
						   padding-left: 3em;
						}
					}
				}
        	}
        }
	}
    span {
    	cursor: pointer;
    	display: inline-block;
    	line-height: 1.6em;
    	padding:0 0.2em 0 0.2em;
    	&:hover {
    		background: #c3e2f6;
    	}
    	&.Selected {
           background: #e5e5e5;
    	}
		i.bullet {
			display: inline-block;
			min-width: 2em;
			margin-right: .5em;
		}
    }
}

.TreeHolder {
  margin-left: 1.2em;
  //padding-left: 4em;
  height: 50em;
  overflow-y: scroll;
  border-bottom: 0.1em solid #a6a6a6;
}

.Tree {
  font-size: 1.2em;
  li {
    padding:0.1em 0;
  }
  .Opened {
    > span {
      font-weight: bold;
    }
    > ul {
      display: block;
    }
  }
  ul {
    display: none;
  }
  li {
    ul {
      margin-left: 0.5em;
      padding-left: 2em;
      border-left:0.1em solid #cccccc;
    }
  }
  span {
    cursor: pointer;
    display: inline-block;
    line-height: 1.6em;
    padding:0 0.2em 0 0.2em;
    &:hover {
      background: #c3e2f6;
    }
    &.Selected {
      background: #e5e5e5;
    }
  }
}