@charset "UTF-8";
@import "base";
$TABLE_CELL_COLOR: #414142;


.TestGrid {
	width: 1000px;
	margin: 0 auto;
	color:$TABLE_CELL_COLOR;
	font-size: 12px;

	th {
		padding: 10px;
		border-bottom: 1px solid #000;

		.Actions {
			border: none;
			color:#6D6D71;
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}

		&.Active {
			.Actions {
				text-decoration: none;

				&::after {
					/*content:"▼";*/ /*Don't work :( */
					content:"▼";
					color:#000;
					font-size: 0.8em;
				}
			}

			&.SortUp {
				.Actions {
					&::after{
						/*content:"▲";*/ /*Don't work :( */
						content:"↑";
					}
				}
			}
		}
	}

	td {
		border-bottom: 1px solid #D9D9D9;
		padding: 10px;
		cursor: pointer;

		a {
			color: $TABLE_CELL_COLOR;
			text-decoration: none;
		}
	}
	tr {
		&:hover td {
			background: #f5f4f4;
		}
	}
}






