@charset "UTF-8";
@import "base";
@import "buttons";
@import "icons";

.SampleHeader  {
	font-size:1.6em;
	margin-bottom:10px;
}
.SampleBlock {
	width:90%;
	margin: 0 auto 10px auto;
	padding:10px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.SampleBlock h4 {
	font-size: 1.4em;
	font-weight: bold;
}

/*DDList*/

.DDList {
	@include inline-block;
	vertical-align: baseline;
	position: relative;

	&.Active {
		& > .Content {
			display: block;
		}
	}

	& > .Title {

	}
	& > .Content {
		display:none;
		position:absolute;
		left: 0;
		top:1.2em;
		background:#fff;
		border: 1px solid #D4D4D4;
		min-width: 100%;
		@include box-shadow ( rgba(0, 0, 0, 0.5) 0 2px 3px 0);
		z-index: 10;
		max-height:15em;
		overflow-y: auto;

		&.NoScroll {
			overflow-y:visible;
			max-height:auto;
		}

		li {
			color:#3F3F40;
			border-top:1px solid #D4D4D4;
			padding:0.6em 8px;
			cursor:pointer;

			&:hover {
				background:#d2f0fd;
			}
			&:first-child {
				border-top:none;
			}
			label {
				margin-bottom: 0;
				white-space:nowrap;
			}
			.Label {
				margin-bottom: 0;
				white-space:nowrap;
			}
		}
		a {
		   display: block;
			padding: 0.6em 8px;
			margin: -0.6em -8px;
			text-decoration: none;
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
	.Styled.Button {
		padding-right: 0;
	}
}



/*Элементы формы*/

.SampleList > li {
	margin-bottom:1em;
	word-spacing:-0.3em;

	* {
		word-spacing:normal;
	}
	.SelectValue {
		word-spacing:-0.3em;
	}
}

.FormList > li {
	margin-bottom: 1.4em;
	@include clearfix;

	h4 {
		@include clearfix;
		width: 100%;
		display: block;
	}
}

label, .Label {
	font-size:$SMALL_FONT;
	line-height:1.2em;
	color:#6D6D71;
	display:inline-block;
	margin-bottom:0.5em;
}
.InlineForm  label {
	display:inline-block;
	margin:0 1em 0 0;
	line-height:2.25em;
	color:#000;
}
.WeekDays {
	text-align: center;
	input {
		display: block;
		margin: 0 auto;
	}
	.WeekEnd {
		color:#f00000;
	}
}

input[type="text"], input[type="password"] {
		border:1px solid #737477;
		padding:0 0.4em;
		height:2.25em;
		background:#fff;
		color:#000;
		font-size:$SMALL_FONT;
		display:inline-block;
		line-height:100%;
		font-family:Arial, Tahoma, sans-serif;
		width:100%;
 		@include box-sizing(border-box);
}
div.RichText {
	padding: .6em;
	height: 100%;
	min-height:2.25em;
	line-height: 150%;
	border:1px solid #737477;
	background:#fff;
	color:#000;
	font-size:$SMALL_FONT;
	display:inline-block;
	line-height:100%;
	font-family:Arial, Tahoma, sans-serif;
	width:100%;
	overflow-y: auto;
	@include box-sizing(border-box);
}
div.RichTextWrapper {
	@include box-sizing(border-box);
	max-width: 100%;
	min-width: 100%;
	min-height: 2.7em;
}
.Mandatory {
	outline:1px solid #7FCCFF;
}
.WrongField {
    outline:2px solid #FF4040;
}
.Error {
 	color:#FF4040;
}
textarea {
		border:1px solid #737477;
		background:#fff;
		//color:#B3B3B3;
		color:#000;
		padding:0.4em;
		display:block;
		font-size:$SMALL_FONT;
		font-family:Arial, Tahoma, sans-serif;
		width:100%;
 		@include box-sizing(border-box);
}
input[type="text"]:focus, textarea:focus, input.Dirty {
		border:1px solid #0099FF;
		color: black;
}
input[type="text"].Disabled, textarea.Disabled, .DDSelect.Disabled, .RichText.Disabled  {
	background:#F5F4F4;
	border:1px solid #D9D9D9;
}
input[type="checkbox"], input[type="radio"] {
	vertical-align:middle;
	position:relative;
	top:-2px;
}
::-webkit-input-placeholder {
    color:#B3B3B3;
}

input:focus::-webkit-input-placeholder {
	display: none;
}

input:-moz-placeholder, textarea:-moz-placeholder {
     color:#B3B3B3;
}
input.Quant{
	width:3em;
}
select.Regular {
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 2.25em;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid #737477;
	font-family: Arial, Tahoma, sans-serif;
	width: 100%;
}
select.Regular:disabled {
	background-color: #F5F4F4;
}
.AnyNum {
    & input[type="text"], input[type="password"] {
    	display: inline-block;
    	vertical-align: middle;
    	margin-right: 0.3em;
    }

}

.Field {
	float: left;
	vertical-align:bottom;
	width:50%;
	padding-right:8px;
 	@include box-sizing(border-box);

	&:last-child {
		padding-right:0;
		text-align:right;
		padding-left:8px;
	}

	input {
	//	display:inline;
	}
}

.DatePeriod {
	border:1px solid #737477;
	width:17em;
	padding-right:2em;
	padding-top: 1px;
    position:relative;
    @include inline-block;
    background:#fff;
    //vertical-align:bottom;
	input[type="text"]   {
		border:none;
		height: 2.25em;
	}
	input[type="text"]:focus {
        border:none;
		outline: none;
	}
	.FromTo {
		@include inline-block;
		width:7.1em;
		position:relative;
	}
	&.SingleDate {
		width:8em !important;
	}
	&.Dirty {
		border:1px solid #0099FF;
		color: black;
	}
	&.Focused {
		outline: $OUTLINE;
	}
    &.Disabled {
        background:#F5F4F4;
        border:1px solid #D9D9D9;
    }
}

.HourPicker {
	vertical-align: top;
}

.HalfCol .SingleDate {
	width:10em;
}
.PairValue input[type="text"] {
	display:inline-block;
	width:3em;
	@include box-sizing(content-box);
	vertical-align:bottom;
}

.PairValue .DDSelect {
	width:7em;
	display:inline-block;
	@include box-sizing(border-box);
	vertical-align:bottom;
}


.DDSelect {
    border: 1px solid #737477;
	display:block;
	width:100%;
	padding:0 0.4em;
 	@include box-sizing(border-box);
	background:#fff;
	min-width:3.5em;

	& > .Title {
		.Actions{
			font-size: 1.2em;
			line-height:2.25em;
			display:block;
			padding-right:10px;
			cursor:pointer;
			position: relative;
			white-space:nowrap;
            overflow:hidden;
			input {
				border: none;
				font-size: 1em;
				padding: 0;
				background: none;

				&:focus {
					outline: none;
				}
			}
			&:after {
				content: "▼";
				font-size: 0.8em;
				position: absolute;
				right:1px;
				top:0.15em;
				background:#fff;
			}
		}
	}
	& > .Content {
		top:2em;
		/*right:-1px;*/
		left:-1px;
		font-size:1.3em;
		border-top:1px solid #737477;
		display:none;
 		li {
 	      white-space: normal;
 	      padding:0.6em 0.4em 0.7em 0.4em;
 		}

	}
	&.Focused {
		outline: $OUTLINE;
	}
}
.DDSelect.Disabled {
    & > .Title {
		.Actions{
			&:after {
				background:#F5F4F4;
			}
		}
    }
}

.DateTime {
	display:inline-block;
	vertical-align:middle;
	word-spacing: normal;
	 .DDSelect {
		display:inline-block;
		width:5.5em;
		vertical-align:	bottom;
	}
	& .DDList > .Content {
		min-width:5.5em;
		max-height:20em;
		overflow-y:auto;

		&.NoScroll {
			overflow-y:visible;
			max-height:auto;
		}
	}
	.SingleTime {
		display: inline-block;
		vertical-align: middle;
		width: 3.25em;
		margin: 0 2em 0 0;

		input {
			@include box-sizing(content-box);
		}
	}
}

.PairValue .DDList > .Content {
	min-width:6.5em;
}


.ButtonContent {
	font-size: 1.2em;
	line-height: 1.4em;
}

.DDSelect.Active {
	z-index:10;

	.DDSecondLevel {
		display:block;
	}
}

.DDSelect.Disabled .Content {
	display:none;
}

.DrugHolder {
	padding-right:2em;
	position:relative;
	border:1px solid #737477;
	background:#fff;
	.SearchIcon{
        position: absolute;
        right: 0;
        top:0.9em;
	}
}

.DrugHolder input[type="text"], .DrugHolder input[type="password"] {
	border:none;
}


/*Paginator*/

.Paginator {
	word-spacing:-0.3em;
}
.Paginator 	> li {
	display:inline-block;
	word-spacing:normal;
	margin-right:0.5em;
	font-size:$MAIN_FONT;
	a {
		display:block;
		width:2em;
		height:2em;
		text-align:center;
		line-height:2em;
		border:1px solid #D9D9D9;
		text-decoration:none;
		color:#404041;

		&:hover {
			background:#DFF4FD;
			border:1px solid #118EDC;
			color:#118EDC;
		}
	}
}
.Paginator > li.PrevPage a, .Paginator > li.NextPage a  {
	color:#6D6E71;
}

.Paginator > li.PrevPage a:hover, .Paginator > li.NextPage a:hover  {
	color:#118EDC;
}

.Paginator > li.Active a{
	background:#DFF4FD;
	border:1px solid #118EDC;
	color:#118EDC;
}

.Paginator > li.Disabled a, .Paginator > li.Disabled a:hover {
	border:1px solid #D9D9D9;
    color:#404041;
    opacity:0.4;
    cursor: default;
    background: none;
}


.Button .Icon.Arrow.Down {
	vertical-align: top;
	font-size: 0.5em;
	position: relative;
	left: 0.4em;
	top: 0.2em;
	margin-left:0.1em;
}


.DayPaginator {
	margin-bottom:2em;
	h2 {
		text-align:center;
	}
}
.PrevDay {
	float:left;
	font-size:1.3em;
	color:#6D6D71;
	&.Disabled {
		opacity:0.6;
	}
}
.NextDay {
	float:right;
	font-size:1.3em;
	color:#6D6D71;
	&.Disabled {
	 	opacity:0.6;
	}
}
a.ScrollPage{
	border: 1px solid #D9D9D9;
    color: #6D6E71;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    width: 2em;
	margin:0 0.2em;
	&:hover {
		background:#DFF4FD;
		border:1px solid #118EDC;
		color:#118EDC;
	}
}
a.ScrollDay{
	border: 1px solid #bababa;
	@include border-radius (6px);
	@include box-shadow ( rgba(0, 0, 0, 0.5) 0.1em 0.1em 0 0.05em);
    color: #333333;
    @include background(linear-gradient(#f7f7f7 0%, #d3d3d3 100%));
    display: inline-block;
    height: 2.7em;
    line-height: 2.7em;
    text-align: center;
    text-decoration: none;
    width: 2.7em;
	margin:0 1em;
	&:hover {
		@include background(linear-gradient(#d3d3d3 0%, #f7f7f7 100%));
		border:1px solid #118EDC;
		color:#118EDC;
	}
}
.MDash {
	display:inline-block;
	vertical-align:middle;
	margin-right: 1em;
}


.Disabled a.ScrollPage {
	 &:hover {
		background:none;
		border: 1px solid #D9D9D9;
    	color: #6D6E71;
    	cursor:default;
	}
}


/*ColorTheme*/

.VarColor {
	//@include background(linear-gradient(#ebfadb, #f7ffef));
	background:#f7ffef;
	body {
		@include background(linear-gradient(#ebfadb, #f7ffef));
	}
	a {
	   color:#509d01;
	}
	.Tabs {
		li {
			a {
				&:hover  {
					@include background(linear-gradient(#7cd421, #4f9802));
					border:1px solid #4f9802;
					border-bottom:none;
				}
			}
		}
	}
	.Tabs li.Active a {
		@include background(linear-gradient(#7cd421, #4f9802));
		border:1px solid #4f9802;
		border-bottom:none;
	}
	#page {
		border-top:3px solid #4f9802;
	}
	.Styled.Button {
		&:hover {
			border:2px solid #4f9802;
		}
		&.BlueBorder {
			@extend .Styled.Button:hover;
			border-width: 4px;
		}
	}
	.Paginator 	> li {
		a {
			&:hover {
				background:#e8f7d9;
				border:1px solid #4f9802;
				color:#509D01;
			}
		}
	}
	.Paginator > li.Active a{
		background:#e8f7d9;
		border:1px solid #4f9802;
		color:#509d01;
	}
}

.InlineList {
	white-space: nowrap !important;
	li {
		@include inline-block;
		padding-right:0.5em;
		label {
			line-height: 2.25em;
			margin:0 0.5em 0 0;
		}
	}
}

.SelectValue {
	white-space:nowrap;
	word-spacing:-0.3em;
	.Field{
		display:inline-block;
		vertical-align:middle;
		width:48%;
		white-space:normal;
		-moz-box-sizing:border-box;
		float:none;
		word-spacing:normal;
	}
	.MDash {
		display:inline-block;
		vertical-align:middle;
		width:4%;
		text-align:center;
	}
}

.Throbber {
	width:110px;
	height:50px;
	padding-left:20px;
	margin:auto;
	border-radius:0.8em;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:9999;
	line-height:50px;
	font-size: 1.2em;
	text-align: center;
	background:#666666 url(/images/throbber.gif) no-repeat 12px 17px;
	color:white;
}

.ToolTip {
	background:#f9edbe;
	border:1px solid #f0c36d;
	padding:1em 1em;
	-moz-box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.2);
	-webkit-box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.2);
	box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.2);
	display:inline-block;
	position:relative;
	&:after {
		display:block;
		position:absolute;
		content: "";
		background:transparent;
		overflow:hidden;
	}
	&.TopTail:after {
			width:18px;
			height:9px;
			top:-9px;
			left:50%;
			margin-left:-9px;
			background: url(../../images/tail.png) no-repeat left top;
	}
	&.BottomTail:after {
			width:18px;
			height:9px;
			bottom:-9px;
			left:50%;
			margin-left:-9px;
			background: url(../../images/tail.png) no-repeat -18px top;
	}
	&.LeftTail:after {
			width:9px;
			height:18px;
			left:-9px;
			top:50%;
			margin-top:-9px;
			background: url(../../images/tail.png) no-repeat -9px -9px;
	}
	&.RightTail:after {
			width:9px;
			height:18px;
			right:-9px;
			top:50%;
			margin-top:-9px;
			background: url(../../images/tail.png) no-repeat left -9px;
	}
 	&.WhiteTip {
 			background:#ffffff;
			border:1px solid #d0d0d0;
 			-moz-box-shadow:0 0 0.6em rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 0 0.6em rgba(0,0,0,0.3);
			box-shadow: 0 0 0.6em rgba(0,0,0,0.3);
 			&.TopTail:after {
				background: url(../../images/tail_white.png) no-repeat left top;
				left:2em;
			}
			&.BottomTail:after {
				background: url(../../images/tail_white.png) no-repeat -18px top;
			}
			&.LeftTail:after {
				background: url(../../images/tail_white.png) no-repeat -9px -9px;
			}
			&.RightTail:after {
				background: url(../../images/tail_white.png) no-repeat left -9px;
			}
			.TooltipList {
				li {
					line-height: 1.5em;
				}
			}
 	}
	.TooltipList {
		text-align:left;
		li {
		    line-height:2.5em;
			white-space:nowrap;
			dfn {
				display:inline-block;
				width:7em;
			}
			label {
				font-size: 0.9em;
				color:#000;
			}
			.TimeLabel {
				display: inline-block;
				vertical-align: middle;
				padding: 0 0.2em;
				margin: 0 0.5em;
				background: #bfe5bf;
			}
		}
	}
	.ToolTipButtons {
		font-size: 0.7em;
		padding-top: 1em;
	}
}
.ToolTipHolder {
	position: relative;
	cursor:pointer;
	.ToolTip {
		position: absolute;
		top:100%;
		margin-top: 9px;
		left:0;
		display: none;
	}
	&.Active {
		z-index:2;
		.ToolTip {
			display: block;
		}
	}
}

div.HasValidationToolTip {
	display: inline-block;
	//margin: 1em;
	padding-right: 0em;
}

.ClearButton {
	display: none;
	margin-left: -22px;
	vertical-align: text-bottom;
}