@import "base";
@import "buttons";
@import "icons";

.DiagnosisVidget {
	margin-bottom: 3em;
	padding-top:2em;
	h2 {
		margin-bottom:0.8em;
	}
	.DatepickerHolder {
		width:23em;
		float:right;
		padding-bottom: 1.4em;
	}

	.ArrowCol {
		border:none;
		position:relative;
		width:2.9%;
	}

	.col1 {
		width:25%;
	}

	.col2 {
		width:30%;
	}
	.col3 {
		width:65%;
	}
}

.instrumental-types .dynatree-connector{
	width: 0;
	height: 0;
}

.RefDiagVidget {
	margin-bottom: 3em;
   // padding-top:2em;
}

.VidgetLine {
	margin-right:25em;
	position:relative;
	padding-left: 0.3em;
}
.RefDiagVidget .VidgetLine {
	margin-right:0;
}

.VidgetCol {
	display: inline-block;
	vertical-align: top;
	height:35em;
	overflow:auto;
	margin-left: -0.3em;
    overflow: auto;
	border:1px solid #CCCCCC;
	@include box-sizing(border-box);
	.EventList {
		  &.NoCheck
				input {
					display:none;
				}
	 	label {
			padding-bottom: 0.1em;
	 	}
		.Label {
			padding-bottom: 0.1em;
	 	}

	}
}


.RefDiagVidget .ArrowCol {
	border:none;
	position:relative;
	width:2.5%;
}

 .RefDiagVidget  .LeftCol {
	width:20%;
}


 .RefDiagVidget .RightCol{
 	 width:55%;
 }


.ArrowCol > i {
    margin-left: -0.4em;
}




.SelectAnalysis {
    background: url(../../images/separator.png) repeat-y 83% top;
    li {
		padding-left:0.5em;
		label {
			color:#000;
			padding-top: 0.2em;
			padding-bottom: 0.1em;
			margin-bottom:1px;
		}
		.Label {
			color:#000;
			padding-top: 0.2em;
			padding-bottom: 0.1em;
			margin-bottom:1px;
		}
	}
	& >li {
		background: url(../../images/separator.png) repeat-y 91% top;
	}
	.DDList {
		margin-top: 0.1em;
		vertical-align: top;
		.Actions{
			font-size:1.1em;
			color:#000;
			border-bottom:1px dashed #000;
			&:hover{
				border-bottom:1px dashed transparent;
			}
		}
		.Content {
			font-size:1.3em;
			min-width:5em;
		}
	}
}

.VidgetSummary  {
	border-top:1px solid #D9D9D9;
	padding-top:1em;
	h3 {
		font-size:1.2em;
		margin-bottom:0.5em;
		color:#666666;
	}
}
.SummaryList {
	padding-left:0.5em;
	margin-bottom:2em;
	> li {
		font-size:1.3em;
		margin-bottom:0.4em;
	}
}

.DatepickerHolder .Warning {
	font-size:1.3em;
	padding-top:1em;
	min-height:2.4em;
}
.ReferralHeader {
	font-size:1.3em;
	padding-bottom:1.4em;
}
.InlineNav {
    li {
		display:inline-block;
		a {
			display:block;
			border-radius:0.3em;
			padding: 0.4em 0.8em;
		}
	}
}
.InlineNav li.Active a {
	background: none repeat scroll 0 0 #118CDA;
    color: #FFFFFF;
    text-decoration: none;
}
.SelectTime {
	padding-top:1.4em;
	.Col {
		float:left;
		width:50%;
		label {
			margin-bottom:0.35em;
		}
	}
}
.RefferalWidget  {
	border-top: 1px solid #D9D9D9;
    padding-top: 3em;
	margin-bottom:3em;
	.DatepickerHolder {
		float:none;
		width:23em;
		display:table-cell;
		vertical-align:top;
	}
}

.RefferalForm {
	padding-left:3em;
	display:table-cell;
	vertical-align:top;
	.Col {
		width:auto;
		padding-right:5em;
	}
	.SelectTime {
		padding-top:0;
		padding-bottom:1em;
	}
}

.Urgently {
	padding-bottom:1em;
}
.FreeDoctors {
    h4 {
		font-size:1.1em;
		color:#6D6D71;
		margin-bottom:0.5em;
	}
	.InlineNav{
		font-size:1.3em;
		padding-left:1em;
	}
}

.AnalisLine {
    @include clearfix;
    padding:0.1em 0 0.1em 0.5em;
    margin-left:-0.5em;
    &.Selected {
    	background:#DFEFFC;
    }
    .AnalisName {
    	float: left;
    	padding-top: 0.2em;
    }
    .AnalisQuant {
    	float: right;
    	letter-spacing: -0.3em;
    	width: 18%;
    	text-align: center;
    	span {
    		display: inline-block;
    		vertical-align: middle;
    		width: 46%;
    		padding: 0 2%;
    	}
    	input[type="text"] {
    		height: 1.75em;
    	}
    	input[type="checkbox"] {
    		top:0;
    	}
    }
}

.editor-controls {
	margin-bottom: 0.4em;
	margin-top: -.2em;
	.wysisyg {
		float: left;
		ul {
			list-style-type: none;
			li {
				display: inline;
				a {
					font-size: 1.2em;
					text-decoration: none;
					padding: .2em;
					border-radius: 3px;
					display: inline-block;
					min-width: 1.2em;
					text-align: center;
					&:hover {
						color: white;
						background-color: #118ddc;
					}
				}
			}
		}
	}
	.thesaurus-open {
		display: inline-block;
		font-size: 1.2em;
		text-decoration: none;
		padding: .2em;
	}
}
