<% if (tree.length) {%>
<ul style="display:none">
	<%_(tree).each(function (node) {%>
	<li class="document-template-node" data-document-template-id="<%=node.id%>">
		<span style="cursor: pointer;">
			<i class="icon-plus <%=!(node.templates && node.templates.length)?'transparent':''%>" style="font-size: .7em; line-height: 1.6em; top: -.1em; position: relative;"></i>
			<%=node.name%>
		</span>
		<div style="border-left: 1px dotted #aeaeae; padding-left: 5px; margin-left: 10px;">
			<%if (node.templates && node.templates.length) {%>
				<%=template({tree: node.templates, template: template})%>
			<%}%>
		</div>
	</li>
	<%});%>
</ul>
<%} else {%>
	Нет шаблонов для выбранного типа действия
<%}%>
