<ul>
	<%_(documentTypes).each(function (documentType) {%>
	<li class="document-type-node" data-document-type-id="<%=documentType.id%>">
		<span style="font-size: .9em; line-height: 1.6em;">
			<i class="icon-plus <%=!documentType.groups.length?'transparent':''%>" style="font-size: .7em; line-height: 1.6em; top: -.1em; position: relative;"></i>
			<%=documentType.name%>
		</span>
		<%if (documentType.groups && documentType.groups.length) {%>
			<%=template({documentTypes: documentType.groups, template: template})%>
		<%}%>
	</li>
	<%});%>
</ul>
