<table class="Grid">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Дата и время</th>
			<th>Название</th>
			<th>Врач</th>
			<th>Специальность</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%if (documents.length) {%>
			<%documents.each(function (document) {%>
				<tr class="document-item-row">
					<td class="selected-flag-col" style="background-color: white;"><input type="checkbox" class="selected-flag" value="<%=document.id%>"></td>
					<td class="single-item-select"><%=Core.Date.format(document.get('assessmentDate'))%></td>
					<td class="single-item-select"><%=document.get('assessmentName').name%></td>
					<td class="single-item-select"><%=document.get('doctor').name.raw%></td>
					<td class="single-item-select"><%=document.get('doctor').specs ? document.get('doctor').specs.name : ''%></td>
					<td><a class="edit-document Actions" data-document-id="<%=document.id%>"><i class="icon-pencil"></i></a></td>
				</tr>
			<%});%>
		<%} else {%>
			<tr>
				<td colspan="6">Нет данных</td>
			</tr>
		<%}%>
	</tbody>
</table>