<table class="Grid">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>id</th>
			<th>name</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%if (documents.length) {%>
			<%documents.each(function (document) {%>
				<tr class="document-item-row">
					<td><input type="checkbox" class="selected-flag" value="<%=document.id%>"></td>
					<td><%=document.id%></td>
					<td><%=document.get('assessmentName').name%></td>
					<td><a class="edit-document Actions" data-document-id="<%=document.id%>">Редактировать</a></td>
				</tr>
			<%});%>
		<%} else {%>
			<tr>
				<td colspan="4">Нет данных</td>
			</tr>
		<%}%>
	</tbody>
</table>