<label>
	тип документа:
	<select class="document-type-filter" id="document-type-filter">
		<option value="ALL" selected>Все</option>
		<option value="EXAM">Осмотры</option>
		<option value="EPI">Эпикризы</option>
		<option value="ORD">ОРД</option>
		<option value="JOUR">Журналы</option>
		<option value="NOT">Заметки</option>
		<option value="OTH">Другие</option>
	</select>
</label>
<label><input type="radio" name="document-create-date-filter" checked value="ALL"/>все</label>
<label><input type="radio" name="document-create-date-filter" value="TODAY"/>сегодня</label>
<label><input type="radio" name="document-create-date-filter" value="YESTERDAY"/>вчера</label>
<label><input type="radio" name="document-create-date-filter" value="FIVE_DAYS"/>за 5 дней</label>