<div class="row-fluid">
	<div class="span12 controls-block" style="padding-bottom: 1em;margin-bottom: 1em;border-bottom: 1px solid #d4d4d4;">
		<div class="documents-controls" style="float: left;"></div>
		<div class="panic-btn" style="float: left;"></div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 controls-filters">
		<div class="pull-left table-controls" style="padding-bottom: 2em;"></div>
		<div class="pull-right documents-filters" style="vertical-align: middle; padding-bottom: 2em;"></div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 documents-table">
		<table class="Grid">
			<thead class="documents-table-head"></thead>
			<tbody class="documents-table-tbody"></tbody>
		</table>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 documents-paging"></div>
</div>