<%if (pageCount > 1) {%>
<div class="PaginatorHolder Clearfix">
	<ul class="Paginator">
		<%for (var i = 1; i <= pageCount; i++) {%>
			<li class="<%if (i == currentPage) {%>Active<%}%>"><a href="#" class="page-number" data-page-number="<%=i%>"><%=i%></a></li>
		<%}%>

		<!--{{if prevPage}}
		<li class="PrevPage Inactive"><a href="${path}p${prevPage}" title="Предыдущая страница">◄</a></li>
		{{/if}}

		{{each Pages}}
		<li class="{{if $value == page}}Active{{/if}}"><a href="${path}p${$value}">${$value}</a></li>
		{{/each}}

		{{if nextPage}}
		<li class="NextPage"><a href="${path}p${nextPage}" title="Следующая страница">►</a></li>
		{{/if}}-->
	</ul>
</div>
<%}%>