
<div style="display: inline-block;">
	<label>
		ИБ:
	</label>
	<select class="Regular" name="event-filter" id="event-filter" style="width: 150px;">
		<%_.each(events, function(event){ %>
		<option value="<%= event.id %>" <%if(event.id === selectedEventId){%><%}%>><%= event.externalId%></option>
		<%})%>
        <option value="all">Все ИБ</option>
	</select>
</div>


<div  style="display: inline-block;">
	<label>
		Тип:
	</label>


	<select class="document-type-filter Regular" id="document-type-filter" style="width: 200px;">
		<option value="ALL" selected>Все</option>
        <option value="EVERYDAY">Ежедневные</option>
		<option value="ORD">Выписки</option>
		<option value="JOUR">Дневники</option>
		<option value="NOT">Извещения</option>
		<option value="DIAG">Инструментальные исследования</option>
		<option value="CONS">Консультации</option>
		<option value="LAB">Лабораторные исследования</option>
		<option value="THER">Лечение</option>
		<option value="EXAM">Осмотры</option>
		<option value="OTH">Разное</option>
		<option value="EPI">Эпикризы</option>
	</select>
</div>
<div  style="display: inline-block;">
	<label style="margin-left: 2em">Период:</label>
	<div class="document-create-date-filter-buttonset" style="display: inline-block;">
		<input type="radio" id="dcdf-1" name="document-create-date-filter" value="ALL"/><label for="dcdf-1">Все</label>
		<input type="radio" id="dcdf-2" name="document-create-date-filter" value="TODAY"/><label for="dcdf-2">Сегодня</label>
		<input type="radio" id="dcdf-3" name="document-create-date-filter" value="YESTERDAY"/><label for="dcdf-3">Вчера</label>
		<input type="radio" id="dcdf-4" name="document-create-date-filter" value="FIVE_DAYS"/><label for="dcdf-4">За 5 дней</label>
	</div>
</div>
