
<div style="display: inline-block;<%if (App.Router.currentPage != 'patientSummaryList') {%> display: none;<%}%>">
	<label>
		ИБ:
	</label>
	<select class="Regular" name="event-filter" id="event-filter" style="width: 150px;" >
		<%_.each(ibs, function(event){ %>
		<option value="<%= event.id %>" <%if(event.id == selectedEventId){%> selected <%}%> > <%= event.number%></option>
		<%})%>
        <option value="all">Все ИБ</option>
	</select>
</div>

<div  style="display: inline-block;">
	<label>
		Тип:
	</label>


	<select class="document-type-filter Regular" id="document-type-filter" style="width: 200px;">
		<% console.log(mnemFilterType) %>
		<option value="ALL" <%if(mnemFilterType == 'ALL' || !mnemFilterType){%> selected <%}%> > Все</option>
		<% if (App.Router.currentPage == "patientSummaryList") { %>
		    <option value="EVERYDAY" <%if(mnemFilterType == 'EVERYDAY'){%> selected <%}%> > Ежедневные</option>
		<% } %>
		<option value="ORD" <%if(mnemFilterType == 'ORD'){%> selected <%}%> > Выписки</option>
		<option value="JOUR" <%if(mnemFilterType == 'JOUR'){%> selected <%}%> > Дневники</option>
		<option value="NOT" <%if(mnemFilterType == 'NOT'){%> selected <%}%> > Извещения</option>
		<% if (App.Router.currentPage == "patientSummaryList") { %>
		    <option value="DIAG" <%if(mnemFilterType == 'DIAG'){%> selected <%}%> > Инструментальные исследования</option>
		<% } %>
		<option value="CONS" <%if(mnemFilterType == 'CONS'){%> selected <%}%> > Консультации</option>
		<% if (App.Router.currentPage == "patientSummaryList") { %>
		    <option value="LAB" <%if(mnemFilterType == 'LAB'){%> selected <%}%> > Лабораторные исследования</option>
		<% } %>
		<% if (App.Router.currentPage == "patientSummaryList") { %>
		    <option value="THER" <%if(mnemFilterType == 'THER'){%> selected <%}%> > Лечение</option>
		<% } %>
		<option value="EXAM" <%if(mnemFilterType == 'EXAM'){%> selected <%}%> > Осмотры</option>
		<option value="OTH" <%if(mnemFilterType == 'OTH'){%> selected <%}%> > Разное</option>
		<option value="EPI" <%if(mnemFilterType == 'EPI'){%> selected <%}%> > Эпикризы</option>
	</select>
</div>
<div  style="display: inline-block;">
	<label style="margin-left: 2em">Период:</label>
	<div class="document-create-date-filter-buttonset" style="display: inline-block;">
		<input type="radio" id="dcdf-1" name="document-create-date-filter" value="ALL"/><label for="dcdf-1">Все</label>
		<input type="radio" id="dcdf-2" name="document-create-date-filter" value="TODAY"/><label for="dcdf-2">Сегодня</label>
		<input type="radio" id="dcdf-3" name="document-create-date-filter" value="YESTERDAY"/><label for="dcdf-3">Вчера</label>
		<input type="radio" id="dcdf-4" name="document-create-date-filter" value="FIVE_DAYS"/><label for="dcdf-4">За 5 дней</label>
	</div>
</div>
