<%if (documents.length) {%>
	<%documents.each(function (document) {%>
		<tr class="document-item-row">
			<td class="selected-flag-col" style="background-color: white;"><input type="checkbox" class="selected-flag" value="<%=document.id%>"></td>
			<td class="single-item-select"><%=document.get('beginDate') ? Core.Date.formatDateTime(document.get('beginDate')) : Core.Date.formatDateTime(document.get('assessmentDate'))%></td>
			<td class="single-item-select"><%=document.get('assessmentName').name%></td>
			<td class="single-item-select"><%=document.get('doctor').name.raw%></td>
			<td class="single-item-select"><%=document.get('doctor').specs ? document.get('doctor').specs.name : ''%></td>
		</tr>
	<%});%>
<%} else {%>
	<tr>
		<td colspan="6">Нет данных</td>
	</tr>
<%}%>
