<div class="ContentHeader Clearfix">
	<div class="PageActions">
		<button class="Styled Button Green  actions save" ><span>Сохранить</span></button>
		<a class="actions cancel" href="#">Отмена</a>
	</div>
</div>
<div class="EditForm Clearfix">
<ul class="LineBlockHolder">
<li>
	<div class="LineBlock">
		<div class="ColHalf">
			<label for="department">
				Поступил в отделение
			</label>
			<select class="Departments select2"  name="departments">
				<option value="">...</option>
				<%_.each(departments, function(department){%>
					<option value="<%= department.id %>"  <% if(department.id == movedToUnitId){%>selected<% } %> ><%= department.name %></option>
				<%});%>
			</select>
		</div>
		<div class="QuartCol">
			<label for="begDate">
				Дата и время поступления
			</label>
			<div class="date">
				<input
				type="text"
				name="move-date"
				id="move-date"
				placeholder="дд.мм.гггг"
				class="SelectDate"
				data-relation="#move-time"/>
				<i class="icon-calendar date-icon"></i>
			</div>

		</div>
		<div class="DecCol WithoutName">
			<div class="time">
				<input
				type="text"
				class="Styled HourPicker"
				id="move-time"
				data-relation="#move-date"
				placeholder="чч:мм"/>
				<i class="icon-time time-icon"></i>
			</div>
		</div>
		<div class="QuartCol">
			<span class="Label">Патронаж </span>
			<div class="InlineForm">
				<label>
					<input type="radio" name="patronage" class="patronage" <% if (model.bedRegistration.patronage == 'Да'){%> checked <%}%> value="Да">
					Да
				</label>
				<label>
					<input type="radio" name="patronage" class="patronage" <% if (model.bedRegistration.patronage == 'Нет'){%> checked <%}%> value="Нет">
					Нет
				</label>
			</div>
		</div>
	<!--	<% if (moveNumber === 2){ %>
		<div class="QuartCol">
			<span class="Label">Поступил из отделения</span>
			<div class="InlineForm">
				<label>
					<input type="checkbox" name="movedFromUnitId" class="movedFromUnitId" value="26"/>
					Дневной стационар
				</label>
			</div>
		</div>
		<% } %>-->
	</div>
</li>
<li>


<div class="BedListHeader">
	<!--<span class="WardLabel">№ палаты</span><span class="BedLabel">Койки</span>-->
</div>
<div class="beds clearfix">

</div>
    <div class="LineBlock">
    <label>Профиль&nbsp; койки</label>
        <select class="bed-profiles" style="width:200px;">
        <option value="">...</option> 
        <% _.each(bedProfiles, function(bedProfile){%>
        <option value="<%=bedProfile.id%>"><%=bedProfile.name%></option>
        <%})%>
        </select>
    
    </div>
</li>
</ul>
<div class="FormButtons">
	<button class="Styled Button Green actions save"><span>Сохранить</span></button>
	<a class="actions cancel" href="#">Отмена</a>
</div>
</div>
