<!--заголовок таблицы для роли которая не может создавать движения-->
<script id="moves-grid-department" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th>
				<!--<a class="Actions SortCol" data-field="unit">-->
					<span>Отделение</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="createDatetime">-->
					<span>Поступление</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="leave">-->
					<span>Выбытие</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="days">-->
					<span>Дни</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="bedDays">-->
					<span>Койко-дни</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="bed">-->
					<span>Койка</span>
				<!--</a>-->
			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

	<!--заголовок таблицы для роли которая может создавать движения-->
<script id="moves-grid-department-with-move" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th>
				<!--<a class="Actions SortCol" data-field="unit">-->
					<span>Отделение</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="createDatetime">-->
					<span>Поступление</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="leave">-->
					<span>Выбытие</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="days">-->
					<span>Дни</span>
				<!--</a>-->
			</th>
			<th>
				<!--<a class="Actions SortCol" data-field="bedDays">-->
					<span>Койко-дни</span>
				<!--</a>-->
			</th>
			<th>
				<span>Койка</span>
			</th>
			<th>

			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<!--строка таблицы для роли которая не может создавать движения, 6 ячеек-->
<script id="moves-grid-row-department" type="text/x-jquery-tmpl">
	<td>
		${unit}
	</td>
	<td>
		{{formatDateTime admission}}
	</td>
	<td>
		{{formatDateTime leave}}
	</td>
	<td>
		${days}
	</td>
	<td>
		${bedDays}
	</td>
	<td>
		{{if bed != "Положить на койку"}}
		${bed}
		{{else}}
		{{/if}}

	</td>
</script>

<!--строка таблицы для роли которая может создавать движения, 7 ячеек-->
<script id="moves-grid-row-department-with-move" type="text/x-jquery-tmpl">
	<td>
		${unit}
	</td>
	<td>
		{{formatDateTime admission}}
	</td>
	<td>
		{{formatDateTime leave}}
	</td>
	<td>
		${days}
	</td>
	<td>
		${bedDays}
	</td>
	<td>
				${bed}
	</td>
	<td>
	</td>
</script>

<!--последняя строка таблицы для роли которая не может создавать движения, 6 ячеек-->
<script id="moves-grid-last-row-department" type="text/x-jquery-tmpl">
	<td>
		${unit}
	</td>
	<td>
		{{formatDateTime admission}}
	</td>
	<td>
		{{formatDateTime leave}}
	</td>
	<td>
		${days}
	</td>
	<td>
		${bedDays}
	</td>
	<td>
		{{if bed != "Положить на койку"}}
		${bed}
		{{/if}}
	</td>
</script>


<!--последняя строка таблицы для роли которая может создавать движения, 7 ячеек-->
<script id="moves-grid-last-row-department-with-move" type="text/x-jquery-tmpl">
	<td>
		${unit}
	</td>
	<td>
		{{formatDateTime admission}}
	</td>
	<td class="last-move-leave-col">
		{{formatDateTime leave}}
	</td>
	<td>
		${days}
	</td>
	<td>
		${bedDays}
	</td>
	<td>
		{{if bed == "Положить на койку"}}
		<a href="#" class="bed-registration" >Положить на койку</a>
		{{else}}
		${bed}
		{{/if}}
	</td>
	<td>
		{{if bed != "Положить на койку"}}
		<i class="RemoveIcon Icon Tiny  HasToolTip cancel-bed-registration" data-tooltip-content="#tooltip_${id}"></i>
		<div id="tooltip_${id}" class="ToolTip TopTail">Отмена прописки</div>
		{{/if}}
	</td>
</script>


<script id="moves-grid-department-default" type="text/x-jquery-tmpl">
	<h3>Записей нет</h3>
</script>
