<section class="PopUpLine">
	<div class="EditForm Clearfix">
		<ul class="LineBlockHolder">
			{{if previousDepartmentName}}
			<li style="border: none;">
				<div class="LineBlock">
					<div class="LineCol">
						<span class="Label" style="margin-left:0;">Переведён из отделения</span>
						<b>${previousDepartmentName}</b>
					</div>
					<div class="HalfCol WithoutName" style="word-spacing:0;">
						{{formatDateTime previousDepartmentDate}}
					</div>
				</div>
			</li>
			{{/if}}

			<li>
				<div style="margin-bottom: 1.5em;">
					<div style="padding-right:20px;">
						<span class="Label" style="margin-left:0;">Отделение</span>
						<select id="department" name="department" class="select2 Mandatory">
							<option value="">...</option>
						</select>
					</div>
				</div>
				<div class="LineBlock">
					{{if showDatepicker}}
					<div class="HalfCol">
						<label style="white-space: nowrap; margin-left:0;"> Дата и время поступления</label>
						<div class="date">
							<input type="text" id="movingDate" data-relation="#movingTime"  data-mindate="0" name="movingDate" placeholder="дд.мм.гггг" class="SelectDate date-input" required="required" />
							<i class="icon-calendar date-icon"></i>
						</div>

					</div>
					<div class="HalfCol WithoutName">
						<div class="time">
							<input type="text" id="movingTime" class="HourPicker Mandatory" data-relation="#movingDate" name="movingTime" placeholder="чч:мм" required="required"/>
							<i class="icon-time time-icon"></i>
						</div>
					</div>
					{{/if}}

				</div>
			</li>
		</ul>
	</div>
</section>
