<div class="CardHeader Clearfix" style="padding-top: 0.5em;">
	<div class="CardNav">
	<ul class="SectionNav">
		<li class="Selected"><a href="" data-period="d">Сегодня</a></li>
		<li><a href="" data-period="m">Текущий месяц</a></li>
	</ul>
	</div>
</div>
<section id="page" class="Clearfix TwoCol">
<aside class="LeftSideBar" style="padding-top: 0.5em;">
<nav><ul class="AsideNav">
<li class="Active" data-statement="2"><a class="st" href="/statements/"><span>Лист движения ФНКЦ</span></a></li>
<li   data-statement="1"><a class="st" href="/statements/"><span>Деятельность врачей поликлиники за период</span></a></li>
<li  data-statement="3"><a class="st" href="/statements/"><span>Выписанные</span></a></li>
<li  data-statement="4"><a class="st" href="/statements/"><span>Пациенты, находящиеся на лечении в круглосуточном и дневном стационарах за счет самообеспечения и Фондов</span></a></li>
<li data-statement="5"><a class="st" href="/statements/"><span>Выписанные пациенты по диагнозу из заключительного эпикриза</span></a></li>
<li data-statement="6"><a class="st" href="/statements/"><span>Заболеваемость за период по блокам (стационар)</span></a></li>
<li data-statement="7" ><a class="st" href="/statements/"><span>Список операций за период</span></a></li>
<li data-statement="8"><a class="st" href="/statements/"><span>Количество анестезий за период</span></a></li>
<li data-statement="9"><a class="st" href="/statements/"><span>Пациенты, находящиеся на лечении более 21 дня</span></a></li>
</ul></nav>
</aside>
<style type="text/css">
	.ContentSide h3{
		border-bottom: 1px solid #000;
		padding-bottom: .5em;
	}
	.ContentSide h2{
		margin-top: 1em;
	}
	.SectionNav li{
		cursor: inherit;
	}
	.Grid th{
		white-space: normal;
	}
	.Grid td, .Grid th {
		background-color: #fff;
	}
</style>
<div class="ContentSide">

</div>

</section>
