<li>
	<div class="LineBlock Addresses">
		<div class="LineCol">
			<fieldset class="AdressForm">
				<legend>Адрес проживания</legend>
				<ul id="residentialAddress" class="addressFields">

				</ul>
			</fieldset>
		</div>
		<div class="LineCol">
			<fieldset class="AdressForm">
				<legend>Адрес регистрации</legend>
				<ul id="registeredAddress" class="addressFields">

				</ul>
			</fieldset>
		</div>
	</div>
	<div>
		<label>
			<input type="checkbox" id="addresses-equal" data-subbind="true" {{if addressesEqual}}checked="checked"{{/if}}>
			Адрес регистрации совпадает с адресом проживания
		</label>
	</div>
</li>