<div class="LineBlock" style="display: inline-block; margin-bottom: 10px;">
	<div style="display: inline-block; width: 20em; float: left;">
		<label style="margin-left: .2em">
			Наименование вещества
		</label>
		<input type="text" data-key="substance" value="${substance}">
	</div>
	<div style="display: inline-block; width: 10em; margin-left: 1em; float: left">
		<span class="Label" style="margin-left: .2em">Степень</span>
		<select class="Styled degree" name="medicalInfo-allergies-${cid}-degree" data-key="degree">
			<option value="" selected="${!degree}">...</option>
			<option value="1" selected="${degree == 1}">низкая</option>
			<option value="2" selected="${degree == 2}">средняя</option>
			<option value="3" selected="${degree == 3}">высокая</option>
		</select>
	</div>
	<div style="display: inline-block; width: 12em; margin-left: 1em; float: left">
		<span class="Label" style="margin-left: .2em">Дата установления</span>
		<div class="date">
			<input type="text" name="medicalInfo-allergies-${cid}-checkingDate" data-key="checkingDate" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-maxdate="0" value="${checkingDate ? moment(checkingDate).format('DD.MM.YYYY') : ''}"/>
		</div>
	</div>
	<div style="display: inline-block; width: 15em; margin-left: 1em; float: left">
		<label style="margin-left: .2em">
			Примечания
		</label>
		<input type="text" name="medicalInfo-allergies-${cid}-comment" data-key="comment" value="${comment}">
	</div>
	<div class="ActionsOnly" style="display: inline-block; width: 5em; margin-left: 1em; margin-top: 2.5em; float: right">
		<div class="AddLine">
			<i class="AddIcon Icon Tiny Actions Clone"></i>
			<i class="RemoveIcon Icon Tiny Actions Remove"></i>
		</div>
	</div>
</div>
