<li>
	<div class="LineBlock">
		<div class="LineCol">
			<label>
				ТФОМС
			</label>
			<select class="Styled" name="tfoms" data-subbind="true">
				<option value="">...</option>
				{{each dictionaries.tfomses}}
					<option value="${id}" {{if selectedTfoms == id}}selected="selected"{{/if}}>${value}</option>
				{{/each}}
			</select>
		</div>
	</div>
</li>
<li>
	<h4>Полис ОМС</h4>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>
				Тип полиса
			</label>
			<select class="Styled" name="payments-${patient.payments.oms.cid}-policyType-id">
				<!--<option value="" {{if patient.payments.oms.policyType.id == ""}} selected="selected"{{/if}}>...</option>
				<option value="1"{{if patient.payments.oms.policyType.id == 1}} selected="selected"{{/if}}>ОМС территориальный</option>
				<option value="2"{{if patient.payments.oms.policyType.id == 2}} selected="selected"{{/if}}>ОМС производственный</option>-->
				<option value="">...</option>
				<option value="1">ОМС территориальный</option>
				<option value="2">ОМС производственный</option>
			</select>
		</div>
		<div class="QuartCol">
			<label>
				Серия
			</label>
			<input type="text" name="payments-${patient.payments.oms.cid}-series" placeholder="Серия" data-maxlength="16"/>
		</div>
		<div class="QuartCol">
			<label>
				Номер
			</label>
			<input type="text" name="payments-${patient.payments.oms.cid}-number" placeholder="Номер" data-maxlength="16"/>
		</div>
		<div class="LineCol">
			<label>
				Страховая компания
			</label>
			<select class="Styled SMO" name="payments-${patient.payments.oms.cid}-smo-id">
				<option value="" selected="selected">...</option>
				{{each dictionaries.insuranceCompanies}}
					<option value="${id}" class="insuranceCompany tfomsid-${headId}">${value}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>
				Дата выдачи
			</label>
			<div class="DatePeriod SingleDate">
				<div class="FromTo">
					<input type="text" name="payments-${patient.payments.oms.cid}-rangePolicyDate-start" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-maxdate="0"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
		</div>
		<div class="HalfCol">
			<label>
				Дата окончания действия
			</label>
			<div class="DatePeriod SingleDate">
				<div class="FromTo">
					<input type="text" name="payments-${patient.payments.oms.cid}-rangePolicyDate-end" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-mindate="1"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
		</div>
		<div class="LineCol">
			<label>
				Примечание
			</label>
			<input type="text" name="payments-${patient.payments.oms.cid}-comment" placeholder="Примечание" data-maxlength="170"/>
		</div>
	</div>
</li>
<li>
	<h4>Полис ДМС</h4>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>
				Серия
			</label>
			<input type="text" name="payments-${patient.payments.dms.cid}-series" placeholder="Серия" data-maxlength="16"/>
		</div>
		<div class="QuartCol">
			<label>
				Номер
			</label>
			<input type="text" name="payments-${patient.payments.dms.cid}-number" placeholder="Номер" data-maxlength="16"/>
		</div>
		<div class="QuartCol">

		</div>
		<div class="LineCol">
			<label>
				Страховая компания
			</label>
			<select class="Styled SMO" name="payments-${patient.payments.dms.cid}-smo-id">
				<option value="" selected="selected">...</option>
				{{each dictionaries.insuranceCompanies}}
					<option value="${id}" class="insuranceCompany tfomsid-${headId}">${value}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<label>
				Дата выдачи
			</label>
			<div class="DatePeriod SingleDate">
				<div class="FromTo">
					<input type="text" name="payments-${patient.payments.dms.cid}-rangePolicyDate-start" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-maxdate="0"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
		</div>
		<div class="HalfCol">
			<label>
				Дата окончания действия
			</label>
			<div class="DatePeriod SingleDate">
				<div class="FromTo">
					<input type="text" name="payments-${patient.payments.dms.cid}-rangePolicyDate-end" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-mindate="1"/>
				</div>
				<i class="DateIcon Icon"></i>
			</div>
		</div>
		<div class="LineCol">
			<label>
				Примечание
			</label>
			<input type="text" name="payments-${patient.payments.dms.cid}-comment" placeholder="Примечание" data-maxlength="170"/>
		</div>
	</div>
</li>
<li>
	<h4>Удостоверение личности</h4>
	<div id="id-cards"></div>
</li>