<li>
	<div class="LineBlock">
		<div class="HalfCol">
			<label>Фамилия</label>
			<!--<input type="text" name="name-last" placeholder="Фамилия" tabindex="1" class="Mandatory" value="${name.last}" data-maxlength="255" data-type="alpha" data-tooltip-text="Поле не может быть пустым"/>-->
			<input type="text" name="name-last" placeholder="Фамилия" class="Mandatory" data-type="alpha" data-tooltip-text="Поле не может быть пустым"  data-maxlength="30"/>
		</div>
		<div class="QuartCol">
			<label>Имя</label>
			<input type="text" name="name-first" placeholder="Имя" class="Mandatory" data-type="alpha" data-tooltip-text="Поле не может быть пустым" data-maxlength="30"/>
		</div>
		<div class="HalfCol">
			<label>Отчество</label>
			<input type="text" name="name-middle" placeholder="Отчество" data-type="alpha" data-maxlength="30"/>
		</div>
		<div class="QuartCol">
			<span class="Label">Пол</span>
			<select name="sex" class="Styled">
					<option value="">Не&nbsp;определен</option>
					<option value="male">Муж</option>
					<option value="female">Жен</option>
			</select>
			<!--<ul class="InlineList">
				<li>
					<label>
						<input type="radio" id="sexMale" name="sex" value="male">
						Муж
					</label>
				</li>
				<li>
					<label>
						<input type="radio" id="sexFemale" name="sex"  value="female">
						Жен
					</label>
				</li>
			</ul>-->
		</div>
		<div class="HalfCol">
			<button disabled class="Styled Button Disabled"><span>Поиск в БД застрахованных</span></button>
		</div>
	</div>
	<div class="LineBlock">
		<div class="QuartCol">
			<span class="Label">Дата рождения</span>
			<!--<div class="DatePeriod SingleDate Mandatory">
				<div class="FromTo">-->
			<div class="date">
				<input type="text" name="birthDate" placeholder="дд.мм.гггг" class="SelectDate Mandatory" data-type="date" data-maxdate="0" data-tooltip-text="Неверная дата рождения"/>
				<i class="icon-calendar date-icon"></i>
			</div>
				<!--</div>
				<i class="DateIcon Icon"></i>
			</div>-->
		</div>
		<div class="SemiCol">
			<label>Место рождения</label>
			<input type="text" name="birthPlace" placeholder="Место рождения" data-type="string" data-maxlength="128"/>
		</div>
	</div>
</li>
<li>
	<div class="LineBlock">
		<div class="WideCol HasValidationToolTip">
			<span class="Label">СНИЛС</span>
			<input type="text" name="snils" data-type="snils" data-tooltip-text="Неверный номер СНИЛС"/>
		</div>
	</div>
</li>
<li>
	<h4>Контактные данные пациента</h4>
	<div id="contacts" class="LineBlock">

	</div>
</li>
<!--
<li>
	<h4>Доп. контакты</h4>
	<div id="relations"></div>
</li>-->
