<div id="page-head">

</div>
<section id="page" class="Clearfix TwoCol">
	<aside class="LeftSideBar">

	</aside>
	<div class="ContentSide Clearfix">
		<form action="" autocomplete="off">
			<div class="ContentHolder">
				<div class="ContentHeader Clearfix">
					<div class="PageActions">
						<button class="Styled Button BlueBorder Actions Save"><span>Создать</span></button>
						<button class="Styled Button Hidden BlueBorder Actions Update"><span>Сохранить</span></button>
						<a class="Actions Cancel"><span>Отмена</span></a>

						<div class="CloseHistory">
							<button disabled class="Styled Button Disabled"><span>Штрих код</span></button>
							<button disabled class="Styled Button Disabled"><span>Печать</span></button>
						</div>

						<div id="errors" class="Hidden ToolTip">
							<div><span class="Error">Неверно заполнены поля: </span><span class="Error WrongFields"></span></div>
						</div>
					</div>
				</div>
				<div class="EditForm Clearfix">
					<ul class="LineBlockHolder"></ul>
					<div class="FormButtons">
						<button class="Styled Button Actions Prev"><span>Назад</span></button>
						<button class="Styled Button Actions Next"><span>Далее</span></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>