{{if type == 'oms'}}
<div class="LineBlock">
	<div class="HalfCol">
		<label>
			Тип полиса
		</label>
		<select class="Styled" name="payments-${model.cid}-policyType-id">
			<option value="">...</option>
			<option value="1">ОМС территориальный</option>
			<option value="2">ОМС производственный</option>
		</select>
	</div>
</div>
{{/if}}
<div class="LineBlock">
	<div class="QuartCol">
		<label>
			Серия
		</label>
		<input type="text" name="payments-${model.cid}-series" placeholder="Серия" data-maxlength="16"/>
	</div>
	<div class="QuartCol">
		<label>
			Номер
		</label>
		<input type="text" name="payments-${model.cid}-number" placeholder="Номер" data-maxlength="16"/>
	</div>
	{{if type == 'dms'}}
		<!--<div class="QuartCol"></div>-->
	{{/if}}
	<div class="LineCol">
		<label>
			Страховая компания
		</label>
		<select class="Styled SMO" data-subbind="true" name="payments-${model.cid}-smo-id">
			<option value="" selected="selected">...</option>
			{{each dictionaries.insuranceCompanies}}
			<option value="${id}" class="insuranceCompany tfomsid-${headId}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="QuartCol ActionsOnly">
		<div class="AddLine">
			<i class="AddIcon Icon Tiny Actions Clone"></i>
			<i class="RemoveIcon Icon Tiny Actions Remove"></i>
		</div>
	</div>
</div>
<div class="LineBlock">
	<div class="QuartCol">
		<label>
			Дата выдачи
		</label>
		<!--<div class="DatePeriod SingleDate">
			<div class="FromTo">-->
			<div class="date">
				<input type="text" name="payments-${model.cid}-rangePolicyDate-start" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-maxdate="0"/>
				<i class="icon-calendar date-icon"></i>
			</div>
			<!--</div>
			<i class="DateIcon Icon"></i>
		</div>-->
	</div>
	<div class="QuartCol">
		<label>
			Дата окончания
		</label>
		<!--<div class="DatePeriod SingleDate">
			<div class="FromTo">-->
			<div class="date">
				<input type="text" name="payments-${model.cid}-rangePolicyDate-end" placeholder="дд.мм.гггг" class="SelectDate" data-type="date" data-mindate="1"/>
					<i class="icon-calendar date-icon"></i>
				</div>
			<!--</div>
			<i class="DateIcon Icon"></i>
		</div>-->
	</div>
	<!--<div class="QuartCol"></div>-->
	<div class="LineCol">
		<label>
			Примечание
		</label>
		<input type="text" name="payments-${model.cid}-comment" placeholder="Примечание" data-maxlength="170"/>
	</div>
</div>

