<div class="LineBlock">
	<div class="HalfCol">
		<label> Кем приходится</label>
		<select class="Styled" name="relations-${relation.cid}-relationType-id">
			<option value="">...</option>
			{{each relationTypes}}
			<option value="${id}" class="right-sex-${rightSex}">${leftName}</option>
			{{/each}}
		</select>
		<!--<div id="relation-tooltip" class="ToolTip">
			<p class="Error">Поле "Кем приходится" должно быть заполнено</p>
		</div>-->
	</div>
	<div class="QuartCol">
		<label>Фамилия</label>
		<!--<input type="text" name="relation-name-last" value="${relation.name.last}" data-subbind="true" data-tooltip-position="bottom">-->
		<input type="text" name="relations-${relation.cid}-name-last" data-tooltip-position="bottom" data-maxlength="30">
	</div>
	<div class="QuartCol">
		<label>Имя</label>
		<!--<input type="text" name="relation-name-first" value="${relation.name.first}" data-subbind="true" data-tooltip-position="bottom">-->
		<input type="text" name="relations-${relation.cid}-name-first" data-tooltip-position="bottom" data-maxlength="30">
	</div>
	<div class="QuartCol">
		<label>Отчество</label>
		<input type="text" name="relations-${relation.cid}-name-middle" data-tooltip-position="bottom" data-maxlength="30">
	</div>
	<div class="HalfCol">
		<label>Телефон</label>
		<input type="text" name="relations-${relation.cid}-phones-${relation.phone.cid}-number" placeholder="+7(xxx)xxx-xxx-xx" data-type="phone" data-tooltip-position="bottom" data-maxlength="30">
	</div>
	<div class="QuartCol">
		<div class="AddLine ActionsOnly">
			<i class="AddIcon Icon Tiny Actions Clone"></i>
			<i class="RemoveIcon Icon Tiny Actions Remove"></i>
		</div>
	</div>
</div>