<script id="biomaterials-grid" type="text/x-jquery-tmpl">
	<table class="Grid">
		<thead>
		<tr>
			<th>
				<input type="checkbox" name="all" id="select-all" title="Отметить все">
			</th>
			<th>
				<a class="Actions SortCol" data-field="date">Дата и время</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="fio">ФИО</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="sex">Пол</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="birthDate">Дата рожд.</a>
			</th>
			<th>
				<a class="Actions SortCol" data-field="tissueType">Биоматериал</a>
			</th>
			<!---->
			<th>
				<a class="Actions SortCol" data-field="urgent">Срочность</a>
			</th>
			<!--<th>-->
				<!--<a class="Actions SortCol" data-field="testTube">Пробирка</a>-->
			<!--</th>-->
			<th >
				Объём
			</th>
			<th>
				<a class="Actions SortCol" data-field="status">Статус</a>

			</th>
		</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</script>

<script id="biomaterials-grid-row" type="text/x-jquery-tmpl">
	<td class="status-code-${status} ${highlight}">
		{{if status<=2}}
		<input type="checkbox" class="id" name="id" value="${id}"/>
		{{/if}}
		<!-- ${id} -->

	</td>

	<td class="status-code-${status} ${highlight}">
		{{formatDateTime date}}
	</td>

	<td class="status-code-${status} ${highlight}">
		${patient.name.raw}
	</td>
	<td class="status-code-${status} ${highlight}">
		${patient.sex}
	</td>
	<td class="status-code-${status}  ${highlight}">
		{{formatDate patient.birthDate}}

	</td>
	<td class="status-code-${status}  ${highlight} HasToolTip open-popup" data-tooltip-content="#tooltip_${id}">

		{{if status == 0}}
			<b class="open-popup"><u class="open-popup">${biomaterial.tissueType.name} (${actions.length})</u></b>
		{{else}}
			<u class="open-popup">${biomaterial.tissueType.name} (${actions.length})</u>
		{{/if}}

		<div id="tooltip_${id}" class="ToolTip TopTail">
				<ul >
				{{if assigner}}
					<li>Назначивший врач: ${assigner.name.raw}</li>
				{{/if}}

				</ul>
				<ul style="margin-bottom: 10px;">
				{{if bed && bed.name}}
				<li>Отделение/койка: ${bed.name}</li>
				{{/if}}
				{{if label}}
				<li>Пометка: ${label}</li>
				{{/if}}
				{{if note}}
				<li>Примечание: ${note}</li>
				{{/if}}
			</ul>


				<b>{{if actions.length > 1}}Лабораторные исследования{{else}}Лабораторное исследованиe{{/if}}:</b>
			<ol>
				{{each actions}}
				<li>${actionType.name}</li>
				{{/each}}

			</ol>



		</div>
	</td>

	<td class="status-code-${status}  ${highlight}">
		{{if urgent}}<span class="Urgent">срочно</span>{{/if}}
	</td>

	<td class="status-code-${status}  ${highlight}">
		{{if volume}}
			${volume}
			{{if biomaterial.unit && biomaterial.unit.name}} ${biomaterial.unit.name}{{/if}}
		{{/if}}

	</td>




	<td class="status-code-${status}  ${highlight}">
		<span class="status-name">${statusName}</span>
	</td>
</script>

<script id="biomaterials-grid-row-error" type="text/x-jquery-tmpl">
	<td colspan="7">
		Ничего не найдено
	</td>
</script>

<script id="biomaterials-grid-row-default" type="text/x-jquery-tmpl">
	<td colspan="7">Введите необходимые данные в поля фильтров</td>
</script>

<script id="biomaterials-grid-row-on-fetch" type="text/x-jquery-tmpl">
	<td colspan="7"><i class="icon-spinner icon-spin"></i> Выполняем запрос...</td>
</script>

